.hotel-facilities_block.placeholder-facilities
   .row
      .col-md-3.col-sm-6
         .hotel-facilities_block-item
            .placeholder-title.placeholder-item.w-25
            ul
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-10
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-20
         .hotel-facilities_block-item
            .placeholder-title.placeholder-item.w-30
            ul
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-15
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-20
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-10
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-40
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-35
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-20
         .hotel-facilities_block-item
            .placeholder-title.placeholder-item.w-30
            ul
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-55
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-45
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-50
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-55
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-70
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-55
      .col-md-3.col-sm-6
         .hotel-facilities_block-item
            .placeholder-title.placeholder-item.w-20
            ul
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-85
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-75
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-65
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-65
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-15
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-45
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-35
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-90
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-55
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-50
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-35
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-50
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-15
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-35
         .hotel-facilities_block-item
            .placeholder-title.placeholder-item.w-55
            ul
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-25
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-45
      .col-md-3.col-sm-6
         .hotel-facilities_block-item
            .placeholder-title.placeholder-item.w-55
            ul
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-45
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-50
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-55
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-20
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-40
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-10
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-65
         .hotel-facilities_block-item
            .placeholder-title.placeholder-item.w-45
            ul
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-55
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-25
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-35
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-30
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-25
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-20
      .col-md-3.col-sm-6
         .hotel-facilities_block-item
            .placeholder-title.placeholder-item.w-35
            ul
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-35
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-80
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-70
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-60
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-15
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-35
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-30
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-45
         .hotel-facilities_block-item
            .placeholder-title.placeholder-item.w-30
            ul
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-50
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-35
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-20
               li
                  .placeholder-icon.placeholder-item
                  .placeholder-text.placeholder-item.w-40