.sidebar-logo.placeholder-logo
	.placeholder-image.placeholder-item.w-80
	.placeholder-text.placeholder-item.w-65
.sidebar-info.placeholder-info
	.sidebar-info_name-rating
		.sidebar-info_name-rating_title
			.placeholder-title.placeholder-item.w-90
			.placeholder-title.placeholder-item.w-70
		.sidebar-info_name-rating_rating
			.placeholder-rating.placeholder-item.w-55
			.placeholder-rating.placeholder-item.w-40
			.placeholder-rating.placeholder-item.w-65
	.sidebar-info_ranking
		.placeholder-ranking.placeholder-item.w-35
		.placeholder-ranking.placeholder-item.w-70
	.sidebar-info_comments
		.placeholder-comment.placeholder-item.w-70
		.placeholder-comment.placeholder-item.w-95
		.placeholder-comment.placeholder-item.w-80
		.placeholder-comment.placeholder-item.w-25
		.placeholder-comment.placeholder-item.w-80
		.placeholder-comment.placeholder-item.w-20
		.placeholder-comment.placeholder-item.w-75
		.placeholder-comment.placeholder-item.w-65