.ie-style {
  .grid-item {
    &:nth-child(2n) {
      margin-left: 14px;
    }
  }
  .list-view {
    .grid-item {
      margin-left: 0;
    }
  }
}
@-moz-document url-prefix() {
  .search-filter-block .input-group .datepicker-book-rooms::before {
    top: 10px;
  }
}
