/* Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 1400px) {
  .list-btn {
    position: relative;
    top: 1px;
  }
}
.ie-style {
  aside .checkbox label::after {
    margin-top: -14px;
  }
}