@import "mixins";
.black-text {
  color: #000 !important;
}

.blue-text {
  color: #7fc0fd !important;
}

.distance-blue {
  color: #2f8ce8!important;
}

.orange-text {
  color: #f99e3e;
}

.red-text {
  color: #ff383f;
}

.green-text {
  color: #69b926 !important;
}

.white-text {
  color: #ffffff;
}

.white {
  background-color: #ffffff;
}

.navy {
  background-color: #242830;
}

.black {
  background-color: #000000;
}

.underline {
  text-decoration: underline !important;
}

.block {
  display: block;
}

.list-item {
  font-family: 'Roboto', sans-serif !important;
  width: 100%;
  float: left;
  transition: transform 0.5s;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(108, 118, 123, 0.4);
  & > img {
    min-height: 185px;
  }
  .views {
    background: $main-blue;
    padding: 4px 35px;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 5px 0;
    float: right;
    color: #ffffff;
  }
  .stars {
    margin-bottom: 10px;
    li {
      .fa-dot-circle-o {
        margin-right: 3px;
      }
    }
  }
}

.grid-item {
  font-family: 'Roboto', sans-serif !important;
  @include calc(width, '(100% - 15px)/2');
  float: left;
  transition: transform 0.5s;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(108, 118, 123, 0.4);
  position: relative;
  &:nth-child(2n) {
    margin-left: 15px;
  }
  .number {
    img {
      width: 25px;
      height: 25px;
    }
  }
  .views {
    float: right;
    background: #7fc0fd;
    padding: 2.5px 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 2px;
    margin-right: -13px;
    color: #ffffff;
  }
  .warning {
    position: absolute;
    color: #fff;
    top: 25%;
    width: 40%;
    padding: 7px 5px;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    @include crossBrowser(transition, top .2s ease);
    &.red {
      background: rgba(255, 69, 76, 0.85);
    }
    &.orange {
      background: rgba(222, 140, 54, 0.85);
    }
    &.green {
      background: rgba(122, 168, 53, 0.85);
    }
  }
  img {
    width: 100%;
  }
  .stars {
    margin-top: -5px;
  }
  .small-text {
    margin-top: 4px;
    margin-bottom: 12px;
  }
  .extra-small {
    margin-left: -2px;
    text-decoration: underline !important;
  }
  .price {
    font-size: 20px;
    margin-bottom: 0;
  }
  .red-price {
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 5px;
  }
  .trip {
    float: left;
    width: 30px;
    img {
      margin-top: 6px;
    }
  }
  .booked {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    span {
      font-weight: 700;
    }
  }
  .top {
    background: #ff383f;
    color: #fff;
    padding: 4px 8px 3px;
    font-size: 10px;
    position: absolute;
    left: 0;
    text-transform: uppercase;
    &:after {
      content: '';
      position: absolute;
      display: block;
      border: 10px solid #ff383f;
      border-left-width: 1px;
      border-right-color: transparent;
      left: initial;
      right: -10px;
      top: 0;
    }
  }
}

.stars {
  width: 100%;
  float: left;
  li {
    display: inline-block;
    float: left;
    i.fa-star {
      color: #f99e3e;
      font-size: 14px;
      margin-left: 1px;
      margin-right: 3px;
    }
  }
}

.count {
  float: right;
  background: $light-blue;
  color: #fff;
  padding: 7px 10px 6px 7.6px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  line-height: 4px;
  margin-top: 2px;
  i {
    font-size: 12px;
    color: white;
    margin-right: 10px;

  }
}

.grid {
  display: none;
}

.reviews {
  width: 100%;
  float: left;
  margin: -7px;
  li {
    display: inline-block;
    float: left;
    margin-right: 2px;
    margin-top: 3px;
    margin-left: 1.5px;
  }
}

i.fa-dot-circle-o {
  font-size: 10pt;
}

.features {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  li {
    display: inline-block;
    float: left;
    margin-right: 15px;
    i {
      font-size: 18px;
      color: #0c8a96;
    }
  }
}

#map {
  margin-left: 15px;
  float: left;
  height: 100%;
  min-height: 1500px;
  background-color: grey;
  @include calc(width, '30% - 60px');
  &.full-width {
    @include calc(width, '100% - 30px');
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e8eaed;
}

.exclusive {
  background-color: #00c2ff;
  float: left;
  margin-top: 2px;
  margin-bottom: 15px;
  .price {
    font-size: 22px;
    margin-top: 58px;
    .regular-text {
      font-size: 9pt;
    }
  }
  .price-red {
    font-size: 18px;
    .regular-text {
      font-size: 9pt;
    }
  }
  .reviews {
    width: auto;
    margin: auto;
  }
  .reviews-number {
    float: left;
    margin-top: 3px;
    margin-left: 6px;
  }
  .top {
    float: right;
    background: #ff383f;
    color: #ffffff;
    padding: 4px 8px 2px;
    font-size: 10px;
    position: relative;
    text-transform: uppercase;
    &:before {
      content: '';
      position: absolute;
      display: block;
      border: 10px solid #ff383f;
      left: -10px;
      top: 0;
      border-right-width: 1px;
      border-left-color: transparent;
    }
  }
  h5 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
  }
  h4 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
  }
  h3 {
    width: 145px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 9px;
    margin: 19px auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  .img-responsive {
    width: 100%;
  }
  .cancelon {
    border: 1px solid #f99e3e;
    color: #f99e3e;
    float: left;
    padding: 3px 10px 2px;
    text-transform: uppercase;
    font-size: 10px;
  }
  .orange-view {
    margin-top: -5px;
    background-color: #f99e3e;
    padding: 5px 15px 3px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
    float: right;
    cursor: pointer;
    text-transform: uppercase;
    @include crossBrowser(border-radius, 2px);
    &:hover {
      background-color: #de8c36;
    }
  }
}

.btrans {
  border: 10px solid $main-blue;
  border-right-width: 7.5px;
  border-bottom-width: 15px;
  & + & {
    border-right-width: 10px;
    border-left-width: 7.5px;
  }
}

footer {
  background-color: #282d36;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  .input-group {
    button {
      height: 49px;
      width: 150px;
      background-color: #96a4af;
      color: #ffffff;
    }
  }
  h1 {
    font-family: "Montserrat", sans-serif;
  }
  a {
    font-size: 14px !important;
    font-family: "Montserrat", sans-serif;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .form-control {
    background-color: #242628;
    color: #9d9d9d;
    border: none;
    height: 50px;
    border: none;
    &::-moz-placeholder {
      color: #9d9d9d;
    }
  }
  .navbar-text {
    color: #ffffff;
    margin-top: 38px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserat', sans-serif;
  }
  .widget-container {
    font-family: "Montserat", sans-serif;
    h1 {
      color: #ffffff;
      font-size: 26px;
    }
    li {
      padding-top: 7px;
      padding-bottom: 7px;
      a {
        color: #ffffff;
        font-size: 14px;
        &:hover {
          text-decoration: underline !important;
        }
      }
    }
  }
  .navy {
    .widget-container {
      li {
        padding-top: 0;
        padding-bottom: 0;
        a {
          color: #b8b8b8;
          font-size: 12px !important;
          &:hover {
            text-decoration: underline !important;
          }
        }
      }
    }
  }
  .best-price {
    color: #6ac0f3!important;
    text-decoration: underline!important;
    &:hover {
      color: lighten(#6ac0f3, 15%)!important;
      text-decoration: underline!important;
    }
  }
}

.social {
  float: right;
  margin-top: 25px;
  margin-right: 8px;
  li {
    float: left;
    border: 2px solid $dark-blue;
    text-align: center;
    border-radius: 50%;
    padding: 1px;
    margin: 3.9px;
    font-size: 23px;
    &:hover {
      background-color: $dark-blue;
    }
    a {
      font-size: 23px;
      padding: 3px;
      width: 40px;
      display: block;
      height: 40px;
      line-height: 42px;
      i {
        font-size: 23px;
        color: #ffffff;
      }
    }
  }
}

aside {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  margin-left: 15px;
  float: left;
  width: $aside-width;
  @media screen and (min-width: 1441px) {
    $aside-width: 14%;
    width: $aside-width;
  }
  #amount1 {
    float: left;
    width: 46%;
    color: #000000 !important;
    font-weight: bold;
    background-color: #f3f3f3;
    padding: 5px;
    text-align: center;
    margin: -5px;
    margin-left: -4px;
    margin-top: 11px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
  }
  #amount2 {
    width: 46%;
    color: #000000 !important;
    font-weight: bold;
    background-color: #f3f3f3;
    padding: 5px;
    text-align: center;
    margin: -5px;
    margin-left: 27px;
    margin-top: 11px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
  }
  .panel-title {
    > a {
      &.collapsed {
        background-color: #ebebeb;
      }
    }
  }
  #date-adults {
    .input-group-addon {
      border-left: 0;
      border-top: 0;
      border-radius: 0;
    }
  }
  .stars-filter {
    .checkbox {
      label {
        &:after {
          margin-top: -14px;
        }
      }
    }
  }
  .facilities {
    .checkbox {
      label {
        padding-left: 25px;
        i {
          position: absolute;
          left: 0;
          top: 3px;
          bottom: 0;
          margin: auto;
          width: 15px;
          text-align: center;
        }
      }
    }
  }
  .checkbox {
    padding-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    .stars {
      position: relative;
      top: 3px;
    }
  }
  .checkbox input[type="checkbox"] {
    right: 0;
    opacity: 0;
    &:focus {
      outline: none!important;
      &+label:after {
        outline: none!important;
      }
    }
  }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    width: 100%;
    &::after {
      content: "";
      display: inline-block;
      position: relative;
      left: 0;
      float: right;
      margin-left: 100%;
      margin-top: -17px;
      width: 14px;
      height: 14px;
      border: 1px solid #cccccc;
      border-radius: 0;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &::before {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      right: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555;
    }
  }
  .checkbox input[type="checkbox"]:focus + label::after {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .checkbox input[type="checkbox"]:checked + label::before {
    font-family: 'FontAwesome';
    content: "";
  }
  .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
  }
  .checkbox input[type="checkbox"]:disabled + label::after {
    background-color: #eeeeee;
    cursor: not-allowed;
  }
  .checkbox.checkbox-circle label::after {
    border-radius: 50%;
  }
  .checkbox.checkbox-inline {
    margin-top: 0;
  }

  .checkbox-primary input[type="checkbox"]:checked + label::after {
    background-color: #428bca;
    border-color: #428bca;
  }
  .checkbox-primary input[type="checkbox"]:checked + label::before {
    color: #fff;
  }

  .checkbox-danger input[type="checkbox"]:checked + label::after {
    background-color: #d9534f;
    border-color: #d9534f;
  }
  .checkbox-danger input[type="checkbox"]:checked + label::before {
    color: #fff;
  }

  .checkbox-info input[type="checkbox"]:checked + label::after {
    background-color: #5bc0de;
    border-color: #5bc0de;
  }
  .checkbox-info input[type="checkbox"]:checked + label::before {
    color: #fff;
  }

  .checkbox-warning input[type="checkbox"]:checked + label::after {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }
  .checkbox-warning input[type="checkbox"]:checked + label::before {
    color: #fff;
  }

  .checkbox-success input[type="checkbox"]:checked + label::after {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  .checkbox-success input[type="checkbox"]:checked + label::before {
    color: #fff;
  }

  .radio {
    padding-left: 20px;
  }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
  }
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
  .radio input[type="radio"] {
    opacity: 0;
  }
  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }
  .radio.radio-inline {
    margin-top: 0;
  }

  .radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
  }
  .radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
  }
  .radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
  }

  .radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
  }
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
  }
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
  }

  .radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
  }
  .radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
  }
  .radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
  }

  .radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
  }
  .radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
  }
  .radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
  }

  .radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
  }
  .radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
  }
  .radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
  }
}

.navy {
  ul {
    li {
      a {
        color: #b8b8b8;
      }
    }
  }
}


.sign-in-menu {
  padding: 15px 0 13px;
  min-width: 320px;
  .big-text {
    & + a {
      line-height: 21px;
      text-decoration: underline!important;
      text-align: right;
    }
  }
  p {
    margin: 0;
  }
  .log-input {
    border: none;
    border-bottom: 2px solid #636e80;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
  }
  .sign-btn {
    color: #fff!important;
    background: $main-blue!important;
    padding: 12px 15px;
    border-radius: 2px;
    text-transform: uppercase;
    width: 100%;
    display: block;
  }
  .socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    a {
      width: 20px;
      text-align: center;
      color: #333!important;
      &:hover {
        color: $main-blue!important;
      }
      i {
        font-size: 16px;
      }
    }
  }
  @include placeholder-color('.log-input', #a1a1a1);
}

.languages-menu {
  @media (min-width: 768px) {
    right: -1px;
    left: initial;
    min-width: 140px;
  }
  .languages {
    padding-left: 0;
    padding-right: 0;
    a {
      float: left;
      width: 100%;
      color: #000 !important;
      padding: 5px 13px;
      img {
        border-radius: 4px;
        margin-right: 12px;
        margin-top: -1px;
      }
      &:hover {
        color: $main-blue!important;
      }

    }
  }
}

.currency-menu {
  .dropdown-menu {
    li {
      a {
        color: #333!important;
      }
      &:hover {
        background: $main-blue;
        .text {
          color: #fff!important;
        }
      }
    }
  }
}

.filter-top {
  height: 55px;
  padding-top: 18px;
  padding-left: 15px;
  padding-right: 15px;

  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    padding: 1px 0 0;
    margin-top: -3px;
    margin-left: -3px;
  }
  .search-filter {
    float: left;
    width: $aside-width;
    @media screen and (min-width: 1441px) {
      $aside-width: 14%;
      width: $aside-width;
    }
    .hide-filter {
      margin-right: 10px;
    }
  }
  .content-settings {
    float: left;
    margin-left: 5px;
    @include calc(width, '#{$content-settings-width} - 5px');
    @media screen and (min-width: 1441px) {
      $content-settings-width: 86%;
      @include calc(width, '#{$content-settings-width} - 5px');

    }
    .display {
      float: left;
      padding-right: 20px;
      margin-left: 5px;
      margin-top: -3px;
    }
  }
}

.check {
  float: left;
  font-family: 'Roboto', sans-serif !important;
}

.loading-more {
  width: 100%;
  float: left;
}
.loading {
  font-size: 18px;
  width: 100%;
  float: left;
  text-align: center;
  color: #b3b3b3;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
  span {
    margin-left: 5px;
    top: 1px;
    position: relative;
  }
}

.content-wrapper {
  display: block;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  width: 54%;
  @include crossBrowser(transition, width .2s);
  @media screen and (min-width: 1441px) {
    width: 56%;
  }
  &.hidden-sidebar-filter {
    @include calc(width, '70% + 15px');
    //@media screen and (min-width: 1441px) {
    //  @include calc(width, '72% + 15px');
    //}
  }
}
.hidden-sidebar-filter {
  .grid-item {
    .warning {
      top: 35%;
    }
    .views {
      margin-right: -18px;
    }
  }
}

@include placeholder-color('.special-sign[type="text"]', #9d9d9d);

#map .gm-style-iw .thumbnail {
  margin: 0;
}

/* white background and box outline */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div {
  /* we have to use !important because we are overwritng inline styles */
  background-color: transparent !important;
  box-shadow: none !important;
  width: auto !important;
  height: auto !important;
}

/* arrow colour */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div {
  box-shadow: none !important;
  background-color: #ffffff !important;
}

/* close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child {
  margin-right: 5px;
  margin-top: 5px;
  display: none;
}

/* image icon inside close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child > img {
  display: none;
}

/* positioning of infowindow */
.gm-style-iw {
  top: 22px !important;
  left: 22px !important;
}
.thumbnail {
  display: block;
  position: relative;
  padding: 0;
  margin-bottom: 29px;
  line-height: 1.6666;
  background-color: #fff;
  border: none;
  border-radius: 0;
  &-img {
    position: relative;
    display: block;
  }
  &-info {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px 10px;
    .label {
      color: #fff;
      background-color: #ff383f;
      border-radius: 0;
      font-weight: 600;
      padding: 7px 12px;
      font-size: 14px;
    }
  }
  .caption {
    padding: 10px 22px 1px;
    color: #333333;
    padding-top: 20px;
    h5 {
      margin-bottom: 5px;
      a {
        font-size: 18px;
        font-weight: 600;
        color: #000;
      }
    }
    p {
      font-size: 15px;
      font-weight: 400;
    }
    .view-btn {
      margin-bottom: 15px;
      display: block;
      width: 70px;
      text-align: center;
      line-height: 16px;
      margin-top: -5px;
      background-color: #f99e3e;
      padding: 5px 15px 3px;
      color: #fff;
      font-size: 9pt;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 2px;
      &:hover {
        background-color: #de8c36;
      }
    }
  }
  a {
    & > img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.black-bg-search {
  display: none;
  position: absolute;
  z-index: 5;
  top: -55px;
  right: 15px;
  height: calc(100% + 55px);
  background: rgba(0, 0, 0, 0.25);
  @include calc(width, '100% - 30px');
}
.black-bg-map {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 15px;
  height: 100%;
  background: rgba(15, 48, 78, 0.7);
  @include calc(width, '100% - #{$aside-width} - 30px');
  @media screen and (min-width: 1441px) {
    $aside-width: 14%;
    @include calc(width, '100% - #{$aside-width} - 30px');
  }
  &.no-filter {
    @include calc(width, '100% - 30px');
  }
}
.close-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  .bar {
    display: block;
    background-color: #000;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    &:first-child {
      @include crossBrowser(transform, rotate(45deg));
    }
    &:first-child + * {
      @include crossBrowser(transform, rotate(-45deg));
    }
  }
}
.nav-pills {
  > li {
    &.active {
      > a, &:focus, &:hover {
        color: #2196f3!important;
        background-color: transparent!important;
      }
      border-bottom: 2px solid #f44336;
    }
    a {
      color: #333;
      background: transparent!important;
    }
  }
}

.filter-top {
  .bootstrap-select {
    .dropdown-menu {
      font-family: "Roboto", sans-serif;
    }
  }
}