.payment-timer {
  padding: 50px 0;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px rgba(108,118,123,.15);
  .timer-container {
    overflow: hidden;
  }
  .loading-search-cover,
  .loading-title-cover {
    .loading-title {
      margin: 45px auto 0;
    }
  }
  .time {
    display: flex;
    align-items: center;
    justify-content: center;
    .timer {
      font-size: 26px;
      font-weight: 500;
      color: #38869d;
      margin-left: 15px;
      &.full-time {

      }
      &.half-time {

      }
      &.empty-time {

      }
    }
  }
}
.payment-details {
  position: relative;
  .info-label {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    padding: 6px 10px;
    &.green {
      background: #68b925;
    }
  }
  .sidebar-block-wrapper {
    width: 285px;
    float: left;
    height: 1px;
  }
  .sidebar-block,
  .sidebar-block-mobile {
    font-family: "Roboto", sans-serif;
    .panel {
      box-shadow: none;
      border-radius: 0;
      margin-bottom: 15px;
      &-heading {
        padding: 17px 15px;
        border: 1px solid #d0d8e1;
        margin-bottom: 0;
      }
      &-title {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
      }
      &-body {
        padding: 15px;
        border-left: 1px solid #cbd9ee;
        border-right: 1px solid #cbd9ee;
        border-bottom: 1px solid #cbd9ee;
        p {
          font-size: 16px;
          font-weight: 500;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .payment-details-full {
      background: #ecf3ff;
      font-size: 16px;
      font-weight: 500;
      & > * {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text {
          color: #000;
          font-size: 16px;
        }
        .number {
          font-size: 24px;
        }
      }
      .old-price {
        color: #989898;
        text-align: right;
      }
      .change-details {
        a {
          float: right;
          font-size: 14px;
          font-weight: 400;
          color: $main-blue;
          &:hover {
            text-decoration: underline!important;
          }
        }
      }
    }
    .payment-details-info {
      background: #ecf3ff;
      font-size: 16px;
      font-weight: 500;
      border-top: 1px solid #cbd9ee;
      .block-slider {
        margin-bottom: 15px;
        .owl-carousel-info-payment {
          height: 155px;
          overflow: hidden;
          width: calc(100% - 48px - 15px);
          float: left;
          margin-right: 15px;
          .owl-item {
            img {
              height: 155px;
            }
          }
        }
        .owl-thumbs-info-payment {
          width: 48px;
          float: left;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .owl-thumb-item {
            background: 0 0;
            padding: 0;
            width: 45px;
            height: 45px;
            float: left;
            margin-bottom: 10px;
            position: relative;
            border: 0;
            &:before {
              content: '';
              position: absolute;
              border: 3px solid transparent;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              @include crossBrowser(transition, .2s ease);
            }
            &.active {
              &:before {
                border-color: #00c2ff;
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .title {
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        margin-top: 15px;
        margin-bottom: 5px;
        a {
          color: #000;
          position: relative;
          &:hover {
            text-decoration: underline!important;
          }
        }
      }
      .trip {
        float: left;
        img {
          max-width: 105px;
        }
      }
      .stars {
        margin-bottom: 5px;
      }
      .reviews {
        float: left;
        font-size: 12px;
        text-decoration: underline!important;
        width: 35%;
        min-width: 90px;
        color: #00c2ff;
        margin-top: 4px;
        margin-left: 10px;
        &:hover {
          text-decoration: initial!important;
        }
      }
      .address {
        font-size: 14px;
        float: left;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .change-room {
      background: #e3e9f3;
      &-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .type {
          font-weight: 500;
          font-size: 16px;
        }
        a {
          font-size: 14px;
          font-weight: 400;
          color: $main-blue;
          &:hover {
            text-decoration: underline!important;
          }
        }
      }
    }
    .order-another {
      text-align: right;
      margin: 30px 0;
      .title {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .text {
          font-size: 16px;
          font-weight: 500;
          color: #000;
        }
        .arrow {
          & > * {
            font-size: 60px;
            line-height: 0;
            position: relative;
            top: 15px;
            right: -10px;
          }
        }
      }
      .hotel-name {
        padding-right: 60px;
        font-size: 14px;
        font-weight: 400;
        color: #cecece;
      }
    }
    .payment-booking-details {
      .change-dates-button {
        a {
          float: right;
          font-size: 14px;
          font-weight: 400;
          color: #00c2ff;
          &:hover {
            text-decoration: underline!important;
          }
        }
      }
    }
  }
}
.payment-block {
  @include calc(width, '100% - 285px - 15px');
  margin-left: 15px;
  float: left;
  //min-height: 1220px;
  margin-bottom: 50px;
  position: relative;
  form {
    background: #fff;
    padding-top: 15px;
    box-shadow: 0 1px 3px rgba(108,118,123,.15);
    margin-bottom: 30px;
  }
  .step {
    background: #fff;
    padding: 0 30px;
    margin-bottom: 30px;
    .step-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;
      margin-top: 10px;
      .step {
        &-text {
          padding-left: 15px;
        }
        &-number {
          font-size: 26px;
          color: #fff;
          background: #00b9f1;
          border-radius: 50px;
          width: 50px;
          height: 50px;
          position: relative;
          span {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 35px;
            text-align: center;
          }
        }
        &-title {
          font-size: 26px;
        }
        &-description {
          font-size: 16px;
          font-family: "Roboto", sans-serif;
        }
      }
    }
    .step-body {
      font-family: "Roboto", sans-serif;
      .form-group {
        position: relative;
        .control-label {
          .danger {
            color: #f10000;
            padding-left: 10px;
          }
        }
        label {
          font-size: 16px;
          font-weight: 400;
          color: #000;
        }
        input {
          border: 1px solid #d8def0;
          height: 50px;
          border-radius: 0;
          & + img {
            position: absolute;
            z-index: 1;
            bottom: 10px;
            left: 25px;
            height: 30px;
            width: initial;
          }
        }
        .help-block {
          pointer-events: none;
          position: absolute;
          right: 30px;
          top: 29px;
          bottom: 0;
          margin: auto;
          font-size: 14px;
          color: #bf4f65;
          line-height: 46px;
          li {
            display: none;
            &:last-child {
              display: block;
            }
          }
        }
        &.has-success {
          input {
            border-color: #c8dd99;
          }
        }
        &.has-error {
          input {
            border-color: #fbc0c7;
          }
        }
        .list-of-phones {
          float: left;
          width: 140px;
          height: 50px;
          button {
            height: 100%;
            border-radius: 0;
            border: 1px solid #d8def0;
            border-right: 0;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            background: #ebeef7;
            padding: 15px;
            &:hover,
            &:active,
            &:focus {
              background: lighten(#ebeef7, 1%);
              color: #000;
              box-shadow: none;
            }
            .bs-caret {
              .caret {
                right: 0;
                margin: auto;
                left: 0;
              }
            }
            .filter-option {
              padding-left: 30px;
              text-align: right;
              &:before {
                content: '';
                position: absolute;
                width: 30px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: cover;
                left: 15px;
                top: 0;
                bottom: 0;
                margin: auto;
              }
            }
            @each $code, $name in $countries {
              &[title='#{$code}'] {
                .filter-option {
                  &:before {
                    background-image: url('/images/country-flags/#{$name}.png');
                  }
                }
              }
            }

          }
        }
        .phone-number-block {
          input {
            float: left;
            @include calc(width, '100% - 140px');
          }
        }
        .find-my-location {
          position: absolute;
          font-size: 14px;
          font-weight: 400;
          color: #00c2ff;
          right: 50px;
          top: 42px;
          z-index: 3;
          &:hover {
            text-decoration: underline!important;
          }
        }
      }
    }
    .step-footer {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      color: #b0b0b0;
    }
    .cvv-input {
      display: none;
      position: absolute;
      z-index: 5;
      background: #fff;
      width: calc(100% - 30px);
      border: 1px solid #d8def0;
      box-shadow: 0 4px 7px 0 rgba(0,0,0,.1);
      .numbers-block {
        width: 50%;
        margin: 20px auto 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .number,
        .delete-button {
          width: 32%;
          height: 62px;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          border: 1px solid #d8def0;
          margin-bottom: 4px;
          a {
            color: #000;
            line-height: 60px;
            width: 100%;
            height: 100%;
            display: block;
            @include crossBrowser(transition, background .2s ease-in);
            &:hover {
              background: #e8edff;
            }
          }
        }
        .delete-button {
          width: 66%;
        }
        .enter-button {
          width: 100%;
          height: 62px;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          border: 1px solid $main-blue;
          margin-bottom: 4px;
          background: $main-blue;
          a {
            color: #fff;
            line-height: 60px;
            width: 100%;
            height: 100%;
            display: block;
            @include crossBrowser(transition, background .2s ease-in);
            &:hover {
              background: lighten($main-blue, 10%);
            }
          }
        }
      }
    }
    .bootstrap-select {
      height: 50px;
      &.open {
        .dropdown-toggle {
          background: #f7f7f7;
          color: #000;
          box-shadow: none;
        }
      }
      & + img {
        position: absolute;
        z-index: 2;
        bottom: 10px;
        left: 25px;
        height: 30px;
        width: initial;
      }
      .dropdown-toggle {
        height: 100%;
        border-radius: 0;
        border: 1px solid #d8def0;
        font-family: Roboto,sans-serif;
        font-weight: 500;
        &:hover,
        &:active,
        &:focus {
          background: #f7f7f7;
          color: #000;
          box-shadow: none;
        }
      }
      .dropdown-menu {
        & > li {
          & > a {
            padding: 10px 20px;
          }
        }
      }
    }
    .help-button {
      a {
        position: absolute;
        top: 37px;
        right: 30px;
        font-size: 22px;
        color: $main-blue;
        &:hover {
          & + .cvv-help {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .cvv-help {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background: #fff;
        border: 2px solid $main-blue;
        z-index: 2;
        right: -74px;
        bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        @include crossBrowser(transition, .2s ease-in);
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid $main-blue;
          position: absolute;
          z-index: 1;
          bottom: -10px;
          left: 0;
          right: 0;
          margin: auto;
        }
        .text {
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
    .small-desc {
      font-size: 12px;
    }
    &.submit-step {
      background: #eff4fb;
      border-top: 1px solid #e2eaf6;
      margin-bottom: 0;
      padding: 30px;
      font-family: "Roboto", sans-serif;
      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .submit-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }
      input[type='submit'] {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        background: #1d79d6;
        height: 65px;
        border: 0;
        padding: 0 85px;
        margin-right: 15px;
        @include crossBrowser(transition, background .2s ease-in);
        &:hover {
          background: lighten(#1d79d6, 10%);
        }
      }
      .cancel {
        a {
          color: #47494b;
          text-decoration: underline!important;
          font-size: 14px;
          &:hover {
            text-decoration: initial!important;
          }
        }
      }
      .alert {
        padding: 0;
        margin: 30px 0 20px;
        border: 0;
        p {
          color: #9ea2a6;
          font-size: 12px;
        }
        a {
          color: $main-blue;
          font-size: 12px;
          text-decoration: underline!important;
          &:hover {
            text-decoration: initial!important;
          }
        }
      }
    }
    &.info-step {
      padding-top: 15px;
      padding-bottom: 70px;
      margin-bottom: 0;
      box-shadow: 0 1px 3px rgba(108,118,123,.15);
      display: none;
      .text {
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
      }
    }
    .payment-method {
      margin-top: 30px;
      margin-bottom: 30px;
      li {
        margin-right: 30px;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          .radio {
            width: 20px;
            height: 20px;
            border-radius: 50px;
            border: 2px solid #000;
            position: relative;
            &:before {
              content: '';
              width: 0;
              height: 0;
              border-radius: 50%;
              background: #000;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              opacity: 0;
              @include crossBrowser(transition, .2s ease-in);
            }
          }
          .text {
            color: #000;
            font-size: 18px;
            font-weight: 500;
            padding-left: 10px;
          }
        }
        &.active {
          a {
            .radio {
              &:before {
                width: 10px;
                height: 10px;
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .other-payment {
      a {
        width: 100%;
        height: 110px;
        border: 1px solid #f5f6fb;
        background: #fff;
        display: block;
        position: relative;
        @include crossBrowser(transition, .2s ease-in);
        &:hover {
          background: #e8edff;
          border-color: #d8def0;
        }
        img {
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
    .credit-card-info {
      input {
        padding-left: 75px;
      }
      #inputCardCVC {
        font-size: 20px;
        color: #00c2ff;
      }
      .bootstrap-select {
        .dropdown-toggle {
          padding-left: 75px;
        }
      }
      .last-line-wrapper {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        float: left;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .payment-block {
    .step {
      .step {
        &-header {
          margin-bottom: 25px;
          .step-text {
            width: calc(100% - 50px);
          }
        }
      }
      .small-desc {
        padding-left: 10px;
      }
      .help-button {
        a {
          top: 59px;
        }
        .cvv-help {
          bottom: 55px;
        }
      }
      .cvv-input {
        .numbers-block {
          width: 60%;
          .number {
            height: 55px;
            a {
              line-height: 55px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .payment-timer {
    padding: 30px 0;
    margin-bottom: 30px;
    .loading-search-cover,
    .loading-title-cover {
      .loading-title {
        margin: 25px auto 0;
      }
    }
  }
  .payment-details {
    .sidebar-block-wrapper {
      width: 100%;
      height: initial;
      &.draggable-container {
        overflow: hidden;
        /* no selection */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .draggable {
        width: 9999999px;
        //white-space: nowrap; /* all on same line */
        font-size: 0; /* fix inline block spacing */
      }
    }
    .sidebar-block {
      //max-width: calc(280px * 3);
      height: 300px;
      .panel {
        width: 285px;
        float: left;
        padding-right: 30px;
        background: transparent;
        margin-bottom: 30px;
        &:last-child {
          padding-right: 0;
        }
        &.slider-panel {
          width: 560px;
          opacity: .4;
          padding-right: 0;
        }
        .panel-body {
          background: #fff;
        }
        .payment-booking-details {
          .change-dates-button {
            margin-top: 18px;
          }
        }
        .payment-details-full {
          background: #ecf3ff;
        }
        .payment-details-info {
          background: #ecf3ff;
          position: relative;
          .block-slider {
            width: 50%;
            float: left;
            .owl-carousel-info-payment {
              margin-right: 10px;
              height: 164px;
              .owl-item {
                img {
                  height: 164px;
                }
              }
            }
            .owl-thumbs-info-payment {
              .owl-thumb-item {
                width: 48px;
                height: 48px;
              }
            }
          }
          .info-label {
            position: absolute;
            left: 15px;
            z-index: 10;
          }
          .title {
            float: left;
            width: calc(51% - 10px);
            padding-left: 10px;
            margin-top: 0;
          }
          .stars {
            width: calc(51% - 10px);
            padding-left: 10px;
          }
          .trip {
            width: 22%;
            max-width: 116px;
            padding-left: 10px;
          }
          .reviews {
            width: 15%;
          }
        }
        .change-room {
          background: #e3e9f3;
        }
      }
    }
  }
  .payment-block {
    width: 100%;
    margin-left: 0;
    .step {
      .bootstrap-select {
        .dropdown-toggle {
          .caret {
            right: 18px;
            border-width: 5px;
          }
        }
      }
      .step-body {
        .form-group {
          .find-my-location {
            right: 60px;
          }
        }
      }
      .other-payment {
        a {
          img {
            max-width: 90%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .payment-timer {
    margin-bottom: 0;
    .loading-title-cover {
      .loading-title {
        margin: 25px auto 0 !important;
      }
    }
  }
  .payment-details {
    .sidebar-block {
      position: relative;
    }
    .sidebar-block-mobile {
      .owl-dot {
        margin-right: 10px;
        span {
          width: 15px;
          height: 15px;
          background: #000!important;
          opacity: .25;
          @include crossBrowser(transition, all .2s ease-in);
        }
        &:hover {
          span {
            opacity: 1;
          }
        }
        &.active {
          span {
            opacity: 1;
          }
        }
      }
      .panel {
        margin: 0 15px 15px;
      }
    }
  }
  .payment-block {
    padding: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    form {
      overflow: hidden;
      margin-bottom: 15px;
    }
    .step {
      padding: 0 15px;
      position: relative;
      .step-header {
        .step-number {
          position: absolute;
          font-size: 24px;
          left: -30px;
          width: 60px;
          height: 60px;
          top: 5px;
          span {
            height: 32px;
            right: -20px;
          }
        }
        .step-text {
          width: 100%;
          padding-left: 35px;
        }
      }
      .step-body {
        .form-group {
          .help-block {
            display: none;
          }
          .list-of-phones {
            width: 90px;
            button {
              .filter-option {
                padding-left: 0;
                &:before {
                  display: none;
                }
              }
              .bs-caret {
                .caret {
                  margin: initial;
                  left: 13px;
                }
              }
            }
          }
          .phone-number-block {
            input {
              @include calc(width, 'calc(100% - 90px)');
            }
          }
        }
      }
      &.submit-step {
        position: relative;
        padding: 15px;
        padding-bottom: 70px;
        .wrapper {
          .submit-wrapper {
            display: block;
            width: 100%;
          }
        }
        .cancel {
          position: absolute;
          bottom: 36px;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
        }
        input[type='submit'] {
          width: 100%;
          padding: 0!important;
          margin-bottom: 15px;
        }
      }
      .credit-card-info {
        .last-line-wrapper {
          flex-direction: column;
        }
      }
      .cvv-input {
        .numbers-block {
          width: 75%;
          .number {
            height: 61px;
          }
        }
      }
      .help-button {
        a {
          top: 37px;
        }
        .cvv-help {
          right: 15px;
          &:before {
            left: inherit;
            right: 13px;
          }
        }
      }
      &.info-step {
        overflow: hidden;
        margin-bottom: 15px;
        .popup {
          padding: 40px 25px 25px 25px;
        }
        .popup_close {
          top: -90px;
          right: 10px;
        }
      }
      .other-payment {
        a {
          margin-bottom: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 416px) {
  .payment-block .step .help-button a {
    top: 58px;
  }
}