/* Placeholders */

$placeholder: #e7e7ea;

body {
  &.placeholder {
    overflow: hidden!important;
    .filter-top,
    .main-wrapper,
    .information-block,
    .booking-wrapper {
      pointer-events: none;
    }
  }
}
.placeholder-hr {
  width: 100%;
  height: 1px;
  background: $placeholder;
}
.placeholder-item {
  background: linear-gradient(
                  to right,
                  rgba(236, 236, 238, 0.7) 30%,
                  rgba(225, 225, 229, 0.7) 50%,
                  rgba(235, 235, 237, 0.7) 70%)!important;
  background-size: 800px 104px!important;
  animation-duration: 2s!important;
  animation-fill-mode: forwards!important;
  animation-iteration-count: infinite!important;
  animation-name: placeholderGradient!important;
  animation-timing-function: linear!important;
}

.loading-search-cover,
.loading-title-cover {
  position: absolute;
  z-index: 99;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border: 1px solid $placeholder;
  background: linear-gradient(
                  to right,
                  rgba(236, 236, 238, 0.7) 30%,
                  rgba(225, 225, 229, 0.7) 50%,
                  rgba(235, 235, 237, 0.7) 70%);
  background-size: 800px 104px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderGradient;
  animation-timing-function: linear;
  .loading-search,
  .loading-title {
    height: 48px;
    line-height: 48px;
    width: 48px;
    margin: 32px auto 0;
    background-image: url('../images/icons/loading-icon.gif');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .loading-title {
    margin: 68px auto 0;
  }
}

.sidebar-filter {
  height: 2475px;
}

.map-wrapper {
  height: 2475px;
  .loading-search-cover {
    .loading-search {
      margin: 120px auto 0;
    }
  }
}

.placeholder-map {
  background: $placeholder;
  width: 100%;
  height: 100%;
}

.placeholder-hidden {
  opacity: 0;
  visibility: hidden;
}

.placeholder-grid {
  .placeholder-grid-item {
    &:hover {
      background: #fff;
    }
    .block-wrapper {
      float: left;
      width: 100%;
      .placeholder {
        &-left-block {
          float: left;
          width: 70%;
          padding: 15px;
        }
        &-right-block {
          float: left;
          width: 30%;
          padding: 15px;
          padding-bottom: 0;
          .placeholder-item {
            float: right;
          }
        }
        &-item {
          height: 13px;
          margin-bottom: 18px;
        }
        &-title {
          width: 80%;
        }
        &-rating {
          width: 20%;
        }
        &-address {
          width: 55%;
        }
        &-distance {
          width: 70%;
        }
        &-icons {
          .placeholder-icon {
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            margin-bottom: 0;
          }
        }
        &-button {
          width: 110px;
          height: 30px;
          margin-top: 50px;
          @media screen and (max-width: 767px) {
            margin-top: 15px;
          }
        }
        &-booked {
          width: 130px;
        }
        &-views {
          width: 150px;
          @media screen and (max-width: 767px) {
            width: 100px;
          }
        }
      }
    }
  }
  &.list-view {
    .placeholder-grid-item {
      .block-wrapper {
        width: 75%;
      }
    }
  }
}

.placeholder-panel-group {
  background: #fff;
  padding: 15px;
  .placeholder-item {
    height: 13px;
    margin-bottom: 15px;
  }
  .placeholder-checkbox {
    float: right;
    width: 13px;
    height: 13px;
  }
  .placeholder-price-range {
    &-price {
      width: 35%;
    }
    &-price2 {
      width: 45%;
    }
    &-price3 {
      width: 55%;
    }
  }
  .placeholder-stars {
    &-stars5 {
      width: 50%;
      float: left;
    }
    &-stars4 {
      width: 40%;
      float: left;
    }
    &-stars3 {
      width: 30%;
      float: left;
    }
    &-stars2 {
      width: 20%;
      float: left;
    }
    &-stars1 {
      width: 10%;
      float: left;
    }
    &-any {
      width: 15%;
      float: left;
    }
  }
  .placeholder-exclusives {
    .placeholder-item {
      float: left;
    }
    .placeholder-checkbox {
      float: right;
    }
  }
  .placeholder-facilities {
    .placeholder-item {
      float: left;
      &.show {
        margin-left: 23px;
      }
    }
    .placeholder-checkbox {
      float: right;
      margin-right: 0;
    }
    &-icon {
      float: left;
      width: 13px;
      height: 13px;
      margin-right: 10px;
    }
  }
  .placeholder-accommodation {
    .placeholder-item {
      float: left;
    }
    .placeholder-checkbox {
      float: right;
    }
  }
}

.placeholder-show {
  display: none!important;
}
.information-block {
  .placeholder-slider {
    width: 65%;
    float: left;
    margin-right: 15px;
    .placeholder-image {
      height: 450px;
      display: block;
      width: 100%;
    }
    .owl-nav {
      opacity: 0;
      visibility: hidden;
    }
  }
  .placeholder-thumbs {
    width: calc(35% - 15px);
    float: left;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0;
    overflow: hidden;
    button {
      height: 83px;
      background: 0 0;
      padding: 0;
      width: 30%;
      float: left;
      margin-bottom: 13px;
      position: relative;
      border: 0;
      & > * {
        display: block;
      }
      &:before {
        display: none;
      }
    }
    .placeholder-thumb-image {
      width: 100%;
      height: 100%;
    }
  }
  .placeholder-logo {
    .placeholder-image {
      height: 32px;
      margin: auto;
    }
    .placeholder-text {
      height: 10px;
      margin: 20px auto 15px;
    }
  }
  .placeholder-info {
    .placeholder-item {
      height: 10px;
      margin-bottom: 10px;
    }
    .placeholder-title {
      height: 15px;
    }
    .sidebar-info_ranking {
      padding-top: 10px;
    }
    .sidebar-info_comments {
      padding-top: 10px;
    }
    .placeholder-comment {
      height: 8px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 3px;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    .placeholder-slider {
      width: 100%;
    }
    .placeholder-thumbs {
      width: 100%;
      height: 80px;
      margin-top: 15px;
      button {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: 992px) {
    .placeholder-thumbs {
      button {
        margin-right: 1px;
      }
    }
  }
}

.hotel-facilities {
  .placeholder-facilities {
    ul {
      li {
        @include clearfix();
        margin-bottom: 10px;
      }
    }
    .placeholder-item {
      height: 12px;
    }
    .placeholder-title {
      height: 18px;
      margin-bottom: 15px;
    }
    .placeholder-icon {
      float: left;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      border-radius: 50px;
    }
    .placeholder-text {
      float: left;
      width: calc(100% - 22px);
    }
  }
}

.loading-form-cover,
.loading-submit-form-cover {
  position: absolute;
  z-index: 99;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border: 1px solid $placeholder;
  background: linear-gradient(
                  to right,
                  rgba(236, 236, 238, 0.7) 30%,
                  rgba(225, 225, 229, 0.7) 50%,
                  rgba(235, 235, 237, 0.7) 70%);
  background-size: 800px 104px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderGradient;
  animation-timing-function: linear;
  .loading-form {
    height: 48px;
    line-height: 48px;
    width: 48px;
    margin: 180px auto 0;
    background-image: url('../images/icons/loading-icon.gif');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.loading-submit-form-cover {
  display: none;
}

.details-item-info {
  .placeholder-logo {
    .placeholder-image {
      height: 32px;
      margin: auto;
    }
    .placeholder-text {
      height: 10px;
      margin: 20px auto 15px;
    }
  }
  .placeholder-info {
    .placeholder-item {
      height: 10px;
      margin-bottom: 10px;
    }
    .placeholder-title {
      height: 15px;
    }
    .sidebar-info_ranking {
      padding-top: 10px;
    }
    .sidebar-info_comments {
      padding-top: 10px;
    }
    .placeholder-comment {
      height: 8px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 3px;
      }
    }
  }
}

.placeholder-room-info {
  .placeholder-item {
    height: 13px;
    margin-bottom: 15px;
  }
  .panel-body {
    border: 0!important;
  }
}


















@keyframes placeholderGradient {
  0% {
    background-position: 115% 0;
  }

  100% {
    background-position: -115% 0;
  }
}