@media screen and (min-width: 1600px) {
  .black-bg-search {
    position: fixed;
  }
  .main-search-wrapper {
    border-bottom: 1px solid #1f95da;
    .search-group {
      border-bottom: 0;
    }
  }
}
@media screen and (min-width: 1400px) {

  .navbar-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-menu {
    float: right;
  }
}
@media screen and (max-width: 1440px) {
  nav {
    .navbar-header {
      width: 42%;
    }
    .navbar-menu {
      width: 58%;
    }
  }
}

@media screen and (max-width: 1415px) {
  .navbar-default {
    .navbar-nav li a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 1405px) {
  .navbar-default {
    .navbar-text {
      margin-top: -8px;
      margin-bottom: 10px;
    }
  }
  nav {
    .navbar-header {
      width: 40%;
    }
    .navbar-menu {
      padding: 10px 0;
      padding-right: 15px;
    }
  }
}
@media screen and (max-width: 1399px) {
  .navbar-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  nav {
    .navbar-header {
      width: 30%;
    }
    .navbar-menu {
      width: 69%;
      padding: 10px 0;
    }
  }
  .navbar-default {
    .navbar-nav li a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .search-group {
    padding-left: 0;
    padding-right: 0;
  }
  .input-search-btn {
    right: 0px;
  }
  .map-item-block {
    width: 55%;
  }
  .thumbnail .caption {
    padding: 20px 10px 1px;
  }
  .sidebar-filter a {
    font-size: 14px;
  }
  .btrans .date {
    display: none;
  }
  .exclusive {
    .price, .red-price {
      margin-left: -10px;
    }
  }
  .search-result {
    width: 100%;
  }
  .load-icon {
    width: 145px;
    right: -10px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .content-wrapper {
    @include calc(width, '70% - 15px');
  }
  .map-wrapper {
    @include calc(width, '30% - 15px');
  }
  .list-item {
    > img {
      min-height: 200px;
    }
  }
  .hidden-sidebar-filter .grid-item .warning {
    top: 25%;
  }
  .grid-item {
    .features {
      li {
        margin-right: 7px;
      }
    }
    .price {
      margin-left: -10px;
    }
    .grid-rate {
      width: 50%;
      .reviews {
        margin-left: 5px;
        li {
          margin-right: 0;
        }
        .extra-small {
          margin-left: 37px;
        }
      }
    }
    .warning {
      top: 25%;
    }
  }
  .navbar-menu {
    width: 68%;
  }
  .list-view .grid-item .red-price {
    margin-right: 15px;
  }
}
@media screen and (max-width: 1310px) {
  .list-view {
    .grid-item {
      .features {
        margin: 18px 100px 0 19px;
        li {
          margin-right: 10px;
        }
      }
      .title.long {
        height: 28px;
        a {
          position: absolute;
          &:before {
            content: '...';
            background: #fff;
            position: absolute;
            right: 0;
            padding: 0 6px;
            top: 0;
          }
        }
      }
      .preview {
        .image {
          min-height: 195px;
        }
      }
      .views {
        bottom: 75px;
      }
    }
  }
  .grid-item {
    &:hover {
      background: #fff;
    }
    .features {
      li {
        margin-right: 7px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .main-search-wrapper {
    position: relative;
    z-index: 13;
  }
}
@media screen and (max-width: 1280px) {
  .grid-item {
    .trip {
      margin-top: 7px;
      clear: left;
    }
    .preview {
      .image {
        height: 200px;
      }
    }
    .warning {
      top: 30%;
    }
  }
}
@media screen and (min-width: 1200px) and (max-width: 1280px) {
  .main-wrapper {
    .map-wrapper {
      display: none;
    }
    .map-wrapper {
      display: none;
      &.full-width {
        display: block;
      }
    }
    .content-wrapper {
      @include calc(width, '100% - 15px');
    }
    &.hidden-sidebar-filter {
      .content-wrapper {
        @include calc(width, '100% - 15px');
        .grid-item {
          @include calc(width, '(100% - 30px)/ 3');
          margin-left: 0;
          &:nth-child(3n+3),
          &:nth-child(3n+2) {
            margin-left: 15px;
          }
        }
        .list-view {
          .grid-item {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }
    .grid-item {
      .reviews {
        margin: 12px 0 5px 2px;
        width: 60px;
      }
    }
    .list-view {
      .grid-item {
        .reviews {
          margin: 5px 0 5px 2px;
          width: 100px;
        }
      }
    }
  }
  .show1200-1280 {
    display: block;
  }
  .search-group.scrolled {
    width: calc(80% + 2px);
    .load-icon {
      left: 515px;
    }
    &.hidden-sidebar-filter {
      .load-icon {
        left: 760px;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  body {
    position: static!important;
  }
  [data-aos^=fade][data-aos^=fade] {
    opacity: 1;
  }
  [data-aos=fade-down],
  [data-aos=fade-up],
  [data-aos=fade] {
    transform: initial;
  }
  .container-search-wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
  .remove-padding-md {
    position: relative;
    z-index: 1;
  }
  .navbar-text {
    padding: 5px 0;
  }
  nav {
    .navbar-menu {
      width: 20%;
      float: right;
      margin-right: 15px;
      padding: 37px 0;
    }
  }
  .navbar-toggle {
    display: block;
    position: relative;
    float: right;
    background: transparent;
    border-radius: 0;
    top: 0;
    right: 0;
    z-index: 101;
    margin: 42px 20px 42px 10px;
    width: 30px;
    height: 25px;
    padding: 0;
    text-align: center;
    border: 0;
    @include crossBrowser(transition, all .3s);
    &:hover, &:focus, &:active {
      background-color: transparent!important;
    }
    .icon-bar {
      background-color: #fff!important;
      width: 26px;
      height: 4px;
      margin: auto;
      border-radius: 50px;
      position: relative;
      @include crossBrowser(transition, all .3s);
      transform-origin: 0 50%;
      &:first-child {
        width: 18px;
        left: -6px;
      }
      + .icon-bar {
        margin-top: 4px;
        left: -2px;
        +.icon-bar {
          width: 22px;
          left: -4px;
        }
      }
    }
  }
  .navbar-header {
    width: 60%!important;
    padding-right: 0;
    padding-left: 0;
    .navbar-brand {
      max-width: 210px;
      padding: 0;
      margin-left: 15px!important;
    }
    &.open-menu {
      .navbar-toggle {
        background-color: #00c2ff;
        .icon-bar {
          background-color: #fff;
          position: relative;

          &:first-child {
            @include crossBrowser(transform, rotate(45deg));
            top: -7px;
            width: 48px;
            left: 5px;
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            @include crossBrowser(transform, rotate(-45deg));
            top: 7px;
            width: 48px;
            left: 5px;
          }
        }
      }
    }
  }

  .navbar-menu {
    width: 59%;
    padding-right: 15px;
    .nav {
      .form-group {
        margin-bottom: 12px;
        .bootstrap-select {
          margin-top: 10px;
        }
      }
      li {
        a {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .input-group {
    .input-search {
      font-size: 28px;
      &::-webkit-input-placeholder {
        font-size: 28px;
      }
      &:-ms-input-placeholder {
        font-size: 28px;
      }
      &::-moz-placeholder {
        font-size: 28px;
      }
    }
  }
  .container-fluid > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .list-btn {
    position: relative;
  }
  .filter-top .content-settings {
    margin-left: 0;
    width: calc(100% - 225px);
  }
  .main-wrapper {
    .map-wrapper {
      display: none;
      &.full-width {
        display: block;
      }
    }
    .content-wrapper {
      @include calc(width, '100% - 15px');
    }
    &.hidden-sidebar-filter {
      .content-wrapper {
        @include calc(width, '100% - 15px');
      }
    }
  }
  .content-settings {
    .bootstrap-select {
      .dropdown-toggle {
        width: 81%;
      }
    }
  }
  .list-view {
    .grid-item {
      .line {
        padding-top: 10px;
      }
      .start {
        margin-top: 5px;
      }
      .trip {
        margin-top: 5px;
        clear: initial;
      }
      .reviews {
        margin-top: 9px;
      }
      .address {
        margin-top: 15px;
      }
    }
  }
  .grid-item {
    .reviews {
      //clear: left;
    }
    .top-wrapper {
      padding-top: 15px;
    }
  }
  .hidden-sidebar-filter .grid-item .warning {
    top: 32%;
  }
  .people-count {
    width: 190px;
    .book-menu {
      width: 190px;
    }
  }
  .search-group .input-search {
    padding-right: 580px;
  }
  .avail {
    margin-left: -20px;
  }
  body {
    @include crossBrowser(backface-visibility, hidden);
    @include crossBrowser(transition, left .5s ease);
    position: relative!important;
    left: 0;
    &.opened-menu {
      left: -275px;
      overflow-y: hidden!important;
      position: relative!important;
    }
    //&.opened-filter {
    //  left: 275px;
    //  overflow-y: hidden!important;
    //  position: relative!important;
    //}
  }

  #nav_mobile {
    .nav {
      @include crossBrowser(backface-visibility, hidden);
      @include crossBrowser(transition, right .5s ease);
      display: block !important;
      margin: 0;
      opacity: 1;
      visibility: visible;
      height: 100%;
      max-height: 100vh;
      right: -275px;
      left: auto;
      top: 0;
      overflow-x: hidden;
      overflow-y: auto;
      position: fixed;
      z-index: 10002;
      width: 275px;
      background: #002a4a;
      box-shadow: none;
      &:after {
        content: '';
        position: absolute;
        z-index: 100222;
        left: 0;
        top: 0;
        height: 100vh;
        width: 10px;
        @include crossBrowser(box-shadow, inset 0.35em 0 0.3em 0 rgba(0, 0, 0, 0.2));
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          @include crossBrowser(box-shadow, inset -0.35em 0 0.3em 0 rgba(0, 0, 0, 0.2));
          right: 0;
          left: initial;
        }
      }
      li {
        width: 100%;
        a {
          font-family: "Roboto", sans-serif;
          display: block;
          color: #fff;
          font-size: 16px;
          padding: 8px 55px 8px 31px;
          position: relative;
          width: 100%;
          z-index: 99999;
          line-height: 29px;
          border: 0;
          border-bottom: 1px solid #073456;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          -moz-transition: -moz-transform .5s ease, opacity .5s ease, background .5s ease;
          -webkit-transition: -webkit-transform .5s ease, opacity .5s ease, background .5s ease;
          -ms-transition: -ms-transform .5s ease, opacity .5s ease, background .5s ease;
          transition: transform .5s ease, opacity .5s ease, background .5s ease;
          i {
            margin-right: 10px;
          }
          &:hover, &:focus, &:active {
            background: #03375e;
          }
          &.green-btn {
            text-align: center;
            color: #fff;
            @include calc(width, '100% - 30px');
            margin: auto;
            border: 0!important;
            margin-top: 10px;
          }
          &.blue-btn {
            color: #fff;
            @include calc(width, '100% - 30px');
            margin: auto;
            border: 0!important;
            margin-top: 15px;
          }
        }
        &.back {
          a {
            padding: 8px 55px 8px 15px;
          }
        }
      }
    }
  }
  #filter_mobile {
    .sidebar-filter {
      @include crossBrowser(backface-visibility, hidden);
      @include crossBrowser(transition, left .5s ease);
      display: block !important;
      margin: 0;
      opacity: 1;
      visibility: visible;
      height: 100%;
      max-height: 100vh;
      left: -100vw;
      right: auto;
      top: 0;
      position: fixed;
      z-index: 10002;
      width: 100vw;
      background: #002a4a;
      box-shadow: none;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        z-index: 100222;
        right: 0;
        top: 0;
        height: 100vh;
        width: 10px;
        @include crossBrowser(box-shadow, inset -0.35em 0 0.3em 0 rgba(0, 0, 0, 0.2));
      }
    }
    #filter-done {
      left: -100vw;
      top: 15px;
      right: auto;
      position: absolute;
      z-index: 99999;
      color: #00c2ff;
      font-family: "Roboto", sans-serif;
      @include crossBrowser(transition, left .3s);
    }
  }
  .open-menu {
    #nav_mobile {
      .nav {
        right: 0;
        li {
          &.menu {
            a {
              background: #00c2ff;
            }
          }
        }
      }
    }
  }
  .navbar-header {
    &.open-filter {
      #filter_mobile {
        .sidebar-filter {
          //left: 0;
          li {
            &.menu {
              a {
                background: #00c2ff;
              }
            }
          }
        }
        #filter-done {
          left: -40px;
        }
      }
    }
  }
  .map-item-block {
    z-index: 14;
  }
  .map-item-block-wrapper .title-rating .reviews {
    width: 100%;
  }
  footer {
    .navbar-header {
      width: 60%;
    }
  }
  .input-search {
    padding-right: 130px;
  }
  .hotel-info-wrapper {
    & > .container {
      padding-right: 8px!important;
    }
    .hotel-info {
      .top-wrapper {
        .left-block {
          width: 80%;
        }
        .right-block {
          width: 20%;
          &.middle-block {
            .book-btn {
              padding: 13px 23px;
            }
          }
        }
      }
    }
  }
  .information-block {
    .slider-block {
      width: 65%;
      .owl-carousel {
        width: 100%;
      }
      .owl-thumbs {
        width: 100%;
        height: 80px;
        margin-top: 15px;
        .mCSB_outside + .mCSB_scrollTools {
          right: 0;
          bottom: -16px;
        }
        .owl-thumb-item {
          display: inline-block;
          width: 80px;
          height: 80px;
          margin-right: 7px;
          &:last-child {
            margin-right: 0;
          }
        }
        .mCSB_container {
          display: block;
          overflow-x: auto;
          white-space: nowrap;
        }
      }
    }
    .sidebar-block {
      width: calc(35% - 15px);
      height: 575px;
    }
  }
  .booking-table {
    .room-type_info-open-btn {
      .hotel-button {
        width: 15px;
        height: 15px;
        left: -15px;
      }
    }
  }
  .onoffswitch-gallery-wrapper {
    right: 75px;
  }
  .main-statistic {
    .main-chart-wrapper {
      max-height: 150px;
    }
    #parentCanvas {
      max-width: 443px;
    }
  }
  .hotel-information_block-map {
    width: 100%;
    position: absolute;
  }
  .hotel-information_block-tabs {
    width: 100%;
    .nav-tabs {
      width: 10%;
      li {
        a {
          i {
            font-size: 38px;
          }
        }
      }
    }
    .tab-content {
      width: 90%;
    }
  }
  .hotel-info {
    .red-price {
      line-height: 16px;
      margin-top: 5px;
      margin-right: -95px;
    }
    .price {
      margin-bottom: 0;
      margin-top: 15px;
      position: relative;
      left: -40px;
    }
    .top-wrapper {
      padding-top: 25px;
      padding-bottom: 10px;
    }
  }
  .main-statistic {
    margin-bottom: 70px;
  }
  .booking-table table .right-part_info > table {
    min-height: 405px;
  }
}
@media screen and (max-width: 1060px) {
  //.date-picker-wrapper {
  //  .month-wrapper {
  //    max-width: 300px;
  //    width: 100%!important;
  //    min-width: initial;
  //    table {
  //      clear: left;
  //      margin-left: 0;
  //      width: 100%;
  //      &.month2 {
  //        width: 100%;
  //      }
  //    }
  //    .time {
  //      .buttons {
  //        width: 100%;
  //        padding: 9px 0 0;
  //        input {
  //          width: 95%;
  //          margin: 0 8px 8px;
  //        }
  //      }
  //    }
  //  }
  //}
  nav .navbar-header {
    width: 40%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .grid-item {
    .top-wrapper {
      .left-block{
        &.center-block {
          padding-bottom: 45px;
        }
      }
    }
  }
  .search-filter-block .search-divider {
    left: -12px;
  }
}
@media screen and (min-width: 992px) {
  footer {
    .clearfix {
      display: none;
    }
  }
}
@media screen and (max-width: 991px) {
  body {
    position: relative!important;
    overflow-x: hidden!important;
  }
  .map-item-block {
    width: 90%;
  }
  .remove-padding-md {
    position: relative;
    z-index: 1;
  }
  .block-search {
    padding: 0 20px;
    &_text {
      padding: 10px 0 45px;
      width: 100%;
    }
  }
  .probably-block {
    &_content {
      .title {
        padding-right: 0;
      }
      .rating {
        .stars {
          display: none;
        }
        .text {
          width: 100%;
        }
      }
      .city {
        display: flex;
        align-items: center;
        span {
          line-height: 14px;
        }
      }
    }
  }
  .grid-item {
    width: 100%;
    margin-left: 0;
    &:nth-child(2n) {
      margin-left: 0;
    }
    .preview {
      .image {
        height: 205px;
      }
    }
    .warning {
      top: 32%;
    }
    .reviews {
      font-size: 12px;
      margin-top: 12px;
    }
  }
  .main-wrapper {
    &.hidden-sidebar-filter {
      .grid-item {
        @include calc(width, '(100% - 15px)/ 2');
        margin-left: 0;
        &:nth-child(2n) {
          margin-left: 15px;
        }
        .top-wrapper {
          .left-block {
            &.center-block {
              padding-bottom: 45px;
            }
          }
        }
        .preview {
          .image {
            height: 200px;
          }
        }
        .warning {
          top: 28%;
        }
      }
      .exclusive {
        .btrans {
          min-height: 526px;
        }
      }
    }
  }
  .exclusive {
    width: 100%;
    margin: auto;
    .trip {
      .rate {
        margin-bottom: 15px;
      }
    }
    .btrans {
      min-height: 433px;
      border-width: 5px;
      border-top-width: 10px;
      border-bottom-width: 10px;
      & + .btrans {
        border-width: 5px;
        border-top-width: 10px;
        border-bottom-width: 10px;
      }
    }
  }
  footer {
    .navbar-text {
      margin-top: 0;
    }
    .navbar-footer {
      margin: 0;
      width: 100%;
      li {
        clear: left;
        width: 100%;
        .dropdown-menu {
          position: static;
          float: none;
          width: auto;
          margin-top: 0;
          background: #282d36;
          border: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        .dropdown-toggle {
          width: 100%;
          background: #37414f;
          border-radius: 0;
          border: 0;
          border-bottom: 2px solid #2e3540;
          text-align: left;
          padding: 13px 30px 10px 50px;
          font-size: 18px;
          position: relative;
          z-index: 10;
          .fa-minus-square-o {
            display: none;
          }
          .fa, i {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 50px;
            height: 15px;
            text-align: center;
          }
          &:hover, &:focus {
            background: #00b9f1!important;
          }
        }
        .dropdown-menu {
          li {
            a {
              line-height: 30px!important;
              color: #fff;
              font-size: 16px!important;
            }
          }
        }
        &.open {
          .dropdown-toggle {
            background: #00b9f1!important;
            .fa-minus-square-o {
              display: block;
            }
            .fa-plus-square-o {
              display: none;
            }
          }
        }
      }
    }
  }

  nav {
    .navbar-header {
      width: 30%;
    }
    .navbar-menu {
      width: 25%;
    }
  }
  .map-wrapper {
    &.full-width {
      min-height: 1400px;
    }
  }
  .date-picker-wrapper {
    margin-top: 15px;
    background: transparent;
    .month-wrapper {
      max-width: 260px;
      margin: auto;
    }
  }
  .input-group {
    .input-search {
      width: calc(100% - 6px);
    }
  }
  .load-icon {
    right: 3px;
    width: 120px;
    top: -88px;
  }
  .input-search-btn {
    right: 6px;
  }
  .search-group {
    border-bottom: 0;
  }
  .search-result {
    z-index: 15;
    top: 112px;
    left: -10px;
    width: calc(100% - 5px);
  }
  .black-bg-search {
    height: calc(100% + 160px);
    left: -50vw;
    top: -160px;
    width: 150vw;
  }
  .black-bg-map {
    width: 150vw;
    left: -50vw;
    z-index: 10;
    &.no-filter {
      width: calc(150vw - 33px);
    }
  }
  .opened-menu,
  .opened-filter {
    .black-bg-search {
      top: 0;
      height: 100vh;
    }
  }
  .bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 7px;
  }
  .search-filter-block {
    position: relative;
    left: 0;
    right: 0;
    display: block;
    margin-right: 5px;
    margin-top: 112px;
    height: 90px;
    background: #1d4f62;
    .input-group-addon,
    .form-control {
      background: #1d4f62;
    }
    .input-group-addon {
      i {
        position: relative;
        top: 5px;
      }
    }
    .date-group {
      background: #1d4f62;
      height: 100%;
      &:before {
        bottom: -5px;
        z-index: 3;
      }
      .form-control {
        margin-top: 25px;
        .date {
          color: #fff;
        }
        .day {
          color: #fff;
        }
      }
    }
    .people-count {
      background: #1d4f62;
      height: 100%;
      width: 265px;
      .book-menu {
        width: 265px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        padding: 12px 20px 22px;
        top: 78px;
        .input-number {
          background: #fff;
        }
      }
      .down-arrow {
        color: #fff;
        height: 15px;
      }
      .dropdown-toggle {
        margin-top: 34px;
        .block {
          .value {
            color: #fff!important;
            display: inline-block!important;
            width: initial!important;
            line-height: 15px;
            margin-right: 5px;
          }
          .col-form-label {
            color: #fff!important;
            display: inline-block!important;
            width: initial!important;
          }
        }
      }
    }
  }
  .search-group {
    .input-search {
      padding-right: 115px;
    }
  }
  .date-picker-wrapper {
    .month-wrapper {
      max-width: 300px;
      width: 100%!important;
      min-width: initial;
      table {
        clear: left;
        margin-left: 0;
        width: 100%;
        &.month2 {
          width: 100%;
        }
      }
      .time {
        .buttons {
          width: 100%;
          padding: 9px 0 0;
          input {
            width: 95%;
            margin: 0 8px 8px;
          }
        }
      }
    }
  }

  .hotel-info {
    .show-street-view {
      float: right;
    }
    .labels {
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .red-price {
      margin-right: 0;
      line-height: 46px;
      float: left;
      left: -105px;
      position: relative;
    }
    .price {
      float: left;
      margin-top: 5px;
      left: 45px;
    }
    .book-btn {
      float: left;
    }
    .top-wrapper {
      .right-block {
        top: 153px;
      }
    }
  }
  .hotel-info-wrapper {
    .hotel-info {
      .top-wrapper {
        .left-block {
          width: 100%;
        }
        .right-block {
          width: 40%;
        }
      }
    }
  }
  .information-block {
    .slider-block {
      width: 100%;
      .owl-thumbs {
        .owl-thumb-item {
          display: inline-block;
          width: 81px;
          height: 81px;
          margin-right: 10px;
        }
        .mCSB_outside + .mCSB_scrollTools {
          right: 2px;
        }
      }
    }
    .tripadvisor-logo {
      width: 155px;
      height: 50px;
      float: left;
      margin-left: 25px;
      line-height: 50px;
    }
  }
  .onoffswitch-gallery-wrapper {
    position: relative;
    float: left;
    margin-bottom: 15px;
    left: 0;
    top: 0;
    right: initial;
  }
  .booking-table {
    .search-filter-block {
      margin-top: 0;
      height: 90px;
      &:before,
      &:after {
        display: none;
      }
      .date-group {
        &:before {
          bottom: -5px;
        }
        .form-control {
          margin-top: 15px;
        }
        .input-group-addon {
          padding-top: 22px;
        }
      }
      .people-count {
        &:before {
          bottom: 8px;
        }
        .book-menu {
          top: 75px;
        }
        .dropdown-toggle {
          margin-top: 28px;
        }
        .down-arrow {
          height: 3px;
          right: 10px;
        }
      }
      .currency {
        margin-top: 32px;
      }
    }
    table {
      thead {
        display: none;
        th {
          width: 100%;
          text-align: center;
          padding: 15px 0;
          font-size: 16px;
          table {
            .conditions_th {
              width: 28%;
            }
            .per-night_th {
              width: 16%;
            }
            .total-price_th {
              width: 15%;
            }
            .book-column_th {
              width: 20%;
            }
          }
        }
        .room-type_th {
          display: none;
        }
      }
      tbody {
        td {
          border-top: 0;
        }
        .row-info {
          &.opened {
            & > td {
              background: #e5eef1;
            }
            .room-type_info-open-btn {
              .hotel-button {
                width: 25px;
                height: 25px;
              }
            }
          }
          &.closed {
            td {
              padding: 0;
            }
            .room-type_info-open-btn {
              .hotel-button {
                left: initial;
                right: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 25px;
                height: 25px;
              }
            }
            .room-type_info-mobile-wrapper {
              border-bottom: 0;
              border-left: 0;
              border-right: 0;
            }
            .thead-mobile {
              display: none;
            }
            .room-type_info {
              width: 36%;
              padding: 25px 0;
              padding-left: 15px;
            }
            .right-part_info {
              .variant {
                .conditions {
                  display: none;
                }
              }
            }
            .room-type_info-preview {
              .info-label {
                top: -25px;
                left: -15px;
              }
            }
          }
        }
        .room-type_info-mobile {
          .room-type_info {
            padding-top: 0;
            padding-bottom: 0;
            border: 0;
            border-bottom: 15px solid #e5eef1;
            background: #e5eef1;
            &-open-btn {
              .hotel-button {
                top: 0;
                left: initial;
                right: 0;
              }
            }
            &-preview {
              width: 33%;
              float: left;
              .info-label {
                padding: 6px 10px 5px;
              }
              .owl-carousel {
                .owl-item {
                  img {
                    max-width: 250px;
                    max-height: 180px;
                  }
                }
              }
            }
            &-name,
            &-size,
            &-special {
              width: 38%;
              float: left;
              padding-left: 15px;
            }
            &-size {
              margin-bottom: 5px;
            }
            &-facilities {
              width: 29%;
              float: right;
              margin-top: -55px;
              ul {
                li {
                  i {
                    font-size: 14px;
                    padding-right: 7px;
                  }
                }
              }
            }
            &-button {
              .book-btn {
                left: 251px;
                width: 200px;
                margin-top: 80px;
                bottom: 0;
              }
            }
          }
        }
        .thead-mobile {
          td {
            border: 0;
          }
          th {
            background: #d1d7e0;
            font-weight: 600;
            color: #5c5c5c;
            padding: 15px 0;
            vertical-align: middle;
            border: 0;
            text-align: center;
          }
        }
        .right-part_info {
          & > table {
            border-left: 1px solid #e5e5e5;
          }
        }
      }
      .room-type_info {
        width: 100%;
      }
      .info-label {
        margin-right: 20px;
      }
    }
  }
  .hotel-facilities_block {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .mobile-home-facilities {
    .dropdown-toggle {
      width: 100%;
      color: #000;
      background: #d0d8e1;
      border-radius: 0;
      border: 0;
      border-bottom: 2px solid #fff;
      text-align: left;
      padding: 13px 30px 10px 50px;
      font-size: 18px;
      position: relative;
      z-index: 10;
      &:active {
        &:hover {
          background: #d0d8e1;
          border-color: #fff;
          color: #000;
        }
      }
      i {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 50px;
        height: 15px;
        text-align: center;
        .fa-minus-square-o {
          display: none;
        }
      }
      .icon-title {
        position: relative;
        color: #68b926;
        padding-right: 10px;
      }
    }
    li {
      &.dropdown {
        .dropdown-menu {
          position: static;
          padding: 25px 15px;
          float: none;
          width: auto;
          margin-top: 0;
          background: #f6f6f6;
          border: 0;
          box-shadow: none;
          li {
            font-size: 16px;
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          .fa {
            color: #74ce2a;
            padding-right: 10px;
          }
        }
        &.open {
          .dropdown-toggle {
            background: #d0d8e1;
            border-color: #d0d8e1;
            color: #000;
            .fa-plus-square-o {
              display: none;
            }
            .fa-minus-square-o {
              display: block;
            }
          }
        }
      }
    }
  }
  .popup {
    padding: 40px 25px 25px;
    padding-right: 60px;
    &_title {
      margin-bottom: 8px;
    }
    &_text {
      line-height: 30px;
    }
    &_close {
      height: 18px;
    }
  }
  .hotel-information_block-tabs {
    .nav-tabs {
      display: flex;
      align-items: center;
      width: 75%;
      margin: 0 auto;
      float: none;
      li {
        a {
          i {
            font-size: 35px;
            height: 35px;
          }
          .positive,
          .negative {
            top: 15px;
          }
        }
      }
    }
    .tab-content {
      width: 100%;
      .review-block_rating {
        margin-top: 10px;
      }
      .review-block_comments-block {
        .date {
          margin-bottom: 3px;
        }
        .comment {
          padding-bottom: 30px;
          &:before {
            left: 5px;
          }
        }
      }
      .attractions_map {
        height: 350px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-menu {
    .nav {
      &.down-menu {
        .blue-btn {
          padding: 7px 19px 7px 19px!important;
          &:before {
            display: none;
          }
        }
      }
    }
  }
  .search-filter-block {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 100vw;
      height: 90px;
      background: #1d4f62;
    }
    &:after {
      content: '';
      position: absolute;
      left: -100vw;
      width: 100vw;
      height: 90px;
      background: #1d4f62;
    }
  }
}
@media screen and (max-width: 767px) {
  body {
    position: relative !important;
    min-width: 320px;
    @include crossBrowser(transition, .5s ease);
    &.opened-menu {
      left: -100vw;
    }
    &.opened-filter {
      transform: translateX(100vw);
    }
  }
  .navbar-brand.dropdown.opened + .dropdown-menu,
  .navbar-brand.dropdown + .dropdown-menu {
    display: none;
  }
  nav {
    &.navbar {
      min-height: initial;
    }
    .navbar-header {
      width: 100%;
      .navbar-brand {
        position: absolute;
        left: 0;
        right: 0;
        margin: 14px auto !important;
        width: 130px;
        height: 37px;
        max-width: initial !important;
        padding: 0 !important;
      }
      .navbar-toggle {
        width: 60px;
        height: 78px;
        float: right;
      }
    }
  }
  .search-filter-block {
    margin-top: 80px;
    height: initial;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    .date-group {
      width: 100%;
      height: 60px;
      background: #1a4e63;
      .form-control {
        margin-top: 8px;
      }
    }
    .people-count {
      width: 100%;
      height: 60px;
      background: #1e566d;
      .down-arrow {
        right: 15px;
      }
      .input-group-addon {
        background: #1e566d;
      }
      .dropdown-toggle {
        margin-top: 18px;
        height: 35px !important;
      }
      .book-menu {
        top: 70px;
        width: 290px;
      }
    }
  }
  #nav_mobile {
    .nav {
      width: 100vw;
      right: -100vw;
      li {
        &.menu {
          a {
            padding: 24px 15px;
          }
        }
      }
    }
  }
  .black-bg-map {
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    z-index: 1001;
  }
  .map-item-block {
    z-index: 10000;
    .close-line {
      .close-btn {
        font-size: 12px;
        .text {
          display: none;
        }
      }
      .socials {
        right: 0;
        .social {
          margin: 13px 0;
          li {
            a {
              width: 20px;
              height: 20px;
              line-height: 12px;
              i {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .main-price {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 280px;
      width: 200px;
      height: 50px;
      line-height: 23px;
      background: #37414f;
      i {
        line-height: 23px;
      }
    }
    .map-item-info .bottom-info .tab-content #hotel-details ul {
      width: 50%;
    }
  }
  .black-bg-search {
    top: 0;
  }
  .sidebar-filter {
    display: none;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1005;
    margin-left: 0;
    width: calc(100% - 20px);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    &:after {
      display: none;
    }
    .panel-group {
      height: 100vh !important;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .mCSB_inside > .mCSB_container {
      margin-right: 15px;
    }
    &.show-on-map {
      display: none !important;
      position: fixed;
      z-index: 1005;
    }
  }
  .navbar-toggle {
    margin: 20px 20px 20px 10px;
  }
  .remove-padding-md {
    display: none;
  }
  .owl-carousel {
    .owl-dots {
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      width: 170px;
      min-width: 170px;
    }
    .owl-item img {
      width: initial;
      height: 100%;
    }
  }
  #nav_mobile .nav li a {
    &.blue-btn {
      text-align: center;
      padding: 7px 10px !important;
      &:before {
        display: none;
      }
    }
    &.green-btn {
      text-align: center;
      padding: 7px 10px !important;
    }
  }
  .filter-icon {
    position: absolute;
    width: 30px;
    height: 32px;
    top: 17px;
    left: 17px;
    color: #fff;
    background: transparent;
    font-size: 32px;
    line-height: 0;
    text-align: center;
    z-index: 10;
    cursor: pointer;
    .fa-sliders {
      @include crossBrowser(transform, rotate(-90deg));
    }
  }
  .mobile-filter-line {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    background: #fff;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
    line-height: 50px;
    .fa, i {
      padding-right: 10px;
    }
  }
  .mobile-close {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #ff0a0a;
    font-size: 20px;
    cursor: pointer;
  }
  .signup {
    .input-group {
      .input-group-btn {
        button {
          width: 100%;
        }
      }
    }
    .white-text {
      font-size: 14px;
      &.large {
        font-size: 18px;
      }
    }
  }
  .search-group {
    & > .location {
      top: 50px;
    }
  }
  .input-group {
    .search-icon {
      display: none;
    }
    .input-search {
      height: 80px;
      font-size: 24px;
      border-width: 2px;
      padding-right: 5px;
      padding-left: 5px;
      &.icon {
        background-position: 6px 30px;
      }
      &::-webkit-input-placeholder {
        font-size: 24px;
      }
      &:-ms-input-placeholder {
        font-size: 24px;
      }
      &::-moz-placeholder {
        font-size: 24px;
      }
    }
  }
  .input-search-btn {
    button {
      background: none;
      border: 0;
      border-radius: 0;
      padding: 0;
      width: 45px;
      height: 45px;
      position: absolute;
      right: 0;
      top: -15px;
      &:hover, &:focus, &:active {
        background: transparent;
      }
      .search-icon {
        background-image: url('../images/icons/search-icon-blue.svg');
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        display: none;
      }
    }
  }
  .pagination {
    ul {
      li {
        margin-bottom: 10px;
      }
    }
  }
  .search-result {
    border-radius: 0;
    top: 78px;
    width: calc(100% + 30px);
    left: -15px;
    .search-result-inner {
      padding: 0 10px 0 10px;
    }
  }
  .load-icon {
    z-index: 100;
    right: 0;
    left: auto;
    top: -118px;
    width: 40px;
    height: 40px;
    font-size: 36px;
  }
  .filter-top {
    height: 85px;
    .content-settings {
      width: 100%;
      position: relative;
      .dropdown-toggle {
        width: 100%;
      }
    }
  }
  .avail {
    margin-left: 0;
    position: absolute;
    top: 35px;
  }
  .main-wrapper {
    width: 100%;
    .content-wrapper {
      width: calc(100% - 30px);
    }
  }
  .probably-block {
    &_content {
      .title {
        padding-top: 10px;
      }
      .rating,
      .city {
        padding-bottom: 10px;
      }
      .rating-mark {
        height: 86px;
        margin-top: -43px;
        line-height: 78px;
        background: $main-blue;
        color: #fff;
      }
    }
  }
  .grid-item {
    .preview {
      .image {
        height: 165px;
      }
    }
    .warning {
      top: 24%;
      width: 55%;
    }
    .address {
      width: 120%;
    }
    .distance {
      width: 100%;
    }
    .top-wrapper {
      .left-block {
        width: 100%;
        &.center-block {
          width: 100%;
          padding-bottom: 55px;
        }
      }
      .right-block {
        width: 30%;
      }
    }
    .trip {
      margin-top: 10px;
      margin-bottom: 0;
    }
    .reviews {
      margin-top: 15px;
    }
    .views {
      bottom: 58px;
      .left {
        display: none;
      }
      .right {
        padding: 7px 35px 5px;
      }
    }
    .features {
      display: none;
    }
    .views-bottom {
      font-family: "Roboto", sans-serif;
      color: #68b925;
      font-size: 12px;
      text-transform: uppercase;
      float: left;
      line-height: 39px;
      .fa {
        margin-right: 5px;
      }
    }
  }
  .exclusive {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
    .btrans {
      border-width: 10px 15px;
      min-height: 415px;
      height: 100%;
      float: left;
      width: 100%;
      & + .btrans {
        border-width: 10px 15px;
      }
      .right-block {
        position: relative;
        right: 10px;
      }
    }
    .heart {
      position: absolute;
      right: 0;
      top: -62px;
    }
    .price {
      margin-top: 5px;
    }
    .cancelon {
      margin-top: 15px;
      clear: left;
    }
    .orange-view {
      margin-top: 15px;
    }
  }
  .date-picker-wrapper {
    z-index: 9999999;
    margin-top: 15px;
    //.month-wrapper {
    //  max-height: 338px;
    //  overflow-y: auto;
    //  overflow-x: hidden;
    //}
  }
  .datepicker-input,
  .datepicker-output {
    padding-left: 15px;
  }
  aside .checkbox label::after {
    left: -5px;
  }
  footer {
    .social {
      float: none;
      margin: 30px auto 25px;
      width: 269px;
      height: 55px;
    }
  }
  .hotel-info-wrapper {
    & > .container {
      padding-right: 0!important;
    }
  }
  .hotel-info {
    .block-wrapper {
      padding-bottom: 130px;
      .top-wrapper {
        padding-right: 14px;
        padding-top: 15px;
        display: flex;
        flex-direction: column-reverse;
        .left-block {
          &.bottom-block {
            padding-bottom: 5px;
          }
        }
        .right-block {
          width: 100%;
          right: 0;
          left: 0;
          bottom: 0;
          top: initial;
          .book-btn {
            bottom: 15px;
            top: initial;
            width: calc(100% - 30px);
            background: #00b9f1!important;
            &:hover {
              background: #0cc6ff!important;
            }
          }
        }
      }
      .stars {
        width: 30%;
      }
      .reviews {
        width: 25%;
      }
      .title {
        font-size: 20px;
        line-height: 28px;
      }
      .labels {
        margin-top: 0;
      }
      .price {
        position: absolute;
        top: -30px;
        left: 0;
        right: -50px;
        bottom: initial;
        margin: 0;
        text-align: center;
      }
      .red-price {
        position: absolute;
        left: -115px;
        right: 0;
        bottom: 0;
        top: -13px;
        margin: 0;
        line-height: 10px;
        text-align: center;
      }
    }
  }
  .information-block {
    padding: 0 15px;
    .slider-block {
      .owl-carousel {
        .owl-prev,
        .owl-next {
          width: 50px;
        }
        .owl-item {
          figure {
            max-height: 200px;
          }
          img {
            height: 100%;
            max-width: 260px;
            max-height: 200px;
          }
        }
      }
      .owl-thumbs {
        .owl-thumb-item {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
  .booking-table {
    .search-filter-block {
      height: initial;
      margin-left: -15px;
      margin-right: -15px;
      padding: 0;
      .date-group {
        width: 100%;
        height: 60px;
        background: #1a4e63;
        margin-left: 15px;
        &:before {
          bottom: 0;
          z-index: 3;
        }
        .input-group-addon {
          padding-top: 0;
        }
        .form-control {
          margin-top: 8px;
          padding-left: 15px;
        }
      }
      .people-count {
        width: 100%;
        height: 60px;
        margin-left: 15px;
        &:before {
          bottom: 0;
          width: 100%;
          left: 0;
        }
        .book-menu {
          top: 70px;
          width: 290px;
          left: 0;
        }
        .input-group-addon {
          padding-top: 0;
        }
        .form-control {
          margin-top: 8px;
          padding-left: 15px;
        }
        #peopleCount {
          padding: 5px 5px 3px 1px;
          margin-top: 18px;
        }
        .down-arrow {
          height: 15px;
          right: 15px;
        }
      }
      .datepicker-input,
      .datepicker-output {
        padding: 5px 5px 3px 1px;
      }
    }
  }
  .date-picker-wrapper {
    &.booking-datepicker {
      right: 0;
      .month-wrapper {
        max-width: 270px;
      }
    }
  }
  .popup {
    margin: 0 15px 15px;
  }
  .hotel-facilities {
    margin: 0 15px 15px;
  }
}