@media screen and (min-width: 1400px) {
  .navbar-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-menu {
    float: right;
  }
}
@media screen and (max-width: 1399px) {
  .navbar-default {
    .navbar-text {
      margin-top: -8px;
      margin-bottom: 10px;
    }
  }
  .navbar-header {
    width: 31%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-menu {
    width: 69%;
    padding: 10px 0;
  }
  .search-group {
    padding-left: 0;
    padding-right: 0;
  }
  .input-search-btn {
    right: 15px;
  }
  .map-item-block {
    width: 55%;
  }
  .thumbnail .caption {
    padding: 20px 10px 1px;
  }
  .sidebar-filter a {
    font-size: 14px;
  }
  .btrans .date {
    display: none;
  }
  .exclusive {
    .price, .red-price {
      margin-left: -10px;
    }
  }
  .search-result {
    width: calc(100% - 30px);
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .content-wrapper {
    @include calc(width, '70% - 15px');
  }
  .map-wrapper {
    @include calc(width, '30% - 15px');
  }
  .list-item {
    > img {
      min-height: 200px;
    }
  }
  .hidden-sidebar-filter .grid-item .warning {
    top: 28%;
  }
  .grid-item {
    .features {
      li {
        margin-right: 10px;
      }
    }
    .price {
      margin-left: -10px;
    }
    .grid-rate {
      width: 50%;
      .reviews {
        margin-left: 5px;
        li {
          margin-right: 0;
        }
        .extra-small {
          margin-left: 37px;
        }
      }
    }
    .warning {
      top: 20%;
    }
  }
  .navbar-menu {
    width: 68%;
  }
  .list-view .grid-item .red-price {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .main-search-wrapper {
    position: relative;
    z-index: 13;
  }
  .remove-padding-md {
    //position: relative;
    //z-index: 1;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1280px) {
  .main-wrapper {
    .map-wrapper {
      display: none;
    }
    .map-wrapper {
      display: none;
      &.full-width {
        display: block;
      }
    }
    .content-wrapper {
      @include calc(width, '100% - 15px');
    }
    &.hidden-sidebar-filter {
      .content-wrapper {
        @include calc(width, '100% - 15px');
        .grid-item {
          @include calc(width, '(100% - 30px)/ 3');
          margin-left: 0;
          &:nth-child(3n+3),
          &:nth-child(3n+2) {
            margin-left: 15px;
          }
        }
        .list-view {
          .grid-item {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }
    .grid-item {
      .reviews {
        margin: 12px 0 5px 2px;
        width: 60px;
      }
    }
    .list-view {
      .grid-item {
        .reviews {
          margin: 5px 0 5px 2px;
          width: 100px;
        }
      }
    }
  }
  .show1200-1280 {
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  body {
    position: static!important;
  }
  [data-aos^=fade][data-aos^=fade] {
    opacity: 1;
  }
  [data-aos=fade-down],
  [data-aos=fade-up],
  [data-aos=fade] {
    transform: initial;
  }
  .container-search-wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
  .remove-padding-md {
    position: relative;
    z-index: 1;
  }
  .navbar-header {
    width: 41%;
    padding-right: 0;
    padding-left: 0;
    .navbar-brand {
      max-width: 210px;
      padding: 22px 0;
      margin-left: 15px!important;
    }
    .navbar-toggle {
      display: block;
      position: relative;
      float: left;
      background: #264d6a;
      border-radius: 0;
      top: 0;
      right: 0;
      z-index: 101;
      margin: 0;
      width: 80px;
      height: 108px;
      text-align: center;
      border: 0;
      @include crossBrowser(transition, all .3s);
      &:hover, &:focus, &:active {
        background-color: #264d6a;
      }
      .icon-bar {
        background-color: #fff;
        width: 38px;
        height: 6px;
        margin: auto;
        border-radius: 50px;
        position: relative;
        @include crossBrowser(transition, all .3s);
        transform-origin: 0 50%;
        &:first-child {
          width: 26px;
          left: -6px;
        }
        + .icon-bar {
          margin-top: 4px;
          +.icon-bar {
            width: 31px;
            left: -3px;
          }
        }
      }
    }
    &.open-menu {
      .navbar-toggle {
        background-color: #00c2ff;
        .icon-bar {
          background-color: #fff;
          position: relative;

          &:first-child {
            @include crossBrowser(transform, rotate(45deg));
            top: -7px;
            width: 48px;
            left: 5px;
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            @include crossBrowser(transform, rotate(-45deg));
            top: 7px;
            width: 48px;
            left: 5px;
          }
        }
      }
    }
  }

  .navbar-menu {
    width: 59%;
    padding-right: 15px;
    .nav {
      .form-group {
        margin-bottom: 12px;
        .bootstrap-select {
          margin-top: 10px;
        }
      }
      li {
        a {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
  .input-group {
    .input-search {
      font-size: 40px;
      text-align: left;
      padding-left: 80px;
      &::-webkit-input-placeholder {
        text-align: left;
        font-size: 40px;
      }
      &:-ms-input-placeholder {
        text-align: left;
        font-size: 40px;
      }
      &::-moz-placeholder {
        text-align: left;
        font-size: 40px;
      }
    }
  }
  .container-fluid > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .list-btn {
    position: relative;
    top: 1px;
  }
  .filter-top .content-settings {
    margin-left: 0;
    width: calc(100% - 225px);
  }
  .main-wrapper {
    .map-wrapper {
      display: none;
      &.full-width {
        display: block;
      }
    }
    .content-wrapper {
      @include calc(width, '100% - 15px');
    }
    &.hidden-sidebar-filter {
      .content-wrapper {
        @include calc(width, '100% - 15px');
      }
    }
  }
  .content-settings {
    .bootstrap-select {
      .dropdown-toggle {
        width: 81%;
      }
    }
  }
  .grid-item {
    .reviews {
      clear: left;
    }
  }
  .avail {
    margin-left: -20px;
  }
  body {
    @include crossBrowser(backface-visibility, hidden);
    @include crossBrowser(transition, left .5s ease);
    position: relative;
    left: 0;
    &.opened-menu {
      left: -275px;
      overflow-y: hidden!important;
      position: relative!important;
    }
    &.opened-filter {
      left: 275px;
      overflow-y: hidden!important;
      position: relative!important;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      @include crossBrowser(transition, left .5s ease);
      &.opened-menu {
        left: 275px;
        position: relative!important;
      }
    }
  }

  #nav_mobile {
    .nav {
      @include crossBrowser(backface-visibility, hidden);
      @include crossBrowser(transition, right .5s ease);
      display: block !important;
      margin: 0;
      opacity: 1;
      visibility: visible;
      height: 100%;
      max-height: 100vh;
      right: -275px;
      left: auto;
      top: 0;
      overflow-x: hidden;
      overflow-y: auto;
      position: fixed;
      z-index: 10002;
      width: 275px;
      background: #002a4a;
      box-shadow: none;
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        @include crossBrowser(transition, left .5s ease);
        left: -275px;
        right: auto;
      }
      &:after {
        content: '';
        position: absolute;
        z-index: 100222;
        left: 0;
        top: 0;
        height: 100vh;
        width: 10px;
        @include crossBrowser(box-shadow, inset 0.35em 0 0.3em 0 rgba(0, 0, 0, 0.2));
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          @include crossBrowser(box-shadow, inset -0.35em 0 0.3em 0 rgba(0, 0, 0, 0.2));
          right: 0;
          left: initial;
        }
      }
      li {
        width: 100%;
        a {
          font-family: "Roboto", sans-serif;
          display: block;
          color: #fff;
          font-size: 16px;
          padding: 8px 55px 8px 15px;
          position: relative;
          width: 100%;
          z-index: 99999;
          line-height: 29px;
          border: 0;
          border-bottom: 1px solid #073456;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          -moz-transition: -moz-transform .5s ease, opacity .5s ease, background .5s ease;
          -webkit-transition: -webkit-transform .5s ease, opacity .5s ease, background .5s ease;
          -ms-transition: -ms-transform .5s ease, opacity .5s ease, background .5s ease;
          transition: transform .5s ease, opacity .5s ease, background .5s ease;
          &:hover, &:focus, &:active {
            background: #03375e;
          }
          &.green-btn {
            text-align: center;
            color: #fff;
            @include calc(width, '100% - 30px');
            margin: auto;
            border-radius: 5px;
            border: 0!important;
            margin-top: 10px;
          }
          &.blue-btn {
            color: #fff;
            @include calc(width, '100% - 30px');
            margin: auto;
            border-radius: 5px;
            border: 0!important;
            margin-top: 15px;
          }
        }
        &.menu {
          a {
            background: #264d6a;
            cursor: default;
            font-size: 24px;
            padding: 15px;
            pointer-events: none;
          }
        }
      }
    }
  }
  #filter_mobile {
    .sidebar-filter {
      @include crossBrowser(backface-visibility, hidden);
      @include crossBrowser(transition, left .5s ease);
      display: block !important;
      margin: 0;
      opacity: 1;
      visibility: visible;
      height: 100%;
      max-height: 100vh;
      left: -275px;
      right: auto;
      top: 0;
      overflow-y: auto;
      position: fixed;
      z-index: 10002;
      width: 275px;
      background: #002a4a;
      box-shadow: none;
      &:after {
        content: '';
        position: absolute;
        z-index: 100222;
        right: 0;
        top: 0;
        height: 100vh;
        width: 10px;
        @include crossBrowser(box-shadow, inset -0.35em 0 0.3em 0 rgba(0, 0, 0, 0.2));
      }
    }
  }
  .navbar-header {
    &.open-filter {
      #filter_mobile {
        .sidebar-filter {
          left: 0;
          li {
            &.menu {
              a {
                background: #00c2ff;
              }
            }
          }
        }
      }
    }
    &.open-menu {
      #nav_mobile {
        .nav {
          right: 0;
          li {
            &.menu {
              a {
                background: #00c2ff;
              }
            }
          }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          .nav {
            left: 0;
          }
        }
      }
    }
  }
  .map-item-block-wrapper .title-rating .reviews {
    width: 100%;
  }
  footer {
    .navbar-header {
      width: 60%;
    }
  }
}
@media screen and (min-width: 992px) {
  footer {
    .clearfix {
      display: none;
    }
  }
}
@media screen and (max-width: 991px) {
  body {
    position: static!important;
  }
  .map-item-block {
    width: 90%;
  }
  .remove-padding-md {
    position: relative;
    z-index: 1;
  }
  .grid-item {
    width: 100%;
    margin-left: 0;
    &:nth-child(2n) {
      margin-left: 0;
    }
    .preview {
      .image {
        height: 205px;
      }
    }
    .warning {
      top: 35%;
    }
    .reviews {
      font-size: 12px;
      margin-top: 12px;
    }
  }
  .main-wrapper {
    &.hidden-sidebar-filter {
      .grid-item {
        .preview {
          .image {
            height: 260px;
          }
        }
        .warning {
          top: 43%;
        }
      }
      .exclusive {
        .btrans {
          min-height: 526px;
        }
      }
    }
  }
  .search-result {
    left: -10px;
    width: 100%;
  }
  .exclusive {
    width: 100%;
    margin: auto;
    .trip {
      .rate {
        margin-bottom: 15px;
      }
    }
    .btrans {
      min-height: 433px;
      border-width: 5px;
      border-top-width: 10px;
      border-bottom-width: 10px;
      & + .btrans {
        border-width: 5px;
        border-top-width: 10px;
        border-bottom-width: 10px;
      }
    }
  }
  footer {
    .navbar-text {
      margin-top: 0;
    }
    .navbar-footer {
      margin: 0;
      width: 100%;
      li {
        clear: left;
        width: 100%;
        .dropdown-menu {
          background: #282d36;
        }
        .dropdown-toggle {
          width: 100%;
          background: #37414f;
          border-radius: 0;
          border: 0;
          border-bottom: 2px solid #2e3540;
          text-align: left;
          padding: 13px 30px 10px 50px;
          font-size: 18px;
          position: relative;
          z-index: 10;
          .fa-minus-square-o {
            display: none;
          }
          .fa, i {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 50px;
            height: 15px;
            text-align: center;
          }
          &:hover, &:focus {
            background: #00b9f1!important;
          }
        }
        .dropdown-menu {
          li {
            a {
              line-height: 30px!important;
              color: #fff;
              font-size: 16px!important;
            }
          }
        }
        &.open {
          .dropdown-toggle {
            background: #00b9f1!important;
            .fa-minus-square-o {
              display: block;
            }
            .fa-plus-square-o {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  body {
    position: relative!important;
    min-width: 320px;
  }
  .navbar-brand.dropdown.opened+.dropdown-menu,
  .navbar-brand.dropdown + .dropdown-menu {
    display: none;
  }
  nav {
    &.navbar {
      min-height: initial;
    }
  }
  .navbar-header {
    width: 100%;
    .navbar-brand {
      position: absolute;
      left: 0;
      right: 0;
      margin: 22px auto !important;
      width: 120px;
      height: 34px;
      max-width: initial !important;
      padding: 0 !important;
    }
    .navbar-toggle {
      width: 60px;
      height: 78px;
      float: right;
    }
  }
  .black-bg-map {
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    z-index: 1001;
  }
  .map-item-block {
    z-index: 10000;
    .close-line {
      .close-btn {
        font-size: 12px;
        .text {
          display: none;
        }
      }
      .socials {
        right: 0;
        .social {
          margin: 13px 0;
          li {
            a {
              width: 20px;
              height: 20px;
              line-height: 12px;
              i {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .owl-carousel {
      .owl-dots {
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        width: 170px;
        min-width: 170px;
      }
      .owl-item img {
        width: initial;
        height: 100%;
      }
    }
    .main-price {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 280px;
      width: 200px;
      height: 50px;
      line-height: 23px;
      background: #37414f;
      i {
        line-height: 23px;
      }
    }
    .book-btn {
      position: absolute;
      top: -176px;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0 0 5px 5px!important;
      z-index: 2;
      background: #68b925!important;
      text-transform: uppercase;
      width: 200px;
      height: 50px;
      line-height: 51px!important;
      padding: 0!important;
      text-align: center;
      @media screen and (max-width: 353px) {
        top: -196px;
      }
    }
    .map-item-info .bottom-info .tab-content #hotel-details ul {
      width: 50%;
    }
  }
  .sidebar-filter {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1005;
    margin-left: 0;
    width: calc(100% - 20px);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    .mCSB_inside > .mCSB_container {
      margin-right: 15px;
    }
    &.show-on-map {
      display: none!important;
      position: fixed;
      z-index: 1005;
    }
  }
  .filter-icon {
    position: absolute;
    left: 0;
    width: 60px;
    height: 78px;
    top: 0;
    color: #102e4a;
    background: #d9dfe4;
    font-size: 46px;
    line-height: 76px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
  }
  .mobile-filter-line {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    background: #fff;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
    line-height: 50px;
    .fa, i {
      padding-right: 10px;
    }
  }
  .mobile-close {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #ff0a0a;
    font-size: 20px;
    cursor: pointer;
  }
  .signup {
    .input-group {
      .input-group-btn {
        button {
          width: 100%;
        }
      }
    }
    .white-text {
      font-size: 14px;
      &.large {
        font-size: 18px;
      }
    }
  }
  .input-group {
    .search-icon {
      display: none;
    }
    .input-search {
      height: 80px;
      font-size: 24px;
      border-width: 2px;
      padding-right: 5px;
      padding-left: 5px;
      &::-webkit-input-placeholder {
        text-align: center;
        font-size: 24px;
      }
      &:-ms-input-placeholder {
        text-align: center;
        font-size: 24px;
      }
      &::-moz-placeholder {
        text-align: center;
        font-size: 24px;
      }
    }
  }
  .input-search-btn {
    button {
      background: none;
      border: 0;
      padding: 0;
      width: 45px;
      height: 45px;
      position: absolute;
      right: 0;
      top: -15px;
      &:hover, &:focus, &:active {
        background: transparent;
      }
      .search-icon {
        background-image: url('../images/icons/search-icon-blue.svg');
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        display: none;
      }
    }
  }
  .search-result {
    border-radius: 0;
    left: 0;
    top: 78px;
    .search-result-inner {
      padding: 0 10px 0 10px;
    }
  }
  .load-icon {
    z-index: 100;
    right: 10px;
    left: auto;
  }
  .filter-top {
    height: 85px;
    .content-settings {
      width: 100%;
      position: relative;
      .dropdown-toggle {
        width: 100%;
      }
    }
  }
  .avail {
    margin-left: 0;
    position: absolute;
    top: 35px;
  }
  .main-wrapper {
    width: 100%;
    .content-wrapper {
      width: calc(100% - 30px);
    }
  }
  .grid-item {
    .warning {
      top: 35%;
      width: 55%;
    }
    .address {
      width: 120%;
    }
    .top-wrapper {
      .left-block {
        width: 70%;
        &.center-block {
          width: 100%;
        }
      }
      .right-block {
        width: 30%;
      }
    }
    .trip {
      margin-top: 10px;
      margin-bottom: 0;
    }
    .reviews {
      margin-top: 10px;
    }
    .views {
      bottom: 58px;
      .left {
        display: none;
      }
      .right {
        border-radius: 4px;
        padding: 7px 35px 5px;
      }
    }
    .features {
      display: none;
    }
    .views-bottom {
      font-family: "Roboto",sans-serif;
      color: #68b925;
      font-size: 12px;
      text-transform: uppercase;
      float: left;
      line-height: 39px;
      .fa {
        margin-right: 5px;
      }
    }
  }
  .exclusive {
    padding-left: 0!important;
    padding-right: 0!important;
    width: calc(100% + 30px);
    position: relative;
    left: -15px;
    .btrans {
      border-width: 10px 15px;
      min-height: 415px;
      height: 100%;
      float: left;
      width: 100%;
      & + .btrans {
        border-width: 10px 15px;
      }
      .right-block {
        position: relative;
        right: 10px;
      }
    }
    .heart {
      position: absolute;
      right: 0;
      top: -62px;
    }
    .price {
      margin-top: 5px;
    }
    .cancelon {
      margin-top: 15px;
      clear: left;
    }
    .orange-view {
      margin-top: 15px;
    }
  }
  .date-picker-wrapper {
    z-index: 9999999;
    margin-left: 10px;
    margin-top: -5px;
    &:before {
      display: none;
    }
  }
  .datepicker-input,
  .datepicker-output {
    padding-left: 15px;
  }
  aside .checkbox label::after {
    left: -5px;
  }
  footer {
    .social {
      float: none;
      margin: 30px auto 25px;
      width: 269px;
      height: 55px;
    }
  }
}