@import "variables";
/* 1 Main layout*/
@import "layout-settings";
/* end of Main layout*/

/* 2 Bootstrap override */
@import "bootstrap-override";
/* end of Bootstrap override */

/* 3 fonts */
@import "fonts";
/* end of fonts */

/* 4 Buttons */
@import "buttons";
/* end of Buttons */

/* 5 Datapicker */
@import "datepicker";
/* end of Datapicker */

/* 6 Base sizing helper classes */
@import "base-sizing";
/* end of Base sizing */

/* 7 helper classes */
@import "helpers";
/* end of helper classes */

/* 8 icomoon */
@import "icomoon";
/* end of icomoon */

.navbar-brand {
  max-width: 225px;
  padding: 0;
  margin: 24px 0 24px 0!important;
  &.dropdown {
    & + .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s ease, visibility .2s ease;
      margin: 0;
      padding: 40px 0 0;
      left: 15px;
      top: calc(100% - 25px);
      background: transparent;
      box-shadow: none;
      width: 620px;
      border: 0;
      .logo-info {
        background: rgba(0, 0, 0, 0.85);
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        color: #fff;
        padding: 20px;
        float: left;
        .info,
        .numbers,
        .message {
          float: left;
        }
        .info {
          width: 45%;
          padding-right: 40px;
          .title {
            a {
              font-size: 18px;
              font-weight: 400;
              color: $dark-blue;
              margin-bottom: 10px;
            }
          }
          .text {
            font-size: 16px;
            line-height: 25px;
          }
          .contacts {
            line-height: 20px;
            font-size: 12px;
            position: absolute;
            bottom: 15px;
          }
        }
        .numbers {
          width: 25%;
          .title {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 20px;
          }
          .number {
            font-size: 12px;
            line-height: 20px;
            float: left;
            a {
              color: #fff;
              &:hover {
                color: $main-blue;
              }
            }
          }
        }
        .message {
          width: 30%;
          position: relative;
          height: 205px;
          a {
            width: 136px;
            height: 136px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 50%;
            @include crossBrowser(transition, transform .2s ease);
            &:hover {
              @include crossBrowser(transform, rotate(10deg))
            }
          }
        }
      }
      &:hover {
         opacity: 1;
         visibility: visible;
      }
    }
    &:hover {
      & + .dropdown-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.map-item-block {
  display: none;
  position: fixed;
  //z-index: 11;
  //z-index: 14;
  z-index: 160;
  font-family: "Roboto", sans-serif;
  right: 0;
  top: 0;
  width: 45%;
  height: 100%;
  background: #fff;
  box-shadow:  -25px 0 60px 0 rgba(0, 0, 0, 0.21);
  &-wrapper {
    //position: sticky;
    //top: 0;
    .close-line {
      padding: 15px;
      background: #f3f3f3;
      position: relative;
      .close-btn {
        display: inline-block;
        color: #000;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 700;
        .fa-close {
          @include crossBrowser(transition, transform .15s ease);
          top: 2px;
          font-size: 15px;
          color: #ff353d;
        }
        .text {
          position: relative;
          padding-left: 10px;
        }
        &:hover {
          .fa-close {
            @include crossBrowser(transform, rotate(90deg))
          }
        }
      }
      .socials {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        .social {
          margin: 3px 0;
          li {
            a {
              width: 30px;
              height: 30px;
              line-height: 24px;
              i {
                font-size: 20px;
                color: #2f8ce8;
              }
              &:hover {
                i {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .title-rating {
      padding: 15px 0;
      .main-title {
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 0;
      }
      .trip {
        .rate {
          .rate-image {
            float: right;
            margin-right: 2px;
          }
        }
      }
      .reviews {
        font-size: 10px;
        margin: 5px 4px 5px 2px;
        text-decoration: underline!important;
        float: right;
        text-align: right;
        width: 100%;
      }
    }
  }
  &--wrapper {
    overflow-x: hidden;
    max-height: 100vh;
    .mCSB_scrollTools {
      width: 10px;
    }
    .mCSB_inside > .mCSB_container {
      margin-right: 10px;
    }
  }
  .main-price {
    float: right;
    padding: 13px 15px 8px;
    font-size: 26px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    width: 200px;
    color: #fff;
    background: $main-blue;
    text-align: center;
    margin-top: -58px;
    margin-right: 15px;
    position: relative;
    z-index: 1;
    i {
      float: left;
      line-height: 36px;
    }
  }
  .map-item-info {
    padding-bottom: 300px;
    .top-info {
      padding: 15px 0;
      border-bottom: 1px solid #e8e8e8;
      h3 {
        font-weight: 600;
      }
      .distance-blue {
        i {
          font-size: 16px;
          margin-right: 5px;
        }
        &:hover, &:focus {
          text-decoration: underline!important;
        }
      }
    }
    .bottom-info {
      .nav-pills {
        margin-top: 10px;
        margin-bottom: 15px;
      }
      .tab-content {
        #hotel-details {
          ul {
            float: left;
            width: 25%;
            & > * {
              font-size: 13px;
              padding-left: 30px;
              margin-bottom: 5px;
              float: left;
              clear: left;
              position: relative;
              width: 100%;
              i {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 15px;
                text-align: center;
              }
            }
          }
          .description {
            p {
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}
.search-filter-block {
  position: relative;
  height: 50px;
  width: calc((55% - 50px) / 2);
  @include calc(width, 'calc((55% - 50px - 30px)/ 2)');
  float: left;
  z-index: 1;
  margin: 25px 0;
  margin-left: 10px;
  box-shadow: 0 1px 5px -2px rgba(0,0,0,.4);
  background: #fff;
  .input-group {
    .datepicker-book-rooms {
      float: left;
      padding: 8px 0;
      border: 1px solid #d4dee4;
      border-radius: 2px;
      position: relative;
      &:before {
        content: '...';
        height: 4px;
        width: 25px;
        color: #000;
        font-size: 40px;
        background: transparent;
        border-radius: 100px;
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: -20px;
        bottom: 0;
        margin: auto;
        pointer-events: none;
      }
      .datepicker-input,
      .datepicker-output {
        background: 0 0;
        width: initial;
        min-width: 130px;
        height: initial;
        line-height: initial;
        padding: 1px 0;
        margin-right: 5px;
        border-radius: 5px!important;
        .date,
        .day {
          color: #000;
        }
      }
    }
    .form-control {
      border-bottom: 0;
      text-align: center;
      float: left;
      width: 50%;
      font-size: 14px;
      font-weight: 700;
      padding: 0;
      height: 100%;
      line-height: 50px;
      font-family: "Roboto", sans-serif;
      .day {
        display: none;
      }
    }
  }
  .datepicker-input,
  .datepicker-output {
    background: #fff;
    .date,
    .day {
      float: left;
      font-weight: 500;
      display: block;
      width: 100%;
    }
    .date {
      color: #000;
      font-size: 16px;
    }
    .day {
      color: #a3a3a3;
      font-size: 12px;
    }
  }
}

//.booking-table {
//  .date-group {
//    pointer-events: none;
//  }
//}

.date-group {
  width: 100%;
  border-bottom: 2px solid transparent;
  &.active {
    border-bottom: 2px solid #1d79d6;
  }
  &:before {
    content: '';
    height: 4px;
    width: 37px;
    background: #000;
    border-radius: 100px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.people-count {
  width: 100%;
  position: relative;
  border-bottom: 2px solid transparent;
  margin-right: 10px;
  @include crossBrowser(transition, border-color .2s ease-in);
  &.active {
    border-color: #1d79d6;
  }
  .fa-sliders {
    color: #000;
    font-size: 20px;
  }
  .down-arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 28px;
    margin: auto;
  }
  #peopleCount {
    float: left;
    padding: 0;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    .block {
      display: inline-block;
      height: 100%;
      line-height: 50px;
      font-size: 16px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      color: #000;
      padding-left: 5px;
    }
  }
  .book-menu {
    width: 155%;
    max-width: 538px;
    padding: 0;
    border: 0;
    border-radius: 0;
    top: 60px;
    left: -55%;
    right: 0;
    margin: auto;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    .input-group {
      .input-group-btn {
        .btn {
          border-radius: 100%!important;
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
    .room {
      //display: block;
      width: 100%;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      padding: 20px 30px;
      border-bottom: 1px solid #ccd8df;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &:before,
      &:after {
        display: none;
      }
      &:first-child:last-child {
        border-bottom: 0;
      }
      .col-form-label {
        display: block;
        width: 100%;
        margin-bottom: 20px;
      }
      .input-group {
        width: 85%;
      }
      .form-control {
        font-size: 16px;
      }
      .title {
        display: block;
        float: left;
        width: 20%;
        font-weight: 700;
        color: #a5a5a5;
        a {
          display: block;
          margin-top: 20px;
          font-weight: 300;
          color: #1d79d6;
        }
      }
      .adults {
        display: block;
        float: left;
        width: 20%;
      }
      .children {
        display: block;
        float: left;
        width: 20%;
      }
      .children-age {
        display: block;
        float: left;
        width: 40%;
        .col-form-label {
          margin-bottom: 5px;
          pointer-events: none;
        }
        .child {
          margin-top: 15px;
          display: block;
          @include calc(width, '50% - 10px');
          margin-right: 10px;
          float: left;
          &-2,
          &-4 {
            margin-right: 0;
          }
          select,
          .bootstrap-select {
            width: 100%;
            border-radius: 2px;
            button {
              padding-left: 15px;
              border: 1px solid #d4dee4;
            }
          }
        }
      }
    }
    .book-header {
      border-bottom: 1px solid #ccd8df;
      display: block;
      padding: 20px 30px;
      & > .bootstrap-select {
        float: right;
        button {
          border: 1px solid #d4dee4;
          padding: 8px;
          padding-left: 15px;
          border-radius: 2px;
          margin-top: 0;
        }
      }
    }
    .book-footer {
      display: block;
      padding: 20px 30px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      a {
        color: #4091ff;
        &:hover {
          text-decoration: underline !important;
        }
      }
      #add-book-room {
        float: left;
      }
      #done-book-menu {
        float: right;
      }
    }
    .input-number {
      border-bottom: 0!important;
      margin: 1px;
      pointer-events: none;
    }
    .input-group {
      width: 55%;
    }
  }
}

.search-result {
  display: none;
  position: absolute;
  z-index: 13;
  top: 85px;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid #1f93d7;
  width: 45%;
  font-family: "Roboto", sans-serif;
  //margin: auto;
  overflow: hidden;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.25);
  &-inner {
    max-height: 370px;
    overflow-y: auto;
    padding: 0;
  }
  .list-group {
    margin: 25px 0 15px;
    border: none;
    background: transparent;
    &-item {
      background: transparent;
      border: none;
      padding: 0;
      h4 {
        margin: 5px 0 0;
        font-weight: 600;
        color: #000;
      }
      .location {
        color: #9d9d9d;
        font-size: 12px;
      }
      a {
        display: block;
        padding: 10px 0 10px 45px;
        border-radius: 5px;
        &:hover {
          background: rgba(0, 185, 241, 0.08);
        }
      }
    }
    .category {
      text-align: right;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 12px;
      color: #a7a7a7;
      padding-right: 25px;
    }
  }
  .city-label {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    text-align: right;
    padding-right: 25px;
    padding-top: 10px;
    color: #a7a7a7;
    background: #fff;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .result-icon {
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 11px;
    top: 0;
    bottom: 0;
    margin: auto;
    &.marker {
      background-image: url('../images/icons/location-outline.svg');
    }
    &.home {
      background-image: url('../images/icons/home-outline.svg');
    }
    &.info {
      background-image: url('../images/icons/info-large-outline.svg');
    }
    &.plane {
      background-image: url('../images/icons/plane-outline.svg');
    }
  }
  .search-all {
    width: 100%;
    display: block;
    border-top: 1px solid #ebebeb;
    background: #f8f8f8;
    padding: 14px 0 14px 15px;
    font-size: 14px;
    text-decoration: underline!important;
    color: $dark-blue;
    &:hover {
      color: lighten($dark-blue, 20%);
    }
  }
}

.load-icon {
  color: #fff;
  font-size: 30px;
  background: #1d79d6;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 1;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  @include crossBrowser(transition, opacity .1s);
  &.writing {
    opacity: 1;
    z-index: 10;
  }
}
.owl-carousel {
  .owl-item {
    img {
      display: block;
      width: 100%;
      height: initial;
    }
  }
  .owl-prev {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 85px;
    opacity: .25;
    background: rgba(255, 255, 255, .7);
    @include crossBrowser(transition, opacity .2s ease);
    &:hover {
      opacity: 1;
    }
    i {
      font-size: 70px;
      line-height: 280px;
      text-align: center;
      width: 100%;
    }
  }
  .owl-next {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 85px;
    opacity: .25;
    background: rgba(255, 255, 255, .7);
    @include crossBrowser(transition, opacity .2s ease);
    &:hover {
      opacity: 1;
    }
    i {
      font-size: 70px;
      line-height: 280px;
      text-align: center;
      width: 100%;
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 0;
    .owl-dot {
      float: left;
      margin-right: 5px;
      span {
        background: #fff;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: block;
        @include crossBrowser(transition, background .2s ease);
      }
      &.active,
      &:hover {
        span {
          background: #2f8ce8;
        }
      }
    }
  }
}
@import "landing";
@import "payment";
@import "details-item";
@import "unsupport";
@import "conditions";
@import "response";
@import "compatibility";
@import "placeholder";

