@import "variables";
/* 1 Main layout*/
@import "layout-settings";
/* end of Main layout*/

/* 2 Bootstrap override */
@import "bootstrap-override";
/* end of Bootstrap override */

/* 3 fonts */
@import "fonts";
/* end of fonts */

/* 4 Buttons */
@import "buttons";
/* end of Buttons */

/* 5 Datapicker */
@import "datepicker.scss";
/* end of Datapicker */

/* 6 Base sizing helper classes */
@import "base-sizing";
/* end of Base sizing */

/* 7 helper classes */
@import "helpers.scss";
/* end of helper classes */

.navbar-brand {
  max-width: 280px;
  &.dropdown {
    & + .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s ease, visibility .2s ease;
      margin: 0;
      padding: 0;
      padding-top: 15px;
      left: 15px;
      top: 100%;
      background: transparent;
      box-shadow: none;
      width: 620px;
      border-radius: 5px;
      border: 0;
      .logo-info {
        background: rgba(0, 0, 0, 0.85);
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        border-radius: 5px;
        color: #fff;
        padding: 20px;
        float: left;
        .info,
        .numbers,
        .message {
          float: left;
        }
        .info {
          width: 45%;
          padding-right: 40px;
          .title {
            a {
              font-size: 18px;
              font-weight: 400;
              color: $dark-blue;
              margin-bottom: 10px;
            }
          }
          .text {
            font-size: 16px;
            line-height: 25px;
          }
          .contacts {
            line-height: 20px;
            font-size: 12px;
            position: absolute;
            bottom: 15px;
          }
        }
        .numbers {
          width: 25%;
          .title {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 20px;
          }
          .number {
            font-size: 12px;
            line-height: 20px;
            a {
              color: #fff;
              &:hover {
                color: $main-blue;
              }
            }
          }
        }
        .message {
          width: 30%;
          position: relative;
          height: 205px;
          a {
            width: 136px;
            height: 136px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 50%;
            @include crossBrowser(transition, transform .2s ease);
            &:hover {
              @include crossBrowser(transform, rotate(10deg))
            }
          }
        }
      }
    }
    &.opened {
      & + .dropdown-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.map-item-block {
  display: none;
  position: absolute;
  font-family: "Roboto", sans-serif;
  right: 15px;
  width: 45%;
  height: 100%;
  background: #fff;
  box-shadow: -5px 0 40px 0 rgba(0,0,0,0.5);
  &-wrapper {
    .close-line {
      padding: 15px;
      background: #f3f3f3;
      position: relative;
      .close-btn {
        display: inline-block;
        color: #afafaf;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        .close-icon {
          @include crossBrowser(transition, transform .15s ease);
          top: 2px;
          .bar {
            background-color: #afafaf;
          }
        }
        .text {
          position: relative;
          top: -5px;
          padding-left: 10px;
        }
        &:hover {
          .close-icon {
            @include crossBrowser(transform, rotate(90deg))
          }
        }
      }
      .socials {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        .social {
          margin: 8px 0;
          li {
            a {
              width: 30px;
              height: 30px;
              line-height: 24px;
              i {
                font-size: 20px;
                color: #2f8ce8;
              }
              &:hover {
                i {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .title-rating {
      padding: 15px 0;
      .main-title {
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 0;
      }
    }
  }
  .owl-carousel {
    .owl-item {
      img {
        display: block;
        width: 100%;
        height: initial;
      }
    }
    .owl-dots {
      position: absolute;
      bottom: 20px;
      left: 60px;
      .owl-dot {
        float: left;
        margin-right: 5px;
        span {
          background: #fff;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: block;
          @include crossBrowser(transition, background .2s ease);
        }
        &.active,
        &:hover {
          span {
            background: #2f8ce8;
          }
        }
      }
    }
  }
  .main-price {
    float: right;
    padding: 13px 15px 8px;
    font-size: 26px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    width: 200px;
    color: #fff;
    background: $main-blue;
    text-align: center;
    border-radius: 5px 5px 0 0;
    margin-top: -58px;
    margin-right: 15px;
    position: relative;
    z-index: 1;
    i {
      float: left;
      line-height: 36px;
    }
  }
  .map-item-info {
    .top-info {
      padding: 15px 0;
      border-bottom: 1px solid #e8e8e8;
      h3 {
        font-weight: 600;
      }
      .distance-blue {
        i {
          font-size: 16px;
          margin-right: 5px;
        }
      }
      .book-btn {
        padding: 15px 55px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background: $dark-blue;
        border-radius: 5px;
        line-height: 50px;
        &:hover {
          background: $main-blue;
        }
      }
    }
    .bottom-info {
      .nav-pills {
        margin-top: 10px;
        margin-bottom: 15px;
      }
      .tab-content {
        #hotel-details {
          ul {
            float: left;
            width: 25%;
            span {
              font-size: 13px;
              padding-left: 30px;
              float: left;
              clear: left;
              position: relative;
              width: 100%;
              i {
                position: absolute;
                left: 0;
                top: 2px;
                bottom: 0;
                width: 15px;
                text-align: center;
              }
            }
          }
          .description {
            p {
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}