doctype html
//- Global variables
- var page
block vars
//- Template
html(lang="en")
   head
      include ../parts/head
   body(class=page.classes)
      block main
      if page.name != 'update-browser'
         include ../parts/footer
      include ../parts/scripts