.placeholder-sidebar
	.placeholder-panel-group
		.placeholder-price-range
			.placeholder-price-range-price.placeholder-item
			.placeholder-price-range-price2.placeholder-item
			.placeholder-price-range-price3.placeholder-item.mb-0
	.placeholder-hr
	.placeholder-panel-group
		.placeholder-stars
			.placeholder-stars-stars5.placeholder-item
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-stars-stars4.placeholder-item
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-stars-stars3.placeholder-item
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-stars-stars2.placeholder-item
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-stars-stars1.placeholder-item
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-stars-any.placeholder-item.mb-0
			.placeholder-checkbox.placeholder-item.mb-0
			.clearfix
	.placeholder-hr
	.placeholder-panel-group
		.placeholder-exclusives
			.placeholder-item.w-60
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-item.w-35
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-item.w-45
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-item.w-70
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-item.w-70
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-item.w-55.mb-0
			.placeholder-checkbox.placeholder-item.mb-0
			.clearfix
	.placeholder-hr
	.placeholder-panel-group
		.placeholder-facilities
			.placeholder-facilities-icon.placeholder-item
			.placeholder-item.w-40
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-facilities-icon.placeholder-item
			.placeholder-item.w-35
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-facilities-icon.placeholder-item
			.placeholder-item.w-55
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-facilities-icon.placeholder-item
			.placeholder-item.w-30
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-facilities-icon.placeholder-item
			.placeholder-item.w-15
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-facilities-icon.placeholder-item
			.placeholder-item.w-35
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-facilities-icon.placeholder-item
			.placeholder-item.w-25
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-facilities-icon.placeholder-item
			.placeholder-item.w-45
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-item.show.w-65.mt-20
			.clearfix
	.placeholder-hr
	.placeholder-panel-group
		.placeholder-accommodation
			.placeholder-item.w-25
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-item.w-30
			.placeholder-checkbox.placeholder-item
			.clearfix
			.placeholder-item.w-45.mb-0
			.placeholder-checkbox.placeholder-item.mb-0
			.clearfix
.panel.panel-default.placeholder-show
	.panel-heading
		h4.panel-title
			a(data-toggle='collapse', href='#collapse1', aria-expanded='true')
				| Price Range
				i.fa.fa-caret-up(aria-hidden='true')
	#collapse1.panel-collapse.collapse.in
		.panel-body
			input#amount1(type='text', style='border:0; color:#f6931f; font-weight:bold;')
			span.range-divider -
			input#amount2(type='text', style='border:0; color:#f6931f; font-weight:bold;')
			a(href='javascript:void(0)', class='show-all') Show All
			#slider-range
	.panel-heading
		h4.panel-title
			a(data-toggle='collapse', href='#collapse2', aria-expanded='true')
				| Stars
				i.fa.fa-caret-up(aria-hidden='true')
	#collapse2.stars-filter.panel-collapse.collapse.in
		.panel-body
			.checkbox.checkbox-success
				input#checkbox1(type='checkbox')
				label(for='checkbox1')
					ul.stars
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
			.divider
			.checkbox.checkbox-success
				input#checkbox2(type='checkbox')
				label(for='checkbox2')
					ul.stars
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
			.divider
			.checkbox.checkbox-success
				input#checkbox3(type='checkbox')
				label(for='checkbox3')
					ul.stars
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
			.divider
			.checkbox.checkbox-success
				input#checkbox4(type='checkbox')
				label(for='checkbox4')
					ul.stars
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
			.divider
			.checkbox.checkbox-success
				input#checkbox5(type='checkbox')
				label(for='checkbox5')
					ul.stars
						li
							i.fa.orange-text.fa-star(aria-hidden='true')
			.divider
			.checkbox.checkbox-success
				input#checkbox6(type='checkbox')
				label(for='checkbox6')
					| Any
	.panel-heading
		h4.panel-title
			a(data-toggle='collapse', href='#collapse2-1', aria-expanded='true')
				| TripAdviser Rating
				i.fa.fa-caret-up(aria-hidden='true')
	#collapse2-1.tripavisor-filter.panel-collapse.collapse.in
		.panel-body
			.checkbox.checkbox-success
				input#checkbox1-1(type='checkbox')
				label(for='checkbox1-1')
					.rate(data-rate='5')
			.divider
			.checkbox.checkbox-success
				input#checkbox2-1(type='checkbox')
				label(for='checkbox2-1')
					.rate(data-rate='4')
			.divider
			.checkbox.checkbox-success
				input#checkbox3-1(type='checkbox')
				label(for='checkbox3-1')
					.rate(data-rate='3')
			.divider
			.checkbox.checkbox-success
				input#checkbox4-1(type='checkbox')
				label(for='checkbox4-1')
					.rate(data-rate='2')
			.divider
			.checkbox.checkbox-success
				input#checkbox5-1(type='checkbox')
				label(for='checkbox5-1')
					.rate(data-rate='1')
			.divider
			.checkbox.checkbox-success
				input#checkbox6-1(type='checkbox')
				label(for='checkbox6-1')
					| Any
	.panel-heading
		h4.panel-title
			a(data-toggle='collapse', href='#collapse3', aria-expanded='true')
				| Cancelon Exclusives
				i.fa.fa-caret-up(aria-hidden='true')
	#collapse3.panel-collapse.collapse.in
		.panel-body
			.checkbox.checkbox-success
				input#checkbox11(type='checkbox')
				label(for='checkbox11')
					| Sale Hotel Rooms
			.divider
			.checkbox.checkbox-success
				input#checkbox12(type='checkbox')
				label(for='checkbox12')
					| Only Deals
			.divider
			.checkbox.checkbox-success
				input#checkbox13(type='checkbox')
				label(for='checkbox13')
					| Roll-in shower
			.divider
			.checkbox.checkbox-success
				input#checkbox14(type='checkbox')
				label(for='checkbox14')
					| In-room accessibility
			.divider
			.checkbox.checkbox-success
				input#checkbox15(type='checkbox')
				label(for='checkbox15')
					| Accessible bathroom
			.divider
			.checkbox.checkbox-success
				input#checkbox16(type='checkbox')
				label(for='checkbox16')
					| Wheelchair accessible rooms
	.panel-heading
		h4.panel-title
			a.collapse(data-toggle='collapse', href='#collapse4', aria-expanded='true')
				| Facilities
				i.fa.fa-caret-down(aria-hidden='true')
	#collapse4.panel-collapse.facilities.collapse.in
		.panel-body
			.checkbox.checkbox-success
				input#checkbox21(type='checkbox')
				label(for='checkbox21')
					i.blue-text.icon-wifi
					|  Free Wi-Fi
			.divider
			.checkbox.checkbox-success
				input#checkbox22(type='checkbox')
				label(for='checkbox22')
					i.blue-text.icon-parking
					|  Parking
			.divider
			.checkbox.checkbox-success
				input#checkbox23(type='checkbox')
				label(for='checkbox23')
					i.blue-text.icon-air-conditioner
					|  Air conditioner
			.divider
			.checkbox.checkbox-success
				input#checkbox24(type='checkbox')
				label(for='checkbox24')
					i.blue-text.icon-old-typical-phone
					|  Phone
			.divider
			.checkbox.checkbox-success
				input#checkbox25(type='checkbox')
				label(for='checkbox25')
					i.blue-text.icon-television
					|  TV
			.divider
			.checkbox.checkbox-success
				input#checkbox26(type='checkbox')
				label(for='checkbox26')
					i.blue-text.icon-shower-head
					|  Shower
			.divider
			.checkbox.checkbox-success
				input#checkbox27(type='checkbox')
				label(for='checkbox27')
					i.blue-text.icon-valet-head
					| Valet
			.divider
			.checkbox.checkbox-success
				input#checkbox28(type='checkbox')
				label(for='checkbox28')
					i.blue-text.icon-single-bed
					|  Single bed
			.divider
			a.underline.block.pt-20.pb-20(href='javascript:void(0)') Show 33 parametrs
	.panel-heading
		h4.panel-title
			a.collapse(data-toggle='collapse', href='#collapse5', aria-expanded='true')
				| Accommodation Type
				i.fa.fa-caret-down(aria-hidden='true')
	#collapse5.panel-collapse.collapse.in
		.panel-body
			.checkbox.checkbox-success
				input#checkbox41(type='checkbox')
				label(for='checkbox41')
					| Hotel
			.divider
			.checkbox.checkbox-success
				input#checkbox42(type='checkbox')
				label(for='checkbox42')
					| Hostel
			.divider
			.checkbox.checkbox-success
				input#checkbox43(type='checkbox')
				label(for='checkbox43')
					| Apartments