aside.sidebar-filter
	.panel-group.mb-0
		.panel.panel-default
			.panel-heading
				h4.panel-title
					a(data-toggle='collapse', href='#date-adults', aria-expanded='true')
						| Date and Adults
						i.fa.fa-caret-up(aria-hidden='true')
			#date-adults.panel-collapse.collapse.in
				.panel-body
					.form-group.mb-0
						label.col-form-label.mt-5(for='date[1]') Check-in date
						.input-group.input-group-white
							span.input-group-addon
								i.fa.fa-calendar.green-text
							input.form-control.datepicker-input(type='text', placeholder='Check-in date', id='date[1]')
						label.col-form-label.mt-10(for='date[1]') Check-out date
						.input-group.input-group-white
							span.input-group-addon
								i.fa.fa-calendar.red-text
							input.form-control.datepicker-output(type='text', placeholder='Check-out date','date[2]')
						label.col-form-label.mt-20(for='quant[1]') Room Quantity
						.input-group.mt-10
							span.input-group-btn
								button.btn.btn-info.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant[1]')
									| -
							input.form-control.input-number(type='text', id='quant[1]', name='quant[1]', value='1', min='1', max='10')
							span.input-group-btn
								button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[1]')
									| +
						label.col-form-label.mt-20(for='quant[2]') Adults
						.input-group.mt-10.mb-20
							span.input-group-btn
								button.btn.btn-info.btn-number(type='button', data-type='minus', data-field='quant[2]')
									| -
							input.form-control.input-number(type='text', id='quant[2]', name='quant[2]', value='2', min='1', max='100')
							span.input-group-btn
								button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[2]')
									| +
			.panel-heading
				h4.panel-title
					a(data-toggle='collapse', href='#collapse1', aria-expanded='true')
						| Total Price
						i.fa.fa-caret-up(aria-hidden='true')
			#collapse1.panel-collapse.collapse.in
				.panel-body
					input#amount1(type='text', style='border:0; color:#f6931f; font-weight:bold;')
					input#amount2(type='text', style='border:0; color:#f6931f; font-weight:bold;')
					#slider-range
			.panel-heading
				h4.panel-title
					a(data-toggle='collapse', href='#collapse2', aria-expanded='true')
						| Stars
						i.fa.fa-caret-up(aria-hidden='true')
			#collapse2.stars-filter.panel-collapse.collapse.in
				.panel-body
					.checkbox.checkbox-success
						input#checkbox1(type='checkbox')
						label(for='checkbox1')
							ul.stars
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
					.divider
					.checkbox.checkbox-success
						input#checkbox2(type='checkbox')
						label(for='checkbox2')
							ul.stars
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
					.divider
					.checkbox.checkbox-success
						input#checkbox3(type='checkbox')
						label(for='checkbox3')
							ul.stars
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
					.divider
					.checkbox.checkbox-success
						input#checkbox4(type='checkbox')
						label(for='checkbox4')
							ul.stars
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
					.divider
					.checkbox.checkbox-success
						input#checkbox5(type='checkbox')
						label(for='checkbox5')
							ul.stars
								li
									i.fa.orange-text.fa-star(aria-hidden='true')
					.divider
					.checkbox.checkbox-success
						input#checkbox6(type='checkbox')
						label(for='checkbox6')
							| Any
			.panel-heading
				h4.panel-title
					a(data-toggle='collapse', href='#collapse3', aria-expanded='true')
						| Cancelon Exclusives
						i.fa.fa-caret-up(aria-hidden='true')
			#collapse3.panel-collapse.collapse.in
				.panel-body
					.checkbox.checkbox-success
						input#checkbox11(type='checkbox')
						label(for='checkbox11')
							| Sale Hotel Rooms
					.divider
					.checkbox.checkbox-success
						input#checkbox12(type='checkbox')
						label(for='checkbox12')
							| Only Deals
					.divider
					.checkbox.checkbox-success
						input#checkbox13(type='checkbox')
						label(for='checkbox13')
							| Roll-in shower
					.divider
					.checkbox.checkbox-success
						input#checkbox14(type='checkbox')
						label(for='checkbox14')
							| In-room accessibility
					.divider
					.checkbox.checkbox-success
						input#checkbox15(type='checkbox')
						label(for='checkbox15')
							| Accessible bathroom
					.divider
					.checkbox.checkbox-success
						input#checkbox16(type='checkbox')
						label(for='checkbox16')
							| Wheelchair accessible rooms
					.divider
			.panel-heading
				h4.panel-title
					a.collapsed(data-toggle='collapse', href='#collapse4', aria-expanded='false')
						| Facilities
						i.fa.fa-caret-down(aria-hidden='true')
			#collapse4.panel-collapse.facilities.collapse
				.panel-body
					.checkbox.checkbox-success
						input#checkbox21(type='checkbox')
						label(for='checkbox21')
							i.fa.blue-text.fa-wifi(aria-hidden='true')
							|  Free Wi-Fi
					.divider
					.checkbox.checkbox-success
						input#checkbox22(type='checkbox')
						label(for='checkbox22')
							i.fa.blue-text.fa-car(aria-hidden='true')
							|  Parking
					.divider
					.checkbox.checkbox-success
						input#checkbox23(type='checkbox')
						label(for='checkbox23')
							i.fa.blue-text.fa-thermometer-half(aria-hidden='true')
							|  Air conditioner
					.divider
					.checkbox.checkbox-success
						input#checkbox24(type='checkbox')
						label(for='checkbox24')
							i.fa.blue-text.fa-phone(aria-hidden='true')
							|  Phone
					.divider
					.checkbox.checkbox-success
						input#checkbox25(type='checkbox')
						label(for='checkbox25')
							i.fa.blue-text.fa-television(aria-hidden='true')
							|  TV
					.divider
					.checkbox.checkbox-success
						input#checkbox26(type='checkbox')
						label(for='checkbox26')
							i.fa.blue-text.fa-shower(aria-hidden='true')
							|  Shower
					.divider
					.checkbox.checkbox-success
						input#checkbox27(type='checkbox')
						label(for='checkbox27')
							i.fa.blue-text.fa-street-view(aria-hidden='true')
							| Valet
					.divider
					.checkbox.checkbox-success
						input#checkbox28(type='checkbox')
						label(for='checkbox28')
							i.fa.blue-text.fa-bed(aria-hidden='true')
							|  Single bed
					.divider
					a.underline.block.pt-20.pb-20(href='#') Show 33 parametrs
			.panel-heading
				h4.panel-title
					a.collapsed(data-toggle='collapse', href='#collapse5', aria-expanded='false')
						| Accommodation Type
						i.fa.fa-caret-down(aria-hidden='true')
			#collapse5.panel-collapse.collapse
				.panel-body
					.checkbox.checkbox-success
						input#checkbox41(type='checkbox')
						label(for='checkbox41')
							| Hotel
					.divider
					.checkbox.checkbox-success
						input#checkbox42(type='checkbox')
						label(for='checkbox42')
							| Hostel
					.divider
					.checkbox.checkbox-success
						input#checkbox43(type='checkbox')
						label(for='checkbox43')
							| Apartments
