.list.mt-10
   .list-item
      img.img-responsive.col-md-3.pl-0.pr-0(src='images/room-list.png', alt='')
      .col-md-6.mt-10
         h1 Joint Base
         ul.stars
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               img.ml-10.mr-10(width='25', src='images/icons/tripavisor.svg')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               a.extra-small.ml-5.text-underline(href='javascript:void(0)') 142 Reviews
         p.font-weight-500 485 Clawson St, Staten Island, NY 10306
         .pull-left.pl-0.pr-0
            img.img-responsive(width='25', src='images/icons/5.svg')
         .col-md-10.pl-5.pr-0.top-3
            p.regular-text.font-weight-500
               span.distance-blue 1.98 km.
               |  to the centre of Central Park
         ul.features
            li
               i.fa.fa-wifi(aria-hidden='true')
            li
               i.fa.fa-car(aria-hidden='true')
            li
               i.fa.fa-phone(aria-hidden='true')
            li
               i.fa.fa-television(aria-hidden='true')
            li
               i.fa.fa-shower(aria-hidden='true')
      .col-md-3.mt-10.pl-0.pr-10
         p.price.pull-right
            | $468
            span.regular-text /day
         p.red-price.pull-right $520
         p.pull-right.w-100.text-right.font-weight-600.mb-5
            | Only
            span.orange-text  3
            |  rooms left!
         .clearfix
         a.views(href='javascript:void(0)') View
         p.small-text.font-weight-400.pull-right.mt-5.w-100.text-right.mb-0
            | Booked
            span.font-weight-600  30
            |  Times Today
         p.small-text.font-weight-400.pull-right.mt-5.text-right.mb-0
            span.font-weight-600 5
            |  People Looking Right Now
   .list-item
      img.img-responsive.col-md-3.pl-0.pr-0(src='images/room-list.png', alt='')
      .col-md-6.mt-10
         h1 London Hilton Hotel
         ul.stars
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               img.ml-10.mr-10(width='25', src='images/icons/tripavisor.svg')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               a.extra-small.ml-5.text-underline(href='javascript:void(0)') 142 Reviews
         p.font-weight-500 485 Clawson St, Staten Island, NY 10306
         .pull-left.pl-0.pr-0
            img.img-responsive(width='25', src='images/icons/5.svg')
         .col-md-10.pl-5.pr-0.top-3
            p.regular-text.font-weight-500
               span.distance-blue 1.98 km.
               |  to the centre of Central Park
         ul.features
            li
               i.fa.fa-wifi(aria-hidden='true')
            li
               i.fa.fa-car(aria-hidden='true')
            li
               i.fa.fa-phone(aria-hidden='true')
            li
               i.fa.fa-television(aria-hidden='true')
            li
               i.fa.fa-shower(aria-hidden='true')
      .col-md-3.mt-10.pl-0.pr-10
         p.price.pull-right
            | $300
            span.regular-text /day
         .clearfix
         a.views(href='javascript:void(0)') View
         p.small-text.font-weight-400.pull-right.mt-5.w-100.text-right.mb-0
            | Booked
            span.font-weight-600  30
            |  Times Today
         p.small-text.font-weight-400.pull-right.mt-5.text-right.mb-0
            span.font-weight-600 5
            |  People Looking Right Now
   .list-item
      img.img-responsive.col-md-3.pl-0.pr-0(src='images/room-list.png', alt='')
      .col-md-6.mt-10
         h1 Joint Base
         ul.stars
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               img.ml-10.mr-10(width='25', src='images/icons/tripavisor.svg')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               a.extra-small.ml-5.text-underline(href='javascript:void(0)') 142 Reviews
         p.font-weight-500 485 Clawson St, Staten Island, NY 10306
         .pull-left.pl-0.pr-0
            img.img-responsive(width='25', src='images/icons/5.svg')
         .col-md-10.pl-5.pr-0.top-3
            p.regular-text.font-weight-500
               span.distance-blue 1.98 km.
               |  to the centre of Central Park
         ul.features
            li
               i.fa.fa-wifi(aria-hidden='true')
            li
               i.fa.fa-car(aria-hidden='true')
            li
               i.fa.fa-phone(aria-hidden='true')
            li
               i.fa.fa-television(aria-hidden='true')
            li
               i.fa.fa-shower(aria-hidden='true')
      .col-md-3.mt-10.pl-0.pr-10
         p.price.pull-right
            | $211
            span.regular-text /day
         .clearfix
         a.views(href='javascript:void(0)') View
         p.small-text.font-weight-400.pull-right.mt-5.w-100.text-right.mb-0
            | Booked
            span.font-weight-600  30
            |  Times Today
         p.small-text.font-weight-400.pull-right.mt-5.text-right.mb-0
            span.font-weight-600 5
            |  People Looking Right Now
   .list-item
      img.img-responsive.col-md-3.pl-0.pr-0(src='images/room-list.png', alt='')
      .col-md-6.mt-10
         h1 Joint Base
         ul.stars
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               img.ml-10.mr-10(width='25', src='images/icons/tripavisor.svg')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               a.extra-small.ml-5.text-underline(href='javascript:void(0)') 142 Reviews
         p.font-weight-500 485 Clawson St, Staten Island, NY 10306
         .pull-left.pl-0.pr-0
            img.img-responsive(width='25', src='images/icons/5.svg')
         .col-md-10.pl-5.pr-0.top-3
            p.regular-text.font-weight-500
               span.distance-blue 1.98 km.
               |  to the centre of Central Park
         ul.features
            li
               i.fa.fa-wifi(aria-hidden='true')
            li
               i.fa.fa-car(aria-hidden='true')
            li
               i.fa.fa-phone(aria-hidden='true')
            li
               i.fa.fa-television(aria-hidden='true')
            li
               i.fa.fa-shower(aria-hidden='true')
      .col-md-3.mt-10.pl-0.pr-10
         p.price.pull-right
            | $90
            span.regular-text /day
         p.red-price.pull-right $120
         p.pull-right.w-100.text-right.font-weight-600.mb-5
            | Only
            span.red-text  1
            |  room left!
         .clearfix
         a.views(href='javascript:void(0)') View
         p.small-text.font-weight-400.pull-right.mt-5.w-100.text-right.mb-0
            | Booked
            span.font-weight-600  30
            |  Times Today
         p.small-text.font-weight-400.pull-right.mt-5.text-right.mb-0
            span.font-weight-600 5
            |  People Looking Right Now