.grid.mt-10
   .grid-item
      img.img-responsive(src='images/room1.png', alt='')
      .col-md-9.mt-10
         h2 Joint Base
         ul.stars
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
      .col-md-3.pl-0.mt-10
         p.price
            | $311
            span.regular-text /day
         p.red-price $520
      .col-md-12
         p.small-text.font-weight-600 485 Clawson St, Staten Island, NY 10306
      .divider.col-md-12.mb-10
      .pl-15.w-10.pull-left
         img(src='images/icons/5.svg')
      .col-md-10.pr-0
         p.small-text.font-weight-600
            span.blue-text 1.98 km.
            |  to the centre of Central Park
      .trip
         img(src='images/icons/tripavisor.svg')
      .col-md-4
         ul.reviews
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
         a.extra-small 142 Reviews
      .col-md-6.pl-0.pr-0.mb-10
         a.views(href='#') View
         span.count
            i.fa.fa-eye(aria-hidden='true')
            | 5
      .divider.col-md-12.mb-10.mt-10
      .col-md-12
         ul.features
            li
               i.fa.fa-wifi(aria-hidden='true')
            li
               i.fa.fa-car(aria-hidden='true')
            li
               i.fa.fa-phone(aria-hidden='true')
            li
               i.fa.fa-television(aria-hidden='true')
            li
               i.fa.fa-shower(aria-hidden='true')
         p.booked.pull-right
            | Booked
            span 30
            |  Times Today
   .grid-item
      img.img-responsive(src='images/room2.png', alt='')
      .col-md-9.mt-10
         h2 London Hilton Hotel
         ul.stars
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
      .col-md-3.pl-0.mt-10
         p.price
            | $200
            span.regular-text /day
      .col-md-12
         p.small-text.font-weight-600 485 Clawson St, Staten Island, NY 10306
      .divider.col-md-12.mb-10
      .pl-15.w-10.pull-left
         img(src='images/icons/5.svg')
      .col-md-10.pr-0
         p.small-text.font-weight-600
            span.blue-text 1.98 km.
            |  to the centre of Central Park
      .trip
         img(src='images/icons/tripavisor.svg')
      .col-md-4
         ul.reviews
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
         a.extra-small 142 Reviews
      .col-md-6.pl-0.pr-0.mb-10
         a.views(href='#') View
         span.count
            i.fa.fa-eye(aria-hidden='true')
            | 5
      .divider.col-md-12.mb-10.mt-10
      .col-md-12
         ul.features
            li
               i.fa.fa-wifi(aria-hidden='true')
            li
               i.fa.fa-car(aria-hidden='true')
            li
               i.fa.fa-phone(aria-hidden='true')
            li
               i.fa.fa-television(aria-hidden='true')
            li
               i.fa.fa-shower(aria-hidden='true')
         p.booked.pull-right
            | Booked
            span 30
            |  Times Today
   .grid-item
      img.img-responsive(src='images/room3.png', alt='')
      .col-md-9.mt-10
         h2 Radisson Blu Resort
         ul.stars
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
      .col-md-3.pl-0.mt-10
         p.price
            | $177
            span.regular-text /day
      .col-md-12
         p.small-text.font-weight-600 485 Clawson St, Staten Island, NY 10306
      .divider.col-md-12.mb-10
      .pl-15.w-10.pull-left
         img(src='images/icons/5.svg')
      .col-md-10.pr-0
         p.small-text.font-weight-600
            span.blue-text 1.98 km.
            |  to the centre of Central Park
      .trip
         img(src='images/icons/tripavisor.svg')
      .col-md-4
         ul.reviews
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
         a.extra-small 142 Reviews
      .col-md-6.pl-0.pr-0.mb-10
         a.views(href='#') View
         span.count
            i.fa.fa-eye(aria-hidden='true')
            | 5
      .divider.col-md-12.mb-10.mt-10
      .col-md-12
         ul.features
            li
               i.fa.fa-wifi(aria-hidden='true')
            li
               i.fa.fa-car(aria-hidden='true')
            li
               i.fa.fa-phone(aria-hidden='true')
            li
               i.fa.fa-television(aria-hidden='true')
            li
               i.fa.fa-shower(aria-hidden='true')
         p.booked.pull-right
            | Booked
            span 30
            |  Times Today
   .grid-item
      img.img-responsive(src='images/room4.png', alt='')
      .col-md-9.mt-10
         h2 Soho, Soma-Bay Resort
         ul.stars
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
            li
               i.fa.orange-text.fa-star(aria-hidden='true')
      .col-md-3.pl-0.mt-10
         p.price
            | $500
            span.regular-text /day
      .col-md-12
         p.small-text.font-weight-600 485 Clawson St, Staten Island, NY 10306
      .divider.col-md-12.mb-10
      .pl-15.w-10.pull-left
         img(src='images/icons/5.svg')
      .col-md-10.pr-0
         p.small-text.font-weight-600
            span.blue-text 1.98 km.
            |  to the centre of Central Park
      .trip
         img(src='images/icons/tripavisor.svg')
      .col-md-4
         ul.reviews
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
            li
               i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
         a.extra-small 142 Reviews
      .col-md-6.pl-0.pr-0.mb-10
         a.views(href='#') View
         span.count
            i.fa.fa-eye(aria-hidden='true')
            | 5
      .divider.col-md-12.mb-10.mt-10
      .col-md-12
         ul.features
            li
               i.fa.fa-wifi(aria-hidden='true')
            li
               i.fa.fa-car(aria-hidden='true')
            li
               i.fa.fa-phone(aria-hidden='true')
            li
               i.fa.fa-television(aria-hidden='true')
            li
               i.fa.fa-shower(aria-hidden='true')
         p.booked.pull-right
            | Booked
            span 30
            |  Times Today