.content-wrapper
	.check
		include content-grid
		include exclusive
		include content-grid
		include exclusive
		include content-grid
		include exclusive
	.loading-more
		.loading
			i.fa.fa-spinner.fa-spin(aria-hidden='true')
			span.text-uppercase Loading
	.pagination-wrapper
		.pagination
			ul
				li
					a(href='javascript:void(0)') Previous
				li.numbers
					a(href='javascript:void(0)') 1
				li.numbers
					a(href='javascript:void(0)') 2
				li.numbers.active
					a(href='javascript:void(0)') 3
				li.numbers
					a(href='javascript:void(0)') 4
				li.numbers
					a(href='javascript:void(0)') 5
				li
					a(href='javascript:void(0)') Next

.map-wrapper
	#map