.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item
.grid-item.placeholder-grid-item
   .image
      .image-block.placeholder-item
   .content
      .part1
         .title
            .placeholder-item
            .item-label.top-deal
               .placeholder-item
            .hotel-rating
               .image.placeholder-item
               .rating.placeholder-item
         .rating-line
            .rate.placeholder-item
            .rate.placeholder-item
            .rate.placeholder-item
         .rooms-count
            .placeholder-item
         .location
            .placeholder-item
         .distance
            .placeholder-item
      .part2
         .price
            .new-price
               .placeholder-item
               .day
                  .placeholder-item
         .view-btn
            a.view.placeholder-item(href='javascript:void(0)')
         .book-text
            .placeholder-item
         .looking-text
            .placeholder-item