.content-wrapper
	.check
		include content-grid
		include content-grid
	.loading-more
		.loading
			i.fa.fa-spinner.fa-spin(aria-hidden='true')
			a(href='/partial/content-grid-item.html').text-uppercase Load Next 10 Items
	.pagination-wrapper
		.pagination
			ul
				li
					a(href='javascript:void(0)') Previous
				li.numbers
					a(href='javascript:void(0)') 1
				li.numbers
					a(href='javascript:void(0)') 2
				li.numbers.active
					a(href='javascript:void(0)') 3
				li.numbers
					a(href='javascript:void(0)') 4
				li.numbers
					a(href='javascript:void(0)') 5
				li
					a(href='javascript:void(0)') Next
.map-wrapper
	#map.sticky