.grid.list-view.noplaceholder.placeholder-show
   .grid-item.not-available.not-available-list-view(data-aos='fade-up')
      span.ribbon.top Top Deal
      .preview
         a(href='./landing.html')
            .image(style="background-image: url('images/room1.png')")
      .warning.orange Only 3 rooms left!
      .block-wrapper
         .price-line.line.clearfix
            span.info-label.green Best Price Guaranteed
            span.price
               span.red-price $520
               | $468
               span.regular-text /Day
         .top-wrapper.clearfix
            .left-block.top-block
               h2.title.long
                  a(href='./landing.html') Mandapa, A Ritz-Carlton Resort
               ul.stars.stars-hotel(data-stars='4.47')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star-half(aria-hidden='true')
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
               p.address 485 Clawson St, Staten Island, NY 10306
            .right-block.top-block
               p.warning-list Only
                  span.orange-text  3
                  |  rooms left!
            .clearfix
            .divider
            .left-block.center-block
               span.colored-line
                  span.number
                     span 5
                  span.distance
                     span.distance-color 1.98 km.
                     |  to the centre of Central Park
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
            .right-block.center-block
               .not-available-block
                  span.icon
                     img(src='./images/icons/info-button.svg')
                  span.text
                     p
                        b You missed it!
                     |
                     | Your dates are popular - we've run out of rooms at this property! Check out more below.
               a.views(href='./landing.html')
                  span.right View
                  span.left
                     i.fa.fa-eye(aria-hidden='true')
                     | 5
            .clearfix
            .divider
            ul.features
               li
                  i.icon-wifi
               li
                  i.icon-parking
               li
                  i.icon-old-typical-phone
               li
                  i.icon-television
               li
                  i.icon-shower-head
               li
                  a.open-map-item.more-items(href='javascript:void(0)') +10 items
            .views-bottom.visible-xs
               i.fa.fa-eye(aria-hidden='true')
               | 5
            p.booked.pull-right
               | Booked
               span  30
               |  Times Today
            p.watching-now.pull-right
               span 5
               |  People Looking Right Now
      .not-available-list
         span.icon
            img(src='./images/icons/info-button.svg')
         span.text
            b You missed it!
            |  Your dates are popular - we've run out of rooms at this property! Check out more below.
   .grid-item(data-aos='fade-up')
      span.ribbon.top.hidden Top Deal
      .preview
         a(href='./landing.html')
            .image(style="background-image: url('images/room2.png')")
      .warning.green Only 5 rooms left!
      .block-wrapper
         .price-line.line.clearfix
            span.info-label.hidden Best Price Guaranteed
            span.price
               span.red-price $479
               | $412
               span.regular-text /Day
         .top-wrapper.clearfix
            .left-block.top-block
               h2.title
                  a(href='./landing.html') Radisson Blu Resort
               ul.stars.stars-hotel(data-stars='4.47')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star-half(aria-hidden='true')
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
               p.address 485 Clawson St, Staten Island, NY 10306
            .right-block.top-block
               p.warning-list Only
                  span.green-text  5
                  |  rooms left!
            .clearfix
            .divider
            .left-block.center-block
               span.colored-line
                  span.number
                     span 5
                  span.distance
                     span.distance-color 1.98 km.
                     |  to the centre of Central Park
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
            .right-block.center-block
               a.views(href='./landing.html')
                  span.right View
                  span.left
                     i.fa.fa-eye(aria-hidden='true')
                     | 5
            .clearfix
            .divider
            ul.features
               li
                  i.icon-wifi
               li
                  i.icon-parking
               li
                  i.icon-old-typical-phone
               li
                  i.icon-television
               li
                  i.icon-shower-head
               li
                  a.open-map-item.more-items(href='./landing.html') +10 items
            .views-bottom.visible-xs
               i.fa.fa-eye(aria-hidden='true')
               | 5
            p.booked.pull-right
               | Booked
               span  30
               |  Times Today
            p.watching-now.pull-right
               span 5
               |  People Looking Right Now
   .grid-item(data-aos='fade-up')
      span.ribbon.top.hidden Top Deal
      .preview
         a(href='./landing.html')
            .image(style="background-image: url('images/room3.png')")
      .warning.orange.hidden Only 3 rooms left!
      .block-wrapper
         .price-line.line.clearfix
            span.info-label.hidden Best Price Guaranteed
            span.price
               span.red-price $480
               | $458
               span.regular-text /Day
         .top-wrapper.clearfix
            .left-block.top-block
               h2.title
                  a(href='./landing.html') Soho, Soma-Bay Resort
               ul.stars.stars-hotel(data-stars='4.47')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star-half(aria-hidden='true')
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
               p.address 485 Clawson St, Staten Island, NY 10306
            .right-block.top-block
               p.warning-list.hidden Only
                  span.orange-text  3
                  |  rooms left!
            .clearfix
            .divider
            .left-block.center-block
               span.colored-line
                  span.number
                     span 5
                  span.distance
                     span.distance-color 1.98 km.
                     |  to the centre of Central Park
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
            .right-block.center-block
               a.views(href='./landing.html')
                  span.right View
                  span.left
                     i.fa.fa-eye(aria-hidden='true')
                     | 5
            .clearfix
            .divider
            ul.features
               li
                  i.icon-wifi
               li
                  i.icon-parking
               li
                  i.icon-old-typical-phone
               li
                  i.icon-television
               li
                  i.icon-shower-head
               li
                  a.open-map-item.more-items(href='./landing.html') +10 items
            .views-bottom.visible-xs
               i.fa.fa-eye(aria-hidden='true')
               | 5
            p.booked.pull-right
               | Booked
               span  30
               |  Times Today
            p.watching-now.pull-right
               span 5
               |  People Looking Right Now
   .grid-item(data-aos='fade-up')
      span.ribbon.top.hidden Top Deal
      .preview
         a(href='./landing.html')
            .image(style="background-image: url('images/room4.png')")
      .warning.red Only 1 rooms left!
      .block-wrapper
         .price-line.line.clearfix
            span.info-label.hidden Best Price Guaranteed
            span.price
               span.red-price $410
               | $360
               span.regular-text /Day
         .top-wrapper.clearfix
            .left-block.top-block
               h2.title
                  a(href='./landing.html') Hotel The Serras
               ul.stars.stars-hotel(data-stars='4.47')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star-half(aria-hidden='true')
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
               p.address 485 Clawson St, Staten Island, NY 10306
            .right-block.top-block
               p.warning-list Only
                  span.red-text  1
                  |  rooms left!
            .clearfix
            .divider
            .left-block.center-block
               span.colored-line
                  span.number
                     span 5
                  span.distance
                     span.distance-color 1.98 km.
                     |  to the centre of Central Park
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
            .right-block.center-block
               a.views(href='./landing.html')
                  span.right View
                  span.left
                     i.fa.fa-eye(aria-hidden='true')
                     | 5
            .clearfix
            .divider
            ul.features
               li
                  i.icon-wifi
               li
                  i.icon-parking
               li
                  i.icon-old-typical-phone
               li
                  i.icon-television
               li
                  i.icon-shower-head
               li
                  a.open-map-item.more-items(href='./landing.html') +10 items
            .views-bottom.visible-xs
               i.fa.fa-eye(aria-hidden='true')
               | 5
            p.booked.pull-right
               | Booked
               span  30
               |  Times Today
            p.watching-now.pull-right
               span 5
               |  People Looking Right Now
   .grid-item(data-aos='fade-up')
      span.ribbon.top.hidden Top Deal
      .preview
         a(href='./landing.html')
            .image(style="background-image: url('images/room5.png')")
      .warning.green Only 6 rooms left!
      .block-wrapper
         .price-line.line.clearfix
            span.info-label.hidden Best Price Guaranteed
            span.price
               span.red-price $545
               | $500
               span.regular-text /Day
         .top-wrapper.clearfix
            .left-block.top-block
               h2.title
                  a(href='./landing.html') Aria Hotel Budapest
               ul.stars.stars-hotel(data-stars='4.47')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star-half(aria-hidden='true')
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
               p.address 485 Clawson St, Staten Island, NY 10306
            .right-block.top-block
               p.warning-list Only
                  span.green-text  6
                  |  rooms left!
            .clearfix
            .divider
            .left-block.center-block
               span.colored-line
                  span.number
                     span 5
                  span.distance
                     span.distance-color 1.98 km.
                     |  to the centre of Central Park
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
            .right-block.center-block
               a.views(href='./landing.html')
                  span.right View
                  span.left
                     i.fa.fa-eye(aria-hidden='true')
                     | 5
            .clearfix
            .divider
            ul.features
               li
                  i.icon-wifi
               li
                  i.icon-parking
               li
                  i.icon-old-typical-phone
               li
                  i.icon-television
               li
                  i.icon-shower-head
               li
                  a.open-map-item.more-items(href='./landing.html') +10 items
            .views-bottom.visible-xs
               i.fa.fa-eye(aria-hidden='true')
               | 5
            p.booked.pull-right
               | Booked
               span  30
               |  Times Today
            p.watching-now.pull-right
               span 5
               |  People Looking Right Now
   .grid-item(data-aos='fade-up')
      span.ribbon.top.hidden Top Deal
      .preview
         a(href='./landing.html')
            .image(style="background-image: url('images/room6.png')")
      .warning.red Only 2 rooms left!
      .block-wrapper
         .price-line.line.clearfix
            span.info-label.hidden Best Price Guaranteed
            span.price
               span.red-price $510
               | $460
               span.regular-text /Day
         .top-wrapper.clearfix
            .left-block.top-block
               h2.title
                  a(href='./landing.html') Herods Vitalis Spa Hotel Eilat
               ul.stars.stars-hotel(data-stars='4.47')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star-half(aria-hidden='true')
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
               p.address 485 Clawson St, Staten Island, NY 10306
            .right-block.top-block
               p.warning-list Only
                  span.red-text  2
                  |  rooms left!
            .clearfix
            .divider
            .left-block.center-block
               span.colored-line
                  span.number
                     span 5
                  span.distance
                     span.distance-color 1.98 km.
                     |  to the centre of Central Park
               .trip
                  .rate(data-rate='4.54')
               a.reviews(href='javascript:void(0)') 142 Reviews
            .right-block.center-block
               a.views(href='./landing.html')
                  span.right View
                  span.left
                     i.fa.fa-eye(aria-hidden='true')
                     | 5
            .clearfix
            .divider
            ul.features
               li
                  i.icon-wifi
               li
                  i.icon-parking
               li
                  i.icon-old-typical-phone
               li
                  i.icon-television
               li
                  i.icon-shower-head
               li
                  a.open-map-item.more-items(href='./landing.html') +10 items
            .views-bottom.visible-xs
               i.fa.fa-eye(aria-hidden='true')
               | 5
            p.booked.pull-right
               | Booked
               span  30
               |  Times Today
            p.watching-now.pull-right
               span 5
               |  People Looking Right Now