.grid.list-view.placeholder-grid
   .grid-item.placeholder-grid-item
      .preview
         a(href='javascript:void(0)')
            .image.placeholder-item
      .block-wrapper
         .placeholder-left-block
            .placeholder-title.placeholder-item
            .placeholder-rating.placeholder-item
            .placeholder-address.placeholder-item
            .placeholder-distance.placeholder-item
            .placeholder-icons
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
         .placeholder-right-block
            .placeholder-button.placeholder-item
            .placeholder-booked.placeholder-item
            .placeholder-views.placeholder-item
   .grid-item.placeholder-grid-item
      .preview
         a(href='javascript:void(0)')
            .image.placeholder-item
      .block-wrapper
         .placeholder-left-block
            .placeholder-title.placeholder-item
            .placeholder-rating.placeholder-item
            .placeholder-address.placeholder-item
            .placeholder-distance.placeholder-item
            .placeholder-icons
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
         .placeholder-right-block
            .placeholder-button.placeholder-item
            .placeholder-booked.placeholder-item
            .placeholder-views.placeholder-item
   .grid-item.placeholder-grid-item
      .preview
         a(href='javascript:void(0)')
            .image.placeholder-item
      .block-wrapper
         .placeholder-left-block
            .placeholder-title.placeholder-item
            .placeholder-rating.placeholder-item
            .placeholder-address.placeholder-item
            .placeholder-distance.placeholder-item
            .placeholder-icons
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
         .placeholder-right-block
            .placeholder-button.placeholder-item
            .placeholder-booked.placeholder-item
            .placeholder-views.placeholder-item
   .grid-item.placeholder-grid-item
      .preview
         a(href='javascript:void(0)')
            .image.placeholder-item
      .block-wrapper
         .placeholder-left-block
            .placeholder-title.placeholder-item
            .placeholder-rating.placeholder-item
            .placeholder-address.placeholder-item
            .placeholder-distance.placeholder-item
            .placeholder-icons
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
         .placeholder-right-block
            .placeholder-button.placeholder-item
            .placeholder-booked.placeholder-item
            .placeholder-views.placeholder-item
   .grid-item.placeholder-grid-item
      .preview
         a(href='javascript:void(0)')
            .image.placeholder-item
      .block-wrapper
         .placeholder-left-block
            .placeholder-title.placeholder-item
            .placeholder-rating.placeholder-item
            .placeholder-address.placeholder-item
            .placeholder-distance.placeholder-item
            .placeholder-icons
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
         .placeholder-right-block
            .placeholder-button.placeholder-item
            .placeholder-booked.placeholder-item
            .placeholder-views.placeholder-item
   .grid-item.placeholder-grid-item
      .preview
         a(href='javascript:void(0)')
            .image.placeholder-item
      .block-wrapper
         .placeholder-left-block
            .placeholder-title.placeholder-item
            .placeholder-rating.placeholder-item
            .placeholder-address.placeholder-item
            .placeholder-distance.placeholder-item
            .placeholder-icons
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
               .placeholder-icon.placeholder-item
         .placeholder-right-block
            .placeholder-button.placeholder-item
            .placeholder-booked.placeholder-item
            .placeholder-views.placeholder-item