.content-wrapper
	.check
		include content-grid
		include content-list
	.row.exclusive.pl-5.pr-5
		h3 UP TO 80%
		h4 Exclusive Cancelon deals around these dates
		.col-md-6.btrans.pl-0.pr-0.white
			.col-md-1.pl-5.pr-0.mt-10.mb-10
				img(width='30', src='images/icons/tripavisor.svg')
			.col-md-11.pl-0.pr-0.mt-10
				ul.reviews.ml-10
					li
						i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
					li
						i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
					li
						i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
					li
						i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
					li
						i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
				a.extra-small.reviews-number.font-roboto.text-underline.mt-5(href='javascript:void(0)') 142 Reviews
				span.top Top Deal
				p.small-text.font-weight-600.pull-right.ml-10.font-roboto.mb-0.top-2.mr-25 Apr 04 - 07
			img.img-responsive(src='images/room4.png', alt='')
			.col-md-9.mt-10
				h5 St Martins Lane London
				ul.stars.mb-10
					li
						i.fa.orange-text.fa-star(aria-hidden='true')
					li
						i.fa.orange-text.fa-star(aria-hidden='true')
					li
						i.fa.orange-text.fa-star(aria-hidden='true')
					li
						i.fa.orange-text.fa-star(aria-hidden='true')
					li
						i.fa.orange-text.fa-star(aria-hidden='true')
				p.small-text.font-weight-500.font-roboto Amsterdam Schiphol, Netherlands
				p.small-text.font-weight-400.font-roboto
					i.fa.fa-map-pin(aria-hidden='true')
					|  485 Clawson St, Staten Island, NY 10306
			.col-md-3.mt-10.pl-0.pr-15
				img.pull-right(src='images/icons/heart.svg', width='50', alt='')
				p.price
					| $500/
					span.regular-text Day
				p.price-red
					| $780/
					span.regular-text Day
			.col-md-12.mt-30
				p.cancelon
					i.fa.fa-star(aria-hidden='true')
					|  Cancelon Exclusive
				a.orange-view(href='javascript:void(0)') VIEW
		.col-md-6.btrans.pl-0.pr-0.white
			.col-md-1.pl-5.pr-0.mt-10.mb-10
				img(width='30', src='images/icons/tripavisor.svg')
			.col-md-11.pl-0.pr-0.mt-10
				ul.reviews.ml-10
					li
						i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
					li
						i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
					li
						i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
					li
						i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
					li
						i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
				a.extra-small.reviews-number.font-roboto.text-underline.mt-5(href='javascript:void(0)') 142 Reviews
				span.top Top Deal
				p.small-text.font-weight-600.pull-right.ml-10.font-roboto.mb-0.top-2.mr-25 Apr 04 - 07
			img.img-responsive(src='images/room4.png', alt='')
			.col-md-9.mt-10
				h5 Soho, Soma-Bay Resort
				ul.stars.mb-10
					li
						i.fa.orange-text.fa-star(aria-hidden='true')
					li
						i.fa.orange-text.fa-star(aria-hidden='true')
					li
						i.fa.orange-text.fa-star(aria-hidden='true')
					li
						i.fa.orange-text.fa-star(aria-hidden='true')
					li
						i.fa.orange-text.fa-star(aria-hidden='true')
				p.small-text.font-weight-500.font-roboto Amsterdam Schiphol, Netherlands
				p.small-text.font-weight-400.font-roboto
					i.fa.fa-map-pin(aria-hidden='true')
					|  485 Clawson St, Staten Island, NY 10306
			.col-md-3.mt-10.pl-0.pr-15
				img.pull-right(src='images/icons/heart.svg', width='50', alt='')
				p.price
					| $500/
					span.regular-text Day
				p.price-red
					| $780/
					span.regular-text Day
			.col-md-12.mt-30
				p.cancelon
					i.fa.fa-star(aria-hidden='true')
					|  Cancelon Exclusive
				a.orange-view(href='javascript:void(0)') VIEW
	.loading
		i(aria-hidden="true", class="fa fa-spinner fa-spin")
		span.text-uppercase Loading
#map
