.content-wrapper
	include ../parts/search-top-options
	.searching-tags.clearfix.hidden
		.tag
			.text $100 - $2500
			a.close(href='javascript:void(0)') &times;
		.tag
			.text 1-4 Stars
			a.close(href='javascript:void(0)') &times;
		.tag
			.text Sale Hotels Room
			a.close(href='javascript:void(0)') &times;
		.tag
			.text Accessible Bathroom
			a.close(href='javascript:void(0)') &times;
	.searching-result.clearfix
		.text.pull-left.pt-20.pb-20 Showing 1–20 of 37 found
		.view-icons.pull-right.pt-20.pb-20
			a.btn.list-btn.active(href='javascript:void(0)')
			a.btn.grid-btn.ml-10(href='javascript:void(0)')
			a.btn.map-btn.ml-10.onoffswitch(href='javascript:void(0)')
				input#myonoffswitch1.myonoffswitch.onoffswitch-checkbox(type='checkbox', name='onoffswitch1')
				label.btn.onoffswitch-label(for='myonoffswitch1')
	.check
		.loading-items
		.grid.list-view.placeholder-grid
			include content-placeholder
		.grid.list-view.noplaceholder.placeholder-show
			include content-grid
	.loading-more
		.loading
			.dots
				.dot.dot1
				.dot.dot2
				.dot.dot3
			a(href='./partial/content-grid-item.html') Show More
	.pagination-wrapper
		.pagination
			ul
				li
					a(href='javascript:void(0)') Previous
				li.numbers
					a(href='javascript:void(0)') 1
				li.numbers
					a(href='javascript:void(0)') 2
				li.numbers.active
					a(href='javascript:void(0)') 3
				li.numbers
					a(href='javascript:void(0)') 4
				li.numbers
					a(href='javascript:void(0)') 5
				li
					a(href='javascript:void(0)') Next
.map-wrapper
	.loading-search-cover
		.loading-search
	.placeholder-map
	.ui.sticky
		#map.placeholder-show
		.search-on-map.hidden-xs
			input(type='text', name='search', placeholder='Search Airport, convention center, venue, ...')
		a.back-btn(href='javascript:void(0)') Back