.row.exclusive.pl-5.pr-5
   h3 UP TO 80%
   h4.pl-xs-15.pr-xs-15 Exclusive Cancelon deals around these dates
   .col-md-6.btrans.pl-0.pr-0.white
      .col-md-12.pl-0.pr-0.mt-15.mb-15
         .trip
            .rate(data-rate='4.91')
         a.reviews(href='javascript:void(0)') 142 Reviews
         span.top Top Deal
         p.small-text.font-weight-600.pull-right.ml-10.mb-0.top-2.mr-25.date Apr 04 - 07
      img.img-responsive(src='images/room4.png', alt='')
      .col-md-9.col-sm-9.col-xs-9.mt-10.left-block
         h5
            a(href='javascript:void(0)') St Martins Lane London
         ul.stars.stars-hotel.mb-5(data-stars='4.91')
            li.hidden
               i.fa.orange-text.fa-star(aria-hidden='true')
            li.hidden
               i.fa.orange-text.fa-star(aria-hidden='true')
            li.hidden
               i.fa.orange-text.fa-star(aria-hidden='true')
            li.hidden
               i.fa.orange-text.fa-star(aria-hidden='true')
            li.hidden
               i.fa.orange-text.fa-star(aria-hidden='true')
            li.hidden
               i.fa.orange-text.fa-star-half(aria-hidden='true')
         p.font-weight-500.mb-5 Amsterdam Schiphol, Netherlands
         p.font-weight-400.mb-5
            i.fa.fa-map-pin(aria-hidden='true')
            |  485 Clawson St, Staten Island, NY 10306
      .col-md-3.col-sm-3.col-xs-3.mt-10.pl-0.pr-15.right-block
         img.pull-right.heart(src='images/icons/heart.svg', width='50', alt='')
         p.price
            | $500/
            span.regular-text Day
         p.price-red
            | $780/
            span.regular-text Day
      .col-md-12.col-sm-12.mt-30.mt-sm-10
         p.cancelon
            i.fa.fa-star(aria-hidden='true')
            |  Cancelon Exclusive
         a.orange-view(href='javascript:void(0)') VIEW
   .col-md-6.btrans.pl-0.pr-0.white
      .col-md-12.pl-0.pr-0.mt-15.mb-15
         .trip
            .rate(data-rate='4.93')
         a.reviews(href='javascript:void(0)') 142 Reviews
         span.top Top Deal
         p.small-text.font-weight-600.pull-right.ml-10.mb-0.top-2.mr-25.date Apr 04 - 07
      img.img-responsive(src='images/room4.png', alt='')
      .col-md-9.col-sm-9.col-xs-9.mt-10.left-block
         h5
            a(href='javascript:void(0)') Soho, Soma-Bay Resort
         ul.stars.stars-hotel.mb-5(data-stars='4.87')
            li.hidden
               i.fa.orange-text.fa-star(aria-hidden='true')
            li.hidden
               i.fa.orange-text.fa-star(aria-hidden='true')
            li.hidden
               i.fa.orange-text.fa-star(aria-hidden='true')
            li.hidden
               i.fa.orange-text.fa-star(aria-hidden='true')
            li.hidden
               i.fa.orange-text.fa-star(aria-hidden='true')
            li.hidden
               i.fa.orange-text.fa-star-half(aria-hidden='true')
         p.font-weight-500.mb-5 Amsterdam Schiphol, Netherlands
         p.font-weight-400.mb-5
            i.fa.fa-map-pin(aria-hidden='true')
            |  485 Clawson St, Staten Island, NY 10306
      .col-md-3.col-sm-3.col-xs-3.mt-10.pl-0.pr-15.right-block
         img.pull-right.heart(src='images/icons/heart.svg', width='50', alt='')
         p.price
            | $500/
            span.regular-text Day
         p.price-red
            | $780/
            span.regular-text Day
      .col-md-12.col-sm-12.mt-30.mt-sm-10
         p.cancelon
            i.fa.fa-star(aria-hidden='true')
            |  Cancelon Exclusive
         a.orange-view(href='javascript:void(0)') VIEW