.block-search.clearfix(data-aos='fade-up')
   .block-search_smile
      span (
   .block-search_text
      .block-search_text-title
         span Sorry, No Hotels Found
      .block-search_text-request
         span Please change your request "
            span.request Pirates of Caribbean
            | ”
.probably-block
   .probably-block_title(data-aos='fade-up')
      h4 Probably, do you mean?
   .probably-block_content(data-aos='fade-up')
      .clearfix.probably-block_content-wrapper
         .col-md-4.col-sm-4.col-xs-9.title
            span First Hotel Atlantica
         .col-md-3.col-sm-2.col-xs-3.rating.cleft-xs
            .text 4 stars
            ul.stars
               li
                  i.fa.fa-star(aria-hidden='true')
               li
                  i.fa.fa-star(aria-hidden='true')
               li
                  i.fa.fa-star(aria-hidden='true')
               li
                  i.fa.fa-star(aria-hidden='true')
               li.hidden
                  i.fa.fa-star(aria-hidden='true')
         .col-md-4.col-sm-4.col-xs-6.city
            img(src='src/images/icons/location.png', alt='location')
            a(href='javascript:void(0)') Trondheim
         .col-md-1.col-sm-2.col-xs-3.rating-mark
            span 9.9
   .probably-block_content(data-aos='fade-up')
      .clearfix.probably-block_content-wrapper
         .col-md-4.col-sm-4.col-xs-9.title
            span P-Hotels Brattøra
         .col-md-3.col-sm-2.col-xs-3.rating.cleft-xs
            .text 3 stars
            ul.stars
               li
                  i.fa.fa-star(aria-hidden='true')
               li
                  i.fa.fa-star(aria-hidden='true')
               li
                  i.fa.fa-star(aria-hidden='true')
               li.hidden
                  i.fa.fa-star(aria-hidden='true')
               li.hidden
                  i.fa.fa-star(aria-hidden='true')
         .col-md-4.col-sm-4.col-xs-6.city
            img(src='src/images/icons/location.png', alt='location')
            a(href='javascript:void(0)') Gardermoen
         .col-md-1.col-sm-2.col-xs-3.rating-mark
            span 8
   .probably-block_content(data-aos='fade-up')
      .clearfix.probably-block_content-wrapper
         .col-md-4.col-sm-4.col-xs-9.title
            span Hotel Fredrikstad
         .col-md-3.col-sm-2.col-xs-3.rating.cleft-xs
            .text 5 stars
            ul.stars
               li
                  i.fa.fa-star(aria-hidden='true')
               li
                  i.fa.fa-star(aria-hidden='true')
               li
                  i.fa.fa-star(aria-hidden='true')
               li
                  i.fa.fa-star(aria-hidden='true')
               li
                  i.fa.fa-star(aria-hidden='true')
         .col-md-4.col-sm-4.col-xs-6.city
            img(src='src/images/icons/location.png', alt='location')
            a(href='javascript:void(0)') Guest favourite area in Oslo
         .col-md-1.col-sm-2.col-xs-3.rating-mark
            span 7.5
   .probably-block_content(data-aos='fade-up')
      .clearfix.probably-block_content-wrapper
         .col-md-4.col-sm-4.col-xs-9.title
            span Scandic Neptun
         .col-md-3.col-sm-2.col-xs-3.rating.cleft-xs
            .text 2 stars
            ul.stars
               li
                  i.fa.fa-star(aria-hidden='true')
               li
                  i.fa.fa-star(aria-hidden='true')
               li.hidden
                  i.fa.fa-star(aria-hidden='true')
               li.hidden
                  i.fa.fa-star(aria-hidden='true')
               li.hidden
                  i.fa.fa-star(aria-hidden='true')
         .col-md-4.col-sm-4.col-xs-6.city
            img(src='src/images/icons/location.png', alt='location')
            a(href='javascript:void(0)') Frogner, Oslo
         .col-md-1.col-sm-2.col-xs-3.rating-mark
            span 10