footer
	.container.pos-rel
		.row.mt-10.mt-xs-0
			.navbar-header.hidden-xs
				a.navbar-brand(href='javascript:void(0)')
					img.img-responsive.mt-5(alt='logo', width='166', src='images/logo.png')
				p.navbar-text.small-text.font-weight-200
					i.fa.blue-text.fa-info-circle(aria-hidden='true')
					| 					Sell and Buy Non-Refundable Hotel Reservations
			.socials
				ul.social
					li
						a(href='javascript:void(0)')
							i.fa.fa-facebook(aria-hidden='true')
					li
						a(href='javascript:void(0)')
							i.fa.fa-twitter(aria-hidden='true')
					li
						a(href='javascript:void(0)')
							i.fa.fa-rss(aria-hidden='true')
					li
						a(href='javascript:void(0)')
							i.fa.fa-linkedin(aria-hidden='true')
					li
						a(href='javascript:void(0)')
							i.fa.fa-google-plus(aria-hidden='true')
		.row.mb-50
			.col-md-3.col-sm-6.mt-15.hidden-xs
				ul.list-unstyled
					li.widget-container.widget_nav_menu
						// widgets list
						h1.white-text.pb-10 Company
						ul
							li
								a(href='javascript:void(0)') About
							li
								a(href='javascript:void(0)') Register
							li
								a(href='javascript:void(0)') User Agreement
							li
								a(href='javascript:void(0)') Buyer Protection
							li
								a(href='javascript:void(0)') Seller's Protection
							li
								a(href='javascript:void(0)') Blog
			.col-md-3.col-sm-6.mt-15.hidden-xs
				ul.list-unstyled
					li.widget-container.widget_nav_menu
						// widgets list
						h1.white-text.pb-10 Support
						ul
							li
								a(href='javascript:void(0)') Contact info
							li
								a(href='javascript:void(0)') Privacy policy
							li
								a(href='javascript:void(0)') Discount hotel reservations
							li
								a(href='javascript:void(0)') Discount Hotels
							li
								a.best-price(href='javascript:void(0)')
									img(src='images/icons/best.svg', alt='')
									| Best Price Guarantee
			.clearfix
			.col-md-3.col-sm-6.mt-15.hidden-xs
				ul.list-unstyled
					li.widget-container.widget_nav_menu
						// widgets list
						h1.white-text.pb-10 Selling
						ul
							li
								a(href='javascript:void(0)') Sell hotel reservation
							li
								a(href='javascript:void(0)') Hotel cancellation policy
							li
								a(href='javascript:void(0)') Hotel reservation deals
							li
								a(href='javascript:void(0)') Buy hotel reservation
							li
								a(href='javascript:void(0)') Hotel Reservation
							li
								a(href='javascript:void(0)') Cancel hotel reservation
			.col-md-3.col-sm-6.mt-15.hidden-xs
				ul.list-unstyled
					li.widget-container
						// widgets list
						h1.white-text.pb-10 Have a Questions?
						ul
							li
								a(href='javascript:void(0)') US 1-855-226-2359
							li
								a(href='javascript:void(0)') UK 0-800-014-8161
							li
								a(href='javascript:void(0)') FR 0-805-080-042
							li
								a(href='javascript:void(0)') DE 0-800-184-4594
							li
								a(href='javascript:void(0)') AU 1-800-459-141
							li
								a(href='javascript:void(0)') NZ 0-800-451-433
							li
								a(href='javascript:void(0)') IE 1-800-901-655
							li
								a(href='javascript:void(0)') CA 1-855-226-2359
							li
								a(href='javascript:void(0)') support@cancelon.com
							li
								a(href='javascript:void(0)') 24/7 Dedicated Customer Support
			.col-xs-12.visible-xs
				ul.nav.navbar-nav.navbar-footer
					li.dropdown
						button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
							i.fa.fa-plus-square-o(aria-hidden='true')
							i.fa.fa-minus-square-o(aria-hidden='true')
							| Company
						ul.dropdown-menu
							li
								a(href='javascript:void(0)') About
							li
								a(href='javascript:void(0)') Register
							li
								a(href='javascript:void(0)') User Agreement
							li
								a(href='javascript:void(0)') Buyer Protection
							li
								a(href='javascript:void(0)') Seller's Protection
							li
								a(href='javascript:void(0)') Blog
					li.dropdown
						button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
							i.fa.fa-plus-square-o(aria-hidden='true')
							i.fa.fa-minus-square-o(aria-hidden='true')
							| Support
						ul.dropdown-menu
							li
								a(href='javascript:void(0)') Contact info
							li
								a(href='javascript:void(0)') Privacy policy
							li
								a(href='javascript:void(0)') Discount hotel reservations
							li
								a(href='javascript:void(0)') Discount Hotels
							li
					li.dropdown
						button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
							i.fa.fa-plus-square-o(aria-hidden='true')
							i.fa.fa-minus-square-o(aria-hidden='true')
							| Selling
						ul.dropdown-menu
							li
								a(href='javascript:void(0)') Sell hotel reservation
							li
								a(href='javascript:void(0)') Hotel cancellation policy
							li
								a(href='javascript:void(0)') Hotel reservation deals
							li
								a(href='javascript:void(0)') Buy hotel reservation
							li
								a(href='javascript:void(0)') Hotel Reservation
							li
								a(href='javascript:void(0)') Cancel hotel reservation
					li.dropdown
						button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
							i.fa.fa-plus-square-o(aria-hidden='true')
							i.fa.fa-minus-square-o(aria-hidden='true')
							| Have a Questions?
						ul.dropdown-menu
							li
								a(href='javascript:void(0)') US 1-855-226-2359
							li
								a(href='javascript:void(0)') UK 0-800-014-8161
							li
								a(href='javascript:void(0)') FR 0-805-080-042
							li
								a(href='javascript:void(0)') DE 0-800-184-4594
							li
								a(href='javascript:void(0)') AU 1-800-459-141
							li
								a(href='javascript:void(0)') NZ 0-800-451-433
							li
								a(href='javascript:void(0)') IE 1-800-901-655
							li
								a(href='javascript:void(0)') CA 1-855-226-2359
							li
								a(href='javascript:void(0)') support@cancelon.com
							li
								a(href='javascript:void(0)') 24/7 Dedicated Customer Support
			.clearfix
			.col-md-6.col-sm-12.mnt-80.mt-sm-20.mt-xs-40.signup
				p.large.white-text We have a price for you that is too low to show!!
				p.white-text Unlock special rates by signing up here:
				.input-group
					input.form-control.special-sign(type='text', placeholder='Your email address here...')
					span.input-group-btn
						button.btn.btn-secondary(type='button') SIGN UP
		button.btn-go-app(type='button')
			span.icon
	.container-fluid.navy
		.container.hidden-xs
			.row.mt-30.pb-50
				.col-md-3.col-sm-6
					ul.list-unstyled
						li.widget-container.widget_nav_menu
							// widgets list
							h1.white-text Top Destinations
							ul.mt-20
								li
									a(href='javascript:void(0)') Las Vegas, NV, USA
								li
									a(href='javascript:void(0)') Orlando, FL, USA
								li
									a(href='javascript:void(0)') Kissimmee, FL, USA
								li
									a(href='javascript:void(0)') New York, NY, USA
								li
									a(href='javascript:void(0)') London, United Kingdom
								li
									a(href='javascript:void(0)') Washington, DC, USA
								li
									a(href='javascript:void(0)') Cancun, Mexico
								li
									a(href='javascript:void(0)') Birmingham, United Kingdom
								li
									a(href='javascript:void(0)') New Orleans, LA, USA
								li
									a(href='javascript:void(0)') Amsterdam, Netherlands
								li
									a(href='javascript:void(0)') Paris, France
								li
									a(href='javascript:void(0)') Clearwater Beach, FL, USA
								li
									a(href='javascript:void(0)') Playa Del Carmen, Mexico
								li
									a(href='javascript:void(0)') Miami Beach, FL, USA
								li
									a(href='javascript:void(0)') Hollywood, CA, USA
								li
									a(href='javascript:void(0)') Dubai, United Arab Emirates
								li
									a(href='javascript:void(0)') Bangkok, Thailand
								li
									a(href='javascript:void(0)') Reno, NV, USA
								li
									a(href='javascript:void(0)') Melbourne, VC, Australia
								li
									a(href='javascript:void(0)') San Francisco, CA, USA
								li
									a(href='javascript:void(0)') Stateline, NV, USA
								li
									a(href='javascript:void(0)') Miami, FL, USA
								li
									a(href='javascript:void(0)') San Diego, CA, USA
								li
									a(href='javascript:void(0)') San Antonio, TX, USA
								li
									a(href='javascript:void(0)') Tampa, FL, USA
				.col-md-3.col-sm-6.mt-50
					ul.list-unstyled
						li.widget-container.widget_nav_menu
							// widgets list
							ul
								li
									a(href='javascript:void(0)') Anaheim, CA, USA
								li
									a(href='javascript:void(0)') Winter Garden, FL, USA
								li
									a(href='javascript:void(0)') Rome, Italy
								li
									a(href='javascript:void(0)') Sydney, NW, Australia
								li
									a(href='javascript:void(0)') Surfers Paradise, QL, Austr...
								li
									a(href='javascript:void(0)') Arlington, VA, USA
								li
									a(href='javascript:void(0)') Chessy, France
								li
									a(href='javascript:void(0)') Atlanta, GA, USA
								li
									a(href='javascript:void(0)') Pittsburgh, PA, USA
								li
									a(href='javascript:void(0)') Berlin, Germany
								li
									a(href='javascript:void(0)') Venice, Italy
								li
									a(href='javascript:void(0)') Toronto, ON, Canada
								li
									a(href='javascript:void(0)') Chicago, IL, USA
								li
									a(href='javascript:void(0)') Madrid, Spain
								li
									a(href='javascript:void(0)') Panama City, Panama
								li
									a(href='javascript:void(0)') Boston, MA, USA
								li
									a(href='javascript:void(0)') Cleveland, OH, USA
								li
									a(href='javascript:void(0)') Lisbon, Portugal
								li
									a(href='javascript:void(0)') Denver, CO, USA
								li
									a(href='javascript:void(0)') Doha, Qatar
								li
									a(href='javascript:void(0)') Barcelona, Spain
								li
									a(href='javascript:void(0)') Brisbane, QL, Australia
								li
									a(href='javascript:void(0)') Kansas City, MO, USA
								li
									a(href='javascript:void(0)') Newark, NJ, USA
								li
									a(href='javascript:void(0)') Dublin, Ireland
				.col-md-3.col-sm-6.mt-50
					ul.list-unstyled
						li.widget-container.widget_nav_menu
							// widgets list
							ul
								li
									a(href='javascript:void(0)') San Juan, Puerto Rico
								li
									a(href='javascript:void(0)') Florence, Italy
								li
									a(href='javascript:void(0)') Singapore, Singapore
								li
									a(href='javascript:void(0)') Cologne, Germany
								li
									a(href='javascript:void(0)') Vancouver, BC, Canada
								li
									a(href='javascript:void(0)') Auckland, New Zealand
								li
									a(href='javascript:void(0)') Edinburgh, United Kingdom
								li
									a(href='javascript:void(0)') Hollywood, FL, USA
								li
									a(href='javascript:void(0)') Houston, TX, USA
								li
									a(href='javascript:void(0)') Montreal, QC, Canada
								li
									a(href='javascript:void(0)') Benidorm, Spain
								li
									a(href='javascript:void(0)') Cambridge, MA, USA
								li
									a(href='javascript:void(0)') Liverpool, United Kingdom
								li
									a(href='javascript:void(0)') Henderson, NV, USA
								li
									a(href='javascript:void(0)') Dallas, TX, USA
								li
									a(href='javascript:void(0)') Honolulu, HI, USA
								li
									a(href='javascript:void(0)') Sedona, AZ, USA
								li
									a(href='javascript:void(0)') Manama, Bahrain
								li
									a(href='javascript:void(0)') Antalya, Turkey
								li
									a(href='javascript:void(0)') Tokyo, Japan
								li
									a(href='javascript:void(0)') Manchester, United Kingdom
								li
									a(href='javascript:void(0)') Savannah, GA, USA
								li
									a(href='javascript:void(0)') Budapest, Hungary
								li
									a(href='javascript:void(0)') Perth, WA, Australia
								li
									a(href='javascript:void(0)') Southampton, United Kingdom
				.col-md-3.col-sm-6.mt-50
					ul.list-unstyled
						li.widget-container.widget_nav_menu
							// widgets list
							ul
								li
									a(href='javascript:void(0)') Durham, USA
								li
									a(href='javascript:void(0)') Riviera Maya, Mexico
								li
									a(href='javascript:void(0)') Charlotte, NC, USA
								li
									a(href='javascript:void(0)') Vienna, Austria
								li
									a(href='javascript:void(0)') Windsor, United Kingdom
								li
									a(href='javascript:void(0)') Seattle, WA, USA
								li
									a(href='javascript:void(0)') Windermere, United Kingdom
								li
									a(href='javascript:void(0)') Kowloon, Hong Kong
								li
									a(href='javascript:void(0)') San Jose Del Cabo, Mexico
								li
									a(href='javascript:void(0)') Darlington, United Kingdom
								li
									a(href='javascript:void(0)') Sharjah, United Arab Emirates
								li
									a(href='javascript:void(0)') Athens, Greece
								li
									a(href='javascript:void(0)') Grand Canyon, AZ, USA
								li
									a(href='javascript:void(0)') Carolina, Puerto Rico
								li
									a(href='javascript:void(0)') Atlantic City, NJ, USA
								li
									a(href='javascript:void(0)') Cozumel, Mexico
								li
									a(href='javascript:void(0)') Irvine, CA, USA
								li
									a(href='javascript:void(0)') Reykjavik, Iceland
								li
									a(href='javascript:void(0)') Cardiff, United Kingdom
								li
									a(href='javascript:void(0)') Philadelphia, PA, USA
								li
									a(href='javascript:void(0)') Brussels, Belgium
								li
									a(href='javascript:void(0)') Chiang Rai, Thailand
								li
									a(href='javascript:void(0)') South Lake Tahoe, CA, USA
								li
									a(href='javascript:void(0)') Queenstown, New Zealand
								li
									a(href='javascript:void(0)') Cairns, QL, Australia
		.row.black
			.col-sm-10.col-sm-offset-1
				p.copy.text-center-xs
					| Copyright © 2015 - 2017 Cancelon Inc. All Rights Reserved. Designated trademarks and brands are the property of their respective owners. Use of this Web site constitutes acceptance of the cancelon User agreement and
					a(href="javascript:void(0)")  Privacy policy
					| .