.black-bg-search
.black-bg-map
.map-item-block#map-item-block
   .map-item-block-wrapper
      .map-item-block--wrapper
         .close-line
            a.close-btn(href='javascript:void(0)')
               i.fa.fa-close(aria-hidden='true')
               span.text Close Details
            .socials
               ul.social
                  li
                     a(href='javascript:void(0)')
                        i.fa.fa-facebook(aria-hidden='true')
                  li
                     a(href='javascript:void(0)')
                        i.fa.fa-twitter(aria-hidden='true')
                  li
                     a(href='javascript:void(0)')
                        i.fa.fa-rss(aria-hidden='true')
                  li
                     a(href='javascript:void(0)')
                        i.fa.fa-linkedin(aria-hidden='true')
                  li
                     a(href='javascript:void(0)')
                        i.fa.fa-google-plus(aria-hidden='true')
         .title-rating
            .row.pl-16.pr-16
               .col-sm-1.col-xs-3
                  img(src='images/icons/map-item.png', alt='')
               .col-sm-3.col-xs-9.pl-10
                  h2.main-title Joint Base
                  ul.stars.stars-hotel(data-stars='4.47')
                     li.hidden
                        i.fa.orange-text.fa-star(aria-hidden='true')
                     li.hidden
                        i.fa.orange-text.fa-star(aria-hidden='true')
                     li.hidden
                        i.fa.orange-text.fa-star(aria-hidden='true')
                     li.hidden
                        i.fa.orange-text.fa-star(aria-hidden='true')
                     li.hidden
                        i.fa.orange-text.fa-star(aria-hidden='true')
                     li.hidden
                        i.fa.orange-text.fa-star-half(aria-hidden='true')
               .col-sm-3.col-sm-offset-5.hidden-xs
                  .trip
                     .rate(data-rate='4.54')
                  a.reviews(href='javascript:void(0)') 142 Reviews
         .owl-carousel.short.photoswipe-block
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
         .map-item-info
            .row.pl-16.pr-16
               .col-sm-12
                  .top-info
                     .row
                        .col-sm-6
                           h3 Overview
                           a.distance-blue(href='javascript:void(0)')
                              i.fa.fa-map-pin(aria-hidden='true')
                              | 1.98 km. to the centre of Central Park (map)
                        .col-sm-6
                           .pull-right
                              a.book-btn(href='javascript:void(0)') $60 Book Offsite
               .col-sm-12
                  .bottom-info
                     ul.nav.nav-pills
                        li.active
                           a(href='#hotel-details', data-toggle='tab') Hotel Details
                        li
                           a(href='#price-compare', data-toggle='tab') Price Compare
                     .tab-content.clearfix
                        #hotel-details.tab-pane.active
                           .clearfix
                           ul
                              span
                                 i.distance-blue.icon-wifi
                                 | Free Wf-Fi
                              span
                                 i.distance-blue.icon-parking
                                 | Parking
                              span
                                 i.distance-blue.icon-air-conditioner
                                 | Air Conditioner
                              span
                                 i.distance-blue.icon-old-typical-phone
                                 | Phone
                           ul
                              span
                                 i.distance-blue.icon-television
                                 |  TV
                              span
                                 i.distance-blue.icon-shower-head
                                 |  Shower
                              span
                                 i.distance-blue.icon-valet-head
                                 | Valet
                              span
                                 i.distance-blue.icon-single-bed
                                 | Single bed
                           ul
                              span
                                 i.distance-blue.icon-sweeping-broom
                                 | Sweeping broom
                              span
                                 i.distance-blue.icon-double-bed
                                 | Double bed
                              span
                                 i.distance-blue.icon-hotel-keycard
                                 | Hotel keycard
                              span
                                 i.distance-blue.icon-surveillance-camera
                                 | Camera
                           ul
                              span
                                 i.distance-blue.icon-no-smoking-sign
                                 | No smoking
                              span
                                 i.distance-blue.icon-hotel-do-not-disturb-door-hanger
                                 | Do not disturb
                              span
                                 i.distance-blue.icon-briefcase-with-plus-symbol
                                 | Medic
                              span
                                 i.distance-blue.icon-cigar-with-smoke
                                 | Smoke free
                           .clearfix
                           .description.mt-30
                              h3.font-weight-600.mb-15 Description
                              p Stylish London hotel on Regent Street, near the Tube Regent Street style The stylish Saint Georges Hotel puts you at the top end of Regent Street, in the heart of London. You'll be in one of the city's most exclusive neighborhoods, a couple of blocks from Oxford Circus Tube Station. High-fashion shopping Within 2 minutes you can be browsing the fashion shops and department stores of Oxford Street. If you're looking for something a little more exclusive, head south for 10 minutes to Bond Street, where you'll find designers including Prada and Gucci. Skyline views Guests rave about panoramic views of the London skyline from The Heights Restaurant, perched on the hotel's 15th floor. Comfy and modern Smoke-free guestrooms indulge with free WiFi, flat-screen TVs, and minibars. In superior rooms you'll find slick, contemporary design and upgraded toiletries, as well as an enhanced refreshment tray.
                        #price-compare.tab-pane
                           //iframe(src='https://brands.datahc.com/Hotel/DoubleTree_by_Hilton_NYC_Financial_District.htm', style='width: 100%; height: 300px', frameborder='0')
