.black-bg
.map-item-block
   .map-item-block-wrapper
      .close-line
         a.close-btn(href='javascript:void(0)')
            span.close-icon
               span.bar
               span.bar
            span.text Close Details
         .socials
            ul.social
               li
                  a(href='#')
                     i.fa.fa-facebook(aria-hidden='true')
               li
                  a(href='#')
                     i.fa.fa-twitter(aria-hidden='true')
               li
                  a(href='#')
                     i.fa.fa-rss(aria-hidden='true')
               li
                  a(href='#')
                     i.fa.fa-linkedin(aria-hidden='true')
               li
                  a(href='#')
                     i.fa.fa-google-plus(aria-hidden='true')
      .title-rating
         .container
            .row
               .col-sm-1
                  img(src='images/icons/map-item.png', alt='')
               .col-sm-3.pl-10
                  h2.main-title Joint Base
                  ul.stars
                     li
                        i.fa.orange-text.fa-star(aria-hidden='true')
                     li
                        i.fa.orange-text.fa-star(aria-hidden='true')
                     li
                        i.fa.orange-text.fa-star(aria-hidden='true')
                     li
                        i.fa.orange-text.fa-star(aria-hidden='true')
                     li
                        i.fa.orange-text.fa-star(aria-hidden='true')
               .col-sm-3.pull-right
                  ul.stars
                     li
                        img.ml-10.mr-10(width='50', height='44' src='images/icons/tripavisor-text.svg')
                     li
                        i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
                     li
                        i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
                     li
                        i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
                     li
                        i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
                     li
                        i.fa.green-text.fa-dot-circle-o(aria-hidden='true')
                     li
                        a.extra-small.text-underline 142 Reviews
      .owl-carousel
         .item
            img(src='images/map-item-image.png', alt='Alt 1')
         .item
            img(src='images/map-item-image.png', alt='Alt 2')
         .item
            img(src='images/map-item-image.png', alt='Alt 3')
         .item
            img(src='images/map-item-image.png', alt='Alt 4')
         .item
            img(src='images/map-item-image.png', alt='Alt 5')
         .item
            img(src='images/map-item-image.png', alt='Alt 6')
         .item
            img(src='images/map-item-image.png', alt='Alt 7')
         .item
            img(src='images/map-item-image.png', alt='Alt 8')
         .item
            img(src='images/map-item-image.png', alt='Alt 9')
         .item
            img(src='images/map-item-image.png', alt='Alt 10')
      .main-price
         i.fa.fa-money(aria-hidden='true')
         span $60