.map-item-block#map-item-block
   .map-item-block-wrapper
      .map-item-block--wrapper
         .close-line
            a.close-btn(href='javascript:void(0)')
               i.fa.fa-close(aria-hidden='true')
               span.text Close Details
         .title-rating
            .top-bar.clearfix
               span.number
                  span 5
               h2.main-title Mandapa, A Ritz-Carlton Resort
               ul.stars.stars-hotel(data-stars='4.47')
                  li.hidden
                     i.fa.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.fa-star-half(aria-hidden='true')
         .owl-carousel.owl-carousel-short.photoswipe-block(itemscope, itemtype="http://schema.org/ImageGallery")
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
            figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
               a(href='images/map-item-image.png', itemprop='contentUrl', data-size='1296x570')
                  img(src='images/map-item-image.png', alt='Alt 1')
         .map-item-info
            .row.pl-16.pr-16
               .col-sm-12.pl-25.pr-25
                  .top-info
                     .row
                        .col-sm-6
                           h3 Overview
                           a.distance-blue(href='javascript:void(0)') 1.98 km. to the centre of Central Park (map)
                        .col-sm-6
                           .pull-right
                              a.book-btn(href='./payment.html') $425/
                                 span Day
                                 |
                                 | Book Now
               .col-sm-12.pl-25.pr-25
                  .bottom-info
                     ul.nav.nav-pills
                        li.active
                           a(href='#hotel-details', data-toggle='tab') Hotel Details
                        li
                           a(href='#price-compare', data-toggle='tab') Price Compare
                     .tab-content.clearfix
                        #hotel-details.tab-pane.active
                           .clearfix
                           ul
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Free Wf-Fi
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Parking
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Air Conditioner
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Phone
                           ul
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 |  TV
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 |  Shower
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Valet
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Single bed
                           ul
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Sweeping broom
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Double bed
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Hotel keycard
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Camera
                           ul
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | No smoking
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Do not disturb
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Medic
                              li
                                 i.fa.fa-check-circle-o(aria-hidden='true')
                                 | Smoke free
                           .clearfix
                           .description.mt-30
                              h3.font-weight-600.mb-15 Description
                              p Stylish London hotel on Regent Street, near the Tube Regent Street style The stylish Saint Georges Hotel puts you at the top end of Regent Street, in the heart of London. You'll be in one of the city's most exclusive neighborhoods, a couple of blocks from Oxford Circus Tube Station. High-fashion shopping Within 2 minutes you can be browsing the fashion shops and department stores of Oxford Street. If you're looking for something a little more exclusive, head south for 10 minutes to Bond Street, where you'll find designers including Prada and Gucci. Skyline views Guests rave about panoramic views of the London skyline from The Heights Restaurant, perched on the hotel's 15th floor. Comfy and modern Smoke-free guestrooms indulge with free WiFi, flat-screen TVs, and minibars. In superior rooms you'll find slick, contemporary design and upgraded toiletries, as well as an enhanced refreshment tray.
                        #price-compare.tab-pane
                           //iframe(src='https://brands.datahc.com/Hotel/DoubleTree_by_Hilton_NYC_Financial_District.htm', style='width: 100%; height: 300px', frameborder='0')
