nav.navbar.navbar-default.mb-0
	.container
		.row
			.navbar-header
				a.navbar-brand.dropdown(href='.')
					img.img-responsive(alt='logo', src='images/logo.png')
				.dropdown-menu
					.logo-info
						.info
							.title
								a(href='javascript:void(0)') Go to Home Page
							.text The first social marketplace where you can buy & sell unused hotel reservations.
							.contacts
								.name Your Company LTD
								.address Street nr 100, 4536534, Chicago, US
						.numbers
							.title Contact Info
							span.number
								a(href='javascript:void(0)') US 1-855-226-2359
							span.number
								a(href='javascript:void(0)') UK 0-800-014-8161
							span.number
								a(href='javascript:void(0)') FR 0-805-080-042
							span.number
								a(href='javascript:void(0)') DE 0-800-184-4594
							span.number
								a(href='javascript:void(0)') AU 1-800-459-141
							span.number
								a(href='javascript:void(0)') NZ 0-800-451-433
							span.number
								a(href='javascript:void(0)') IE 1-800-901-655
							span.number
								a(href='javascript:void(0)') CA 1-855-226-2359
						.message
							a(href='javascript:void(0)')
								img(src='images/messages.png', alt='messages')
				if ( page.name !== 'payment' )
					.filter-icon.visible-xs
						i.fa.fa-sliders(aria-hidden='true')
				if ( page.name == 'landing' )
					p.navbar-text-landing.small-text.font-weight-200.visible-lg.visible-md
						| As seen on
					a(href='javascript:void(0)').secondary-logo.hidden-xs
						img(src='./images/trivago-logo.png', alt='trivago')
				else
					p.navbar-text.small-text.font-weight-200.visible-lg
						i.fa.fa-info-circle(aria-hidden='true')
						|  Sell and Buy Non-Refundable Hotel Reservations
				#nav_mobile.navbar-mobile.hidden-lg
					ul.nav.navbar-nav
						li.back
							a(href='javascript:void(0)')
								i.fa.fa-angle-left(aria-hidden='true')
								| Back
						li
							a(href='javascript:void(0)')
								| Home
						li
							a(href='javascript:void(0)')
								| About
						li
							a(href='javascript:void(0)')
								| Support
						li
							a(href='javascript:void(0)')
								| Alert Me
						if ( page.name !== 'landing' )
							li
								a(href='javascript:void(0)')
									| Explore
						li
							a(href='javascript:void(0)')
								| Sign In
						li
							a(href='javascript:void(0)')
								| Sign Up
						li
							a(href='javascript:void(0)')
								| USD
						li
							a(href='javascript:void(0)')
								| Language
						//li.visible-xs
							//a.blue-btn(href='javascript:void(0)') Unlock special prices
						li.visible-xs
							a.green-btn(href='./payment.html') Buy hotel reservation
				#filter_mobile.navbar-filter.hidden-lg
					a#filter-done(href='javascript:void(0)') Done
			button#menu-button.navbar-toggle(type='button')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			.navbar-menu.hidden-xs
				ul.nav.navbar-nav.navbar-right
					li.visible-lg
						a(href='javascript:void(0)')
							i.fa.fa-search(aria-hidden='true')
							| Search
					li.visible-lg
						a(href='javascript:void(0)')
							i.fa.fa-fire(aria-hidden='true')
							| Sell
					li.dropdown.show.visible-lg
						a#dropdownMenuLink1.dropdown-toggle.mnr-10(href='javascript:void(0)', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							i.fa.fa-user(aria-hidden='true')
							| Sign In
							span.bs-caret
								span.caret
						.dropdown-menu.sign-in-menu(aria-labelledby='dropdownMenuLink1')
							.col-md-12
								p.pull-left.w-30.big-text.font-weight-500 Login
								a.pull-right.w-70.extra-small(href='javascript:void(0)') Not registered? Sign Up
								input.log-input(type='text', placeholder='Enter Your Login')
								p.pull-left.w-50.big-text.font-weight-500 Password
								a.pull-right.w-50.extra-small(href='javascript:void(0)') Forgot Password
								input.log-input(type='text', placeholder='Enter Your Password')
								.w-50.pull-left.text-center
									a.sign-btn(href="javascript:void(0)") Sign In
								.w-50.pull-right.text-center.socials
									a(href="javascript:void(0)")
										i.fa.fa-facebook(aria-hidden='true')
									a(href="javascript:void(0)")
										i.fa.fa-google-plus(aria-hidden='true')
									a(href="javascript:void(0)")
										i.fa.fa-twitter(aria-hidden='true')
					li.visible-lg
						a(href='javascript:void(0)')
							i.fa.fa-info-circle(aria-hidden='true')
							| Alert Me
					if ( page.name !== 'landing' )
						li.visible-lg
							a(href='javascript:void(0)')
								i.fa.fa-map(aria-hidden='true')
								| Explore
					li.form-group.visible-lg
						select#sel1.selectpicker.currency-menu
							option (USD) $
							option (EUR) &euro;
							option (GBP) &pound;
							option (AED) Dh
							option (AFN) ؋
							option (ALL) Lek
							option (DZD) DA
							option (ARS) $
							option (AUD) $
							option (BSD) $
							option (BDT) Tk
							option (BBD) $
							option (BMD) $
					li.dropdown.show.visible-lg
						a#dropdownMenuLink2.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							i.fa.fa-language(aria-hidden='true')
							| Language
							span.bs-caret
								span.caret
						.dropdown-menu.languages-menu(aria-labelledby='dropdownMenuLink2')
							.col-md-12.languages
								a(href='javascript:void(0)')
									img(width='25', src='images/icons/flag.svg', alt='flag')
									| English
								a(href='javascript:void(0)')
									img(width='25', src='images/icons/flag1.svg', alt='flag')
									| Deutch
								a(href='javascript:void(0)')
									img(width='25', src='images/icons/flag2.svg', alt='flag')
									| French
								a(href='javascript:void(0)')
									img(width='25', src='images/icons/flag3.svg', alt='flag')
									| Spanish
								a(href='javascript:void(0)')
									img(width='25', src='images/icons/flag4.svg', alt='flag')
									| Italiano
								a(href='javascript:void(0)')
									img(width='25', src='images/icons/flag5.svg', alt='flag')
									| Russian
				ul.nav.navbar-nav.navbar-right.down-menu
					li.visible-lg
						a(href='javascript:void(0)')
							i.fa.fa-life-ring(aria-hidden='true')
							| Support
					li.visible-lg
						a(href='javascript:void(0)') About
					//li
					//	a.blue-btn(href='javascript:void(0)') Unlock special prices
					li
						a.green-btn(href='./payment.html') Buy hotel reservation