// Scripts
script(type='text/javascript', src='js/assets.min.js')
script(type='text/javascript', src='js/jquery.html5storage.min.js')
// Google Maps Api
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCvpH7_ggEW5MYLRO8EN1BbJak4u2uIvaA')
// Additional JS
script(type='text/javascript', src='js/google-map.min.js')
script(type='text/javascript', src='js/ajax-load.min.js')
script(type='text/javascript', src='js/charts.min.js')
script(type='text/javascript', src='js/timer.min.js')
// Main JS
script(type='text/javascript', src='js/main.min.js')
// /Scripts