// Scripts
// jQuery
script(type='text/javascript', src='assets/plugins/jquery/dist/jquery.min.js')
// Bootstrap
script(type='text/javascript', src='assets/plugins/bootstrap/dist/js/bootstrap.min.js')
// Theme Plugins scripts
script(type='text/javascript', src='js/moment.min.js')
script(type='text/javascript', src='js/datarangepicker/jquery.datarangepicker.min.js')
script(type='text/javascript', src='assets/plugins/bootstrap-dropdown-hover/dist/jquery.bootstrap-dropdown-hover.min.js')
script(type='text/javascript', src='assets/plugins/bootstrap-select/dist/js/bootstrap-select.js')
script(type='text/javascript', src='assets/plugins/jquery-ui/jquery-ui.min.js')
script(type='text/javascript', src='assets/plugins/isotope/dist/isotope.pkgd.js')
script(type='text/javascript', src='assets/plugins/owl.carousel/dist/owl.carousel.min.js')
script(type='text/javascript', src='assets/plugins/modernizr/modernizr.js')
script(type='text/javascript', src='js/appear.min.js')
// Google Maps Api
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCvpH7_ggEW5MYLRO8EN1BbJak4u2uIvaA')
// Google Maps Settings
script(type='text/javascript', src='js/google-map.js')
// Main JS
script(type='text/javascript', src='js/main.min.js')
// /Scripts