.container.mt-15.remove-padding-md.pl-xs-0.pr-xs-0
	.filter-top.white
		.search-filter.hidden
			p.big-text.text-uppercase.font-weight-600.font-roboto.mnl-5.hidden-xs
				| Search Filter
				a.pull-right.hide-filter.hidden-filter(href='javascript:void(0)')
					span.menu-icon
		.content-settings
			.display.hidden-xs.hidden-sm
				a.list-btn.active(href='javascript:void(0)')
					i.fa.fa-bars(aria-hidden='true')
				a.grid-btn.ml-5(href='javascript:void(0)')
					i.fa.fa-th(aria-hidden='true')
			select.selectpicker.pull-left
				option Low to High
				option High to Low
				option Newest
			p.avail Available 471 Of 471
			a.show-all(href='javascirpt:void(0)') Filters
			.onoffswitch.pull-right
				input#myonoffswitch1.myonoffswitch.onoffswitch-checkbox(type='checkbox', name='onoffswitch1')
				label.onoffswitch-label(for='myonoffswitch1')
					span.onoffswitch-inner
					span.onoffswitch-switch