.container-fluid.white.pl-xs-0.pr-xs-0.pos-rel.main-search-wrapper
	.container.pl-xs-0.pr-xs-0
		.row.container-search-wrapper
			.col-md-12.pl-xs-0.pr-xs-0.pl-md-0.pr-md-0.pl-0.pr-0
				.pl-15.pr-15.pl-sm-11
					.loading-search-cover
						.loading-search
					#search-space
					.input-group.search-group
						input.form-control.input-search(type='text', placeholder='What Are You Looking For?')
						span.search-filter-block
							span.input-group.input-group-white.date-group
								span.input-group-addon
									i.fa.fa-calendar
								span.form-control.datepicker-input
									span.date May, 6th
									span.day Saturday
								span.form-control.datepicker-output
									span.date Jun, 14th
									span.day Wednesday
							span.input-group.input-group-white.people-count
								span.input-group-addon
									i.fa.fa-sliders(aria-hidden='true')
								a#peopleCount.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									span.block
										span.value#rooms 3
										span.col-form-label Rooms
									span.block
										span.value#adults 4
										span.col-form-label Adults
									span.block
										span.value#children 0
										span.col-form-label Children
								span.down-arrow
									i.fa.fa-caret-down(aria-hidden='true')
								span.dropdown-menu.book-menu(aria-labelledby='peopleCount')
									label.col-form-label.mt-20(for='quant[1]') Rooms
									span.input-group.mt-10
										span.input-group-btn
											button.btn.btn-info.btn-number(type='button', data-type='minus', data-field='quant[1]')
												| -
										input.form-control.input-number(type='number', id='quant[1]', name='quant[1]', value='3', min='1', max='10', data-id='rooms')
										span.input-group-btn
											button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[1]')
												| +
									label.col-form-label.mt-20(for='quant[2]') Adults
									span.input-group.mt-10
										span.input-group-btn
											button.btn.btn-info.btn-number(type='button', data-type='minus', data-field='quant[2]')
												| -
										input.form-control.input-number(type='number', id='quant[2]', name='quant[2]', value='4', min='1', max='99', data-id='adults')
										span.input-group-btn
											button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[2]')
												| +
									label.col-form-label.mt-20(for='quant[2]') Children
									span.input-group.mt-10
										span.input-group-btn
											button.btn.btn-info.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant[3]')
												| -
										input.form-control.input-number(type='number', id='quant[3]', name='quant[3]', value='0', min='0', max='99', data-id='children')
										span.input-group-btn
											button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[3]')
												| +
							span.search-divider
						span.input-search-btn.hidden-xs
							button.btn.btn-default(type='button') SEARCH
						span.input-search-btn.visible-xs
							button(type='button')
								span.search-icon
						.load-icon
							i.fa.fa-spinner.fa-spin(aria-hidden='true')
						.search-result
							span.city-label City
							.scrollbar-dynamic
								.search-result-inner
									ul.list-group
										li.list-group-item
											a.result-item(href="javascript:void(0)")
												span.result-icon.marker
												h4.title London
												span.location Greater London, United Kingdom
										li.list-group-item
											a.result-item(href="javascript:void(0)")
												span.result-icon.marker
												h4.title London
												span.location Victoria Station, United Kingdom
										li.list-group-item
											a.result-item(href="javascript:void(0)")
												span.result-icon.home
												h4.title Paddington Station, London
												span.location London, United Kingdom
										li.category
											span.category-name Point of interest
										li.list-group-item
											a.result-item(href="javascript:void(0)")
												span.result-icon.info
												h4.title LHR
												span.location London Heathrow Airport, United Kingdom
										li.list-group-item
											a.result-item(href="javascript:void(0)")
												span.result-icon.plane
												h4.title London Gatwick Airport, London
												span.location London United Kingdom
							a(href="javascript:void(0)").small.search-all: b All Results 75
						// /.search-result
						.close-search
							i.fa.fa-close
					// /input-group
