.review-block_comments-block
   .name
      span Adam
   .country
      span.flag
         img(src='./images/icons/usa.png', alt='usa')
      span USA
   .date
      span May 5th, 2017
   .comment.clearfix
      ul.stars.stars-hotel
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
      p.comment-rating Perfect
      p.comment-text Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell.
.review-block_comments-block
   .name
      span Geralt
   .country
      span.flag
         img(src='./images/icons/usa.png', alt='usa')
      span USA
   .date
      span June 25th, 2017
   .comment.clearfix
      ul.stars.stars-hotel
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
      p.comment-rating Good
      p.comment-text Am terminated it excellence invitation projection as.
.review-block_comments-block
   .name
      span Anna Maria
   .country
      span.flag
         img(src='./images/icons/usa.png', alt='usa')
      span USA
   .date
      span June 27th, 2017
   .comment.clearfix
      ul.stars.stars-hotel
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
      p.comment-rating Perfect
      p.comment-text Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell.
.review-block_comments-block
   .name
      span Adam
   .country
      span.flag
         img(src='./images/icons/usa.png', alt='usa')
      span USA
   .date
      span May 5th, 2017
   .comment.clearfix
      ul.stars.stars-hotel
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
      p.comment-rating Perfect
      p.comment-text Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell.
.review-block_comments-block
   .name
      span Geralt
   .country
      span.flag
         img(src='./images/icons/usa.png', alt='usa')
      span USA
   .date
      span June 25th, 2017
   .comment.clearfix
      ul.stars.stars-hotel
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
      p.comment-rating Good
      p.comment-text Am terminated it excellence invitation projection as.
.review-block_comments-block
   .name
      span Anna Maria
   .country
      span.flag
         img(src='./images/icons/usa.png', alt='usa')
      span USA
   .date
      span June 27th, 2017
   .comment.clearfix
      ul.stars.stars-hotel
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
         li
            i.fa.orange-text.fa-star(aria-hidden='true')
      p.comment-rating Perfect
      p.comment-text Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell.