table.table.table-responsive.table-tablet.visible-sm
   thead
      tr
         th.room-type_th Room type
         th.room-last_th
            table
               tbody
   tbody
      tr.row-info.closed
         td.room-type_info-mobile-wrapper
            table
               tbody
                  tr.room-type_info-mobile
                  tr.thead-mobile
                     td
                        table
                           tbody
                              tr(data-table='thead-item')
                                 th.conditions_th Conditions
                                 th.per-night_th Per Night
                                 th.total-price_th Total Price
                                 th.book-column_th
                                    span.info-label.green.down-triangle Best Price Guaranteed
                  tr
                     td.right-part_info
                        table
                           tbody
                              tr.variant.variant1.best-variant
                                 td.room-type_info
                                    .room-type_info-open-btn
                                       .hotel-button.closed
                                          span.minus -
                                          span.plus +
                                    .room-type_info-preview
                                       .owl-carousel.owl-carousel-table-slider
                                          img(src='./images/table-preview2.png', alt='room type image')
                                          img(src='./images/table-preview1.png', alt='room type image')
                                          img(src='./images/table-preview1.png', alt='room type image')
                                          img(src='./images/table-preview2.png', alt='room type image')
                                       .counter
                                       span.info-label.red Only 3 rooms left!
                                    .room-type_info-name
                                       span Deluxe Room
                                    .room-type_info-size
                                       span 161 square feet
                                    .room-type_info-special
                                       ul
                                          li 1 Double Bed or 2 Twin Beds
                                          li Room sleeps 2 guest
                                    .room-type_info-facilities
                                       ul
                                          li
                                             i.blue-text.icon-wifi
                                             |  Free Wi-Fi
                                          li
                                             i.blue-text.icon-television
                                             |  TV
                                          li
                                             i.blue-text.icon-shower-head
                                             |  Shower
                                    .room-type_info-button
                                       a.book-btn.show-popup(href='javascript:void(0)') Show room information
                                       a.more-btn.show-popup(href='javascript:void(0)') More Details
                                 td.conditions
                                    .conditions_refund.non
                                       span Non-refundable
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-cup-of-hot-chocolate
                                             |  Breakfast Included
                                    .conditions_trivago.yes
                                       img(src='./images/trivago-logo.png', alt='trivago')
                                 td.per-night
                                    .per-night_price
                                       span $160/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 120
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant2
                                 td.conditions
                                    .conditions_refund.free
                                       span FREE Cancellation
                                    .conditions_date
                                       span Until July 9th, 2017
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-checked
                                             |  Reserve now, pay later
                                 td.per-night
                                    .per-night_price
                                       span $180/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 260
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant3
                                 td.conditions
                                    .conditions_refund.free
                                       span FREE Cancellation
                                    .conditions_date
                                       span Until July 9th, 2017
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-cup-of-hot-chocolate
                                             |  Breakfast Included
                                          li.green-text
                                             i.icon-checked
                                             |  Reserve now, pay later
                                 td.per-night
                                    .per-night_price
                                       span $190/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 330
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
      tr.row-info.closed
         td.room-type_info-mobile-wrapper
            table
               tbody
                  tr.room-type_info-mobile
                  tr.thead-mobile
                     td
                        table
                           tbody
                              tr(data-table='thead-item')
                                 th.conditions_th Conditions
                                 th.per-night_th Per Night
                                 th.total-price_th Total Price
                                 th.book-column_th
                                    span.info-label.green.down-triangle Best Price Guaranteed
                  tr
                     td.right-part_info
                        table
                           tbody
                              tr.variant.variant1
                                 td.room-type_info
                                    .room-type_info-open-btn
                                       .hotel-button.closed
                                          span.minus -
                                          span.plus +
                                    .room-type_info-preview
                                       .owl-carousel.owl-carousel-table-slider
                                          img(src='./images/table-preview2.png', alt='room type image')
                                          img(src='./images/table-preview1.png', alt='room type image')
                                       .counter
                                       span.info-label.orange Only 4 rooms left!
                                    .room-type_info-name
                                       span Standart Room
                                    .room-type_info-size
                                       span 120 square feet
                                    .room-type_info-special
                                       ul
                                          li 1 Double Bed
                                          li Room sleeps 1 guest
                                    .room-type_info-facilities
                                       ul
                                          li
                                             i.blue-text.icon-wifi
                                             |  Free Wi-Fi
                                          li
                                             i.blue-text.icon-television
                                             |  TV
                                          li
                                             i.blue-text.icon-shower-head
                                             |  Shower
                                    .room-type_info-button
                                       a.book-btn.show-popup(href='javascript:void(0)') Show room information
                                       a.more-btn.show-popup(href='javascript:void(0)') More Details
                                 td.conditions
                                    .conditions_refund.non
                                       span Non-refundable
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-cup-of-hot-chocolate
                                             |  Breakfast Included
                                    .conditions_trivago.yes
                                       img(src='./images/trivago-logo.png', alt='trivago')
                                 td.per-night
                                    .per-night_price
                                       span $100/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $700
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant2
                                 td.conditions
                                    .conditions_refund.free
                                       span FREE Cancellation
                                    .conditions_date
                                       span Until July 9th, 2017
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-checked
                                             |  Reserve now, pay later
                                 td.per-night
                                    .per-night_price
                                       span $180/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 260
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant3
                                 td.conditions
                                    .conditions_refund.free
                                       span FREE Cancellation
                                    .conditions_date
                                       span Until July 9th, 2017
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-cup-of-hot-chocolate
                                             |  Breakfast Included
                                          li.green-text
                                             i.icon-checked
                                             |  Reserve now, pay later
                                 td.per-night
                                    .per-night_price
                                       span $190/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 330
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
      tr.row-info.closed
         td.room-type_info-mobile-wrapper
            table
               tbody
                  tr.room-type_info-mobile
                  tr.thead-mobile
                     td
                        table
                           tbody
                              tr(data-table='thead-item')
                                 th.conditions_th Conditions
                                 th.per-night_th Per Night
                                 th.total-price_th Total Price
                                 th.book-column_th
                                    span.info-label.green.down-triangle Best Price Guaranteed
                  tr
                     td.right-part_info
                        table
                           tbody
                              tr.variant.variant1
                                 td.room-type_info
                                    .room-type_info-open-btn
                                       .hotel-button.closed
                                          span.minus -
                                          span.plus +
                                    .room-type_info-preview
                                       .owl-carousel.owl-carousel-table-slider
                                          img(src='./images/table-preview1.png', alt='room type image')
                                          img(src='./images/table-preview2.png', alt='room type image')
                                          img(src='./images/table-preview2.png', alt='room type image')
                                       .counter
                                       span.info-label.green Only 5 rooms left!
                                    .room-type_info-name
                                       span Business Class Room
                                    .room-type_info-size
                                       span 180 square feet
                                    .room-type_info-special
                                       ul
                                          li 1 Double Bed
                                    .room-type_info-facilities
                                       ul
                                          li
                                             i.blue-text.icon-wifi
                                             |  Free Wi-Fi
                                    .room-type_info-button
                                       a.book-btn.show-popup(href='javascript:void(0)') Show room information
                                       a.more-btn.show-popup(href='javascript:void(0)') More Details
                                 td.conditions
                                    .conditions_refund.non
                                       span Non-refundable
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-cup-of-hot-chocolate
                                             |  Breakfast Included
                                    .conditions_trivago.yes
                                       img(src='./images/trivago-logo.png', alt='trivago')
                                 td.per-night
                                    .per-night_price
                                       span $240/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 680
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant2
                                 td.conditions
                                    .conditions_refund.free
                                       span FREE Cancellation
                                    .conditions_date
                                       span Until July 9th, 2017
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-checked
                                             |  Reserve now, pay later
                                 td.per-night
                                    .per-night_price
                                       span $180/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 260
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant3
                                 td.conditions
                                    .conditions_refund.free
                                       span FREE Cancellation
                                    .conditions_date
                                       span Until July 9th, 2017
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-cup-of-hot-chocolate
                                             |  Breakfast Included
                                          li.green-text
                                             i.icon-checked
                                             |  Reserve now, pay later
                                 td.per-night
                                    .per-night_price
                                       span $190/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 330
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
      tr.row-info.closed
         td.room-type_info-mobile-wrapper
            table
               tbody
                  tr.room-type_info-mobile
                  tr.thead-mobile
                     td
                        table
                           tbody
                              tr(data-table='thead-item')
                                 th.conditions_th Conditions
                                 th.per-night_th Per Night
                                 th.total-price_th Total Price
                                 th.book-column_th
                                    span.info-label.green.down-triangle Best Price Guaranteed
                  tr
                     td.right-part_info
                        table
                           tbody
                              tr.variant.variant1
                                 td.room-type_info
                                    .room-type_info-open-btn
                                       .hotel-button.closed
                                          span.minus -
                                          span.plus +
                                    .room-type_info-preview
                                       .owl-carousel.owl-carousel-table-slider
                                          img(src='./images/table-preview2.png', alt='room type image')
                                          img(src='./images/table-preview1.png', alt='room type image')
                                          img(src='./images/table-preview1.png', alt='room type image')
                                          img(src='./images/table-preview2.png', alt='room type image')
                                          img(src='./images/table-preview1.png', alt='room type image')
                                       .counter
                                       span.info-label.orange.hidden Only 4 rooms left!
                                    .room-type_info-name
                                       span Junior Suite
                                    .room-type_info-size
                                       span 355 square feet
                                    .room-type_info-special
                                       ul
                                          li 1 Double Bed or 2 Twin Beds
                                          li Room sleeps 2 guests
                                    .room-type_info-facilities
                                       ul
                                          li
                                             i.blue-text.icon-wifi
                                             |  Free Wi-Fi
                                          li
                                             i.blue-text.icon-television
                                             |  TV
                                          li
                                             i.blue-text.icon-shower-head
                                             |  Shower
                                    .room-type_info-button
                                       a.book-btn.show-popup(href='javascript:void(0)') Show room information
                                       a.more-btn.show-popup(href='javascript:void(0)') More Details
                                 td.conditions
                                    .conditions_refund.non
                                       span Non-refundable
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-cup-of-hot-chocolate
                                             |  Breakfast Included
                                    .conditions_trivago.yes
                                       img(src='./images/trivago-logo.png', alt='trivago')
                                 td.per-night
                                    .per-night_price
                                       span 170/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 190
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant2
                                 td.conditions
                                    .conditions_refund.free
                                       span FREE Cancellation
                                    .conditions_date
                                       span Until July 9th, 2017
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-checked
                                             |  Reserve now, pay later
                                 td.per-night
                                    .per-night_price
                                       span $180/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 260
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant3
                                 td.conditions
                                    .conditions_refund.free
                                       span FREE Cancellation
                                    .conditions_date
                                       span Until July 9th, 2017
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-cup-of-hot-chocolate
                                             |  Breakfast Included
                                          li.green-text
                                             i.icon-checked
                                             |  Reserve now, pay later
                                 td.per-night
                                    .per-night_price
                                       span $190/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 330
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
      tr.row-info.closed
         td.room-type_info-mobile-wrapper
            table
               tbody
                  tr.room-type_info-mobile
                  tr.thead-mobile
                     td
                        table
                           tbody
                              tr(data-table='thead-item')
                                 th.conditions_th Conditions
                                 th.per-night_th Per Night
                                 th.total-price_th Total Price
                                 th.book-column_th
                                    span.info-label.green.down-triangle Best Price Guaranteed
                  tr
                     td.right-part_info
                        table
                           tbody
                              tr.variant.variant1.best-variant
                                 td.room-type_info
                                    .room-type_info-open-btn
                                       .hotel-button.closed
                                          span.minus -
                                          span.plus +
                                    .room-type_info-preview
                                       .owl-carousel.owl-carousel-table-slider
                                          img(src='./images/table-preview1.png', alt='room type image')
                                       .counter
                                       span.info-label.orange.hidden Only 4 rooms left!
                                    .room-type_info-name
                                       span Superior Single Room
                                    .room-type_info-size
                                       span 161 square feet
                                    .room-type_info-special
                                       ul
                                          li 1 Double Bed or 2 Twin Beds
                                          li Room sleeps 2 guests
                                    .room-type_info-facilities
                                       ul
                                          li
                                             i.blue-text.icon-wifi
                                             |  Free Wi-Fi
                                          li
                                             i.blue-text.icon-television
                                             |  TV
                                    .room-type_info-button
                                       a.book-btn.show-popup(href='javascript:void(0)') Show room information
                                       a.more-btn.show-popup(href='javascript:void(0)') More Details
                                 td.conditions
                                    .conditions_refund.non
                                       span Non-refundable
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-cup-of-hot-chocolate
                                             |  Breakfast Included
                                    .conditions_trivago.yes
                                       img(src='./images/trivago-logo.png', alt='trivago')
                                 td.per-night
                                    .per-night_price
                                       span $160/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 120
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant2
                                 td.conditions
                                    .conditions_refund.free
                                       span FREE Cancellation
                                    .conditions_date
                                       span Until July 9th, 2017
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-checked
                                             |  Reserve now, pay later
                                 td.per-night
                                    .per-night_price
                                       span $180/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 260
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant3
                                 td.conditions
                                    .conditions_refund.free
                                       span FREE Cancellation
                                    .conditions_date
                                       span Until July 9th, 2017
                                    .conditions_facilities
                                       ul
                                          li.green-text
                                             i.icon-wifi
                                             |  Free Wi-Fi
                                          li.green-text
                                             i.icon-cup-of-hot-chocolate
                                             |  Breakfast Included
                                          li.green-text
                                             i.icon-checked
                                             |  Reserve now, pay later
                                 td.per-night
                                    .per-night_price
                                       span $190/Night
                                 td.total-price
                                    .total-price_range
                                       span For 7 Days
                                    .total-price_price
                                       span $1 330
                                 td.book-column
                                    .book-column_button
                                       a.book-btn(href='javascript:void(0)') Let's Book
