table.table.table-responsive.table-mobile.visible-xs
   thead
      tr
         th.room-type_th Room type
         th.room-last_th
            table
               tbody
                  tr(data-table='thead-item')
                     th.conditions_th Conditions
                     th.per-night_th Per Night
                     th.total-price_th Total Price
                     th.book-column_th
                        span.info-label.green.down-triangle Best Price Guaranteed
   tbody
      tr.row-info.closed
         td
            table
               tbody
                  tr
                     td.room-type_info
                        .room-type_info-open-btn
                           .hotel-button.opened
                              .hidden-xs
                                 span.minus -
                                 span.plus +
                              .visible-xs
                                 i.fa.fa-angle-down(aria-hidden='true')
                                 i.fa.fa-angle-up(aria-hidden='true')
                        .room-type_info-preview
                           .owl-carousel.owl-carousel-table-slider
                              img(src='./images/table-preview2.png', alt='room type image')
                              img(src='./images/table-preview1.png', alt='room type image')
                              img(src='./images/table-preview1.png', alt='room type image')
                              img(src='./images/table-preview2.png', alt='room type image')
                           .counter
                           span.info-label.red Only 3 rooms left!
                        .room-type_info-name
                           span Deluxe Room
                        .room-type_info-size
                           span 161 square feet
                        .room-type_info-special
                           ul
                              li 1 Double Bed or 2 Twin Beds
                              li Room sleeps 2 guests
                        .room-type_info-facilities
                           ul
                              li
                                 i.blue-text.icon-wifi
                                 |  Free Wi-Fi
                              li
                                 i.blue-text.icon-television
                                 |  TV
                              li
                                 i.blue-text.icon-shower-head
                                 |  Shower
                        .room-type_info-button
                           a.book-btn.show-popup(href='javascript:void(0)') Show room information
                           a.more-btn.show-popup(href='javascript:void(0)') More Details
                        .room-type_info-price
                           span $1 120
                  tr
                     td.right-part_info
                        table
                           tbody
                              tr.variant.variant1.best-variant.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.non
                                                   span Non-refundable
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $160/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 120
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant2.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.free
                                                   span FREE Cancellation
                                                .conditions_date
                                                   span Until July 9th, 2017
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $180/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 260
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant3.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.free
                                                   span FREE Cancellation
                                                .conditions_date
                                                   span Until July 9th, 2017
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                      li.green-text
                                                         i.icon-checked
                                                         |  Reserve now, pay later
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $190/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 330
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
      tr.row-info.closed
         td
            table
               tbody
                  tr
                     td.room-type_info
                        .room-type_info-open-btn
                           .hotel-button.closed
                              .hidden-xs
                                 span.minus -
                                 span.plus +
                              .visible-xs
                                 i.fa.fa-angle-down(aria-hidden='true')
                                 i.fa.fa-angle-up(aria-hidden='true')
                        .room-type_info-preview
                           .owl-carousel.owl-carousel-table-slider
                              img(src='./images/table-preview2.png', alt='room type image')
                              img(src='./images/table-preview1.png', alt='room type image')
                           .counter
                           span.info-label.orange Only 4 rooms left!
                        .room-type_info-name
                           span Standart Room
                        .room-type_info-size
                           span 120 square feet
                        .room-type_info-special
                           ul
                              li 1 Double Bed
                              li Room sleeps 1 guest
                        .room-type_info-facilities
                           ul
                              li
                                 i.blue-text.icon-wifi
                                 |  Free Wi-Fi
                              li
                                 i.blue-text.icon-television
                                 |  TV
                              li
                                 i.blue-text.icon-shower-head
                                 |  Shower
                        .room-type_info-button
                           a.book-btn.show-popup(href='javascript:void(0)') Show room information
                           a.more-btn.show-popup(href='javascript:void(0)') More Details
                        .room-type_info-price
                           span $700
                  tr
                     td.right-part_info
                        table
                           tbody
                              tr.variant.variant1.best-variant.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.non
                                                   span Non-refundable
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $160/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $700
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant2.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.free
                                                   span FREE Cancellation
                                                .conditions_date
                                                   span Until July 9th, 2017
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $180/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 260
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant3.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.free
                                                   span FREE Cancellation
                                                .conditions_date
                                                   span Until July 9th, 2017
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                      li.green-text
                                                         i.icon-checked
                                                         |  Reserve now, pay later
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $190/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 330
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
      tr.row-info.closed
         td
            table
               tbody
                  tr
                     td.room-type_info
                        .room-type_info-open-btn
                           .hotel-button.opened
                              .hidden-xs
                                 span.minus -
                                 span.plus +
                              .visible-xs
                                 i.fa.fa-angle-down(aria-hidden='true')
                                 i.fa.fa-angle-up(aria-hidden='true')
                        .room-type_info-preview
                           .owl-carousel.owl-carousel-table-slider
                              img(src='./images/table-preview1.png', alt='room type image')
                              img(src='./images/table-preview2.png', alt='room type image')
                              img(src='./images/table-preview2.png', alt='room type image')
                           .counter
                           span.info-label.green Only 5 rooms left!
                        .room-type_info-name
                           span Business Class Room
                        .room-type_info-size
                           span 180 square feet
                        .room-type_info-special
                           ul
                              li 1 Double Bed
                        .room-type_info-facilities
                           ul
                              li
                                 i.blue-text.icon-wifi
                                 |  Free Wi-Fi
                        .room-type_info-button
                           a.book-btn.show-popup(href='javascript:void(0)') Show room information
                           a.more-btn.show-popup(href='javascript:void(0)') More Details
                        .room-type_info-price
                           span $1 680
                  tr
                     td.right-part_info
                        table
                           tbody
                              tr.variant.variant1.best-variant.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.non
                                                   span Non-refundable
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $160/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 680
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant2.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.free
                                                   span FREE Cancellation
                                                .conditions_date
                                                   span Until July 9th, 2017
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $180/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 260
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant3.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.free
                                                   span FREE Cancellation
                                                .conditions_date
                                                   span Until July 9th, 2017
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                      li.green-text
                                                         i.icon-checked
                                                         |  Reserve now, pay later
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $190/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 330
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
      tr.row-info.closed
         td
            table
               tbody
                  tr
                     td.room-type_info
                        .room-type_info-open-btn
                           .hotel-button.opened
                              .hidden-xs
                                 span.minus -
                                 span.plus +
                              .visible-xs
                                 i.fa.fa-angle-down(aria-hidden='true')
                                 i.fa.fa-angle-up(aria-hidden='true')
                        .room-type_info-preview
                           .owl-carousel.owl-carousel-table-slider
                              img(src='./images/table-preview2.png', alt='room type image')
                              img(src='./images/table-preview1.png', alt='room type image')
                              img(src='./images/table-preview1.png', alt='room type image')
                              img(src='./images/table-preview2.png', alt='room type image')
                              img(src='./images/table-preview1.png', alt='room type image')
                           .counter
                           span.info-label.orange.hidden Only 4 rooms left!
                        .room-type_info-name
                           span Junior Suite
                        .room-type_info-size
                           span 355 square feet
                        .room-type_info-special
                           ul
                              li 1 Double Bed or 2 Twin Beds
                              li Room sleeps 2 guests
                        .room-type_info-facilities
                           ul
                              li
                                 i.blue-text.icon-wifi
                                 |  Free Wi-Fi
                              li
                                 i.blue-text.icon-television
                                 |  TV
                              li
                                 i.blue-text.icon-shower-head
                                 |  Shower
                        .room-type_info-button
                           a.book-btn.show-popup(href='javascript:void(0)') Show room information
                           a.more-btn.show-popup(href='javascript:void(0)') More Details
                        .room-type_info-price
                           span $1 190
                  tr
                     td.right-part_info
                        table
                           tbody
                              tr.variant.variant1.best-variant.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.non
                                                   span Non-refundable
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $160/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 190
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant2.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.free
                                                   span FREE Cancellation
                                                .conditions_date
                                                   span Until July 9th, 2017
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $180/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 260
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant3.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.free
                                                   span FREE Cancellation
                                                .conditions_date
                                                   span Until July 9th, 2017
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                      li.green-text
                                                         i.icon-checked
                                                         |  Reserve now, pay later
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $190/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 330
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
      tr.row-info.closed
         td
            table
               tbody
                  tr
                     td.room-type_info
                        .room-type_info-open-btn
                           .hotel-button.opened
                              .hidden-xs
                                 span.minus -
                                 span.plus +
                              .visible-xs
                                 i.fa.fa-angle-down(aria-hidden='true')
                                 i.fa.fa-angle-up(aria-hidden='true')
                        .room-type_info-preview
                           .owl-carousel.owl-carousel-table-slider
                              img(src='./images/table-preview1.png', alt='room type image')
                           .counter
                           span.info-label.orange.hidden Only 4 rooms left!
                        .room-type_info-name
                           span Superior Single Room
                        .room-type_info-size
                           span 161 square feet
                        .room-type_info-special
                           ul
                              li 1 Double Bed or 2 Twin Beds
                              li Room sleeps 2 guests
                        .room-type_info-facilities
                           ul
                              li
                                 i.blue-text.icon-wifi
                                 |  Free Wi-Fi
                              li
                                 i.blue-text.icon-television
                                 |  TV
                        .room-type_info-button
                           a.book-btn.show-popup(href='javascript:void(0)') Show room information
                           a.more-btn.show-popup(href='javascript:void(0)') More Details
                        .room-type_info-price
                           span $1 120
                  tr
                     td.right-part_info
                        table
                           tbody
                              tr.variant.variant1.best-variant.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.non
                                                   span Non-refundable
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $160/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 120
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant2.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.free
                                                   span FREE Cancellation
                                                .conditions_date
                                                   span Until July 9th, 2017
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $180/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 260
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
                              tr.variant.variant3.closed
                                 td
                                    table
                                       tbody
                                          tr
                                             td.conditions
                                                .conditions_refund.free
                                                   span FREE Cancellation
                                                .conditions_date
                                                   span Until July 9th, 2017
                                                .conditions_facilities
                                                   ul
                                                      li.green-text
                                                         i.icon-wifi
                                                         |  Free Wi-Fi
                                                      li.green-text
                                                         i.icon-cup-of-hot-chocolate
                                                         |  Breakfast Included
                                                      li.green-text
                                                         i.icon-checked
                                                         |  Reserve now, pay later
                                                .conditions_trivago.no
                                                   img(src='./images/trivago-logo.png', alt='trivago')
                                                .conditions-open-close-btn
                                                   a(href='javascript:void(0)')
                                                      i.fa.fa-angle-down(aria-hidden='true')
                                                      i.fa.fa-angle-up(aria-hidden='true')
                                          tr
                                             td.more-info-wrapper
                                                table
                                                   tbody
                                                      tr
                                                         td.per-night
                                                            .per-night_text
                                                               span Per night
                                                         td.per-night
                                                            .per-night_price
                                                               span $190/Night
                                                      tr
                                                         td.total-price
                                                            .total-price_text
                                                               span Total price
                                                            .total-price_range
                                                               span For 7 Days
                                                         td.total-price
                                                            .total-price_price
                                                               span $1 330
                                          tr
                                             td.book-column
                                                .book-column_button
                                                   a.book-btn(href='javascript:void(0)') Let's Book
