.booking-table
   span.search-filter-block
      span.input-group.input-group-white.date-group
         span.input-group-addon
            i.fa.fa-calendar
         span.form-control.datepicker-input
            span.date May, 6th
            span.day Saturday
         span.form-control.datepicker-output
            span.date Jun, 14th
            span.day Wednesday
      span.input-group.input-group-white.people-count
         span.input-group-addon
            i.fa.fa-sliders(aria-hidden='true')
         a#peopleCount.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.block
               span.value#rooms 1
               span.col-form-label Rooms
            span.block
               span.value#adults 1
               span.col-form-label Adults
            span.block
               span.value#children 0
               span.col-form-label Children
         span.down-arrow
            i.fa.fa-caret-down(aria-hidden='true')
         span.dropdown-menu.book-menu(aria-labelledby='peopleCount')
            label.col-form-label.mt-20(for='quant[1]') Rooms
            span.input-group.mt-10
               span.input-group-btn
                  button.btn.btn-info.btn-number(type='button', data-type='minus', data-field='quant[1]')
                     | -
               input.form-control.input-number(type='number', id='quant[1]', name='quant[1]', value='1', min='1', max='99', data-id='rooms')
               span.input-group-btn
                  button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[1]')
                     | +
            label.col-form-label.mt-20(for='quant[2]') Adults
            span.input-group.mt-10
               span.input-group-btn
                  button.btn.btn-info.btn-number(type='button', data-type='minus', data-field='quant[2]')
                     | -
               input.form-control.input-number(type='number', id='quant[2]', name='quant[2]', value='1', min='1', max='99', data-id='adults')
               span.input-group-btn
                  button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[2]')
                     | +
            label.col-form-label.mt-20(for='quant[2]') Children
            span.input-group.mt-10
               span.input-group-btn
                  button.btn.btn-info.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant[3]')
                     | -
               input.form-control.input-number(type='number', id='quant[3]', name='quant[3]', value='0', min='0', max='99', data-id='children')
               span.input-group-btn
                  button.btn.btn-warning.btn-number(type='button', data-type='plus', data-field='quant[3]')
                     | +
      span.input-group.currency.hidden-xs
         select#sel2.selectpicker.currency-menu
            option (USD) $
            option (EUR) &euro;
            option (GBP) &pound;
            option (AED) Dh
            option (AFN) ؋
            option (ALL) Lek
            option (DZD) DA
            option (ARS) $
            option (AUD) $
            option (BSD) $
            option (BDT) Tk
            option (BBD) $
            option (BMD) $
   .loading-search-cover.showing
      .loading-search