.hotel-information
	.hotel-information_title
		span Hotel information
		.onoffswitch-hotel-info.pull-right.hidden-xs
			input#myonoffswitch3.myonoffswitch.onoffswitch-checkbox(type='checkbox', name='onoffswitch2', checked='checked')
			label.onoffswitch-label(for='myonoffswitch3')
				span.onoffswitch-inner
				span.onoffswitch-switch
	include hotel-information_block