.hotel-facilities
	.hotel-facilities_title
		span Hotel Facilities
	.hotel-facilities_block
		.row
			.col-md-3
				.hotel-facilities_block-item
					h3 Internet
					ul
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Wi-Fi
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| DSL Cable
				.hotel-facilities_block-item
					h3 Bathroom
					ul
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Linens
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Towels
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Toilet
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Free toiletries
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Hairdryer
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Shower
				.hotel-facilities_block-item
					h3 Front Desk Services
					ul
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Concierge Service
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| ATM On Site
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Baggage Storage
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Currency Exchange
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Express Check-in/Check-out
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| 24-Hour Front Desk
			.col-md-3
				.hotel-facilities_block-item
					h3 General
					ul
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Facilities for Disabled Guests
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Non-Smoking Rooms
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Air Conditioning
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Wake-up service
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Safe
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Elevator
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| VIP Room Facilities
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Family Rooms
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Facilities for Disabled Guests
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Ironing facilities
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Airport Shuttle
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Non-Smoking Rooms
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Iron
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Newspapers
				.hotel-facilities_block-item
					h3 Business Facilities
					ul
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Fax/Photocopying
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Meeting/Banquet Facilities
			.col-md-3
				.hotel-facilities_block-item
					h3 Media & Technology
					ul
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Flat-screen TV
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Cable channels
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Satellite channels
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Radio
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Telephone
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| TV
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Pay-per-view channels
				.hotel-facilities_block-item
					h3 Cleaning Services
					ul
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Daily Housekeeping
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Suit Press
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Shoeshine
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Ironing Service
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Dry Cleaning
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Laundry
			.col-md-3
				.hotel-facilities_block-item
					h3 Food & Drink
					ul
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Kids' Meals
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Special Diet Meals (upon request)
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Restaurant With Dining Menu
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Breakfast in the Room
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Bar
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Restaurant
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Minibar
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Good Coffee!
				.hotel-facilities_block-item
					h3 Pool & Spa
					ul
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Turkish/Steam Bath
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Massage
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Spa
						li
							i.fa.fa-check-circle-o(aria-hidden='true')
							| Fitness Center