.container-fluid.white.pl-xs-0.pr-xs-0.pos-rel.hotel-info-wrapper
	.loading-title-cover
		.loading-title
	.container.pl-xs-0.pr-xs-0.overflow-hidden-sm
		.row
			.col-md-12.pl-xs-15.pr-xs-15.pl-md-0.pr-md-0.pl-0.pr-0
				.hotel-info
					.block-wrapper
						.top-wrapper.clearfix
							//.left-block.top-block
							//	h2.title.long
							//		a(href='javascript:void(0)') Holiday Inn Express Hotel Suites Las Vegas I-215 S. Beltway
							//	ul.stars.stars-hotel(data-stars='4.47')
							//		li
							//			i.fa.fa-star(aria-hidden='true')
							//		li
							//			i.fa.fa-star(aria-hidden='true')
							//		li
							//			i.fa.fa-star(aria-hidden='true')
							//		li
							//			i.fa.fa-star(aria-hidden='true')
							//		li.hidden
							//			i.fa.fa-star(aria-hidden='true')
							//		li
							//			i.fa.fa-star-half(aria-hidden='true')
							//	.trip
							//		.rate(data-rate='4.54')
							//			img.rate-image(src='./images/icons/rate/4.5.svg', alt='rate')
							//	a.reviews(href='javascript:void(0)') 142 Reviews
							//.left-block.bottom-block
							//	.address.hidden-xs
							//		span 6220 S. Rainbow Boulevard, Las Vegas Nevada, Nv , United States
							//	.show-street-view.hidden-xs
							//		i.fa.fa-search(aria-hidden='true')
							//		a(href='javascript:void(0)') Show street view
							//	.labels
							//		span.info-label.green Best Price Guaranteed
							//		span.info-label.red Only 3 rooms left!
							.left-block
								ul.breadcrumbs
									li
										a(href='javascript:void(0)') Europe
									li
										a(href='javascript:void(0)') United Kingdom(UK)
									li
										a(href='javascript:void(0)') England
									li
										a(href='javascript:void(0)') London
									li
										a(href='javascript:void(0)') London Hotels
								.title
									span Park Grand London Lancaster Gate
									ul.stars.stars-hotel(data-stars='4.47')
										li
											i.fa.fa-star(aria-hidden='true')
										li
											i.fa.fa-star(aria-hidden='true')
										li
											i.fa.fa-star(aria-hidden='true')
										li
											i.fa.fa-star(aria-hidden='true')
										li.hidden
											i.fa.fa-star(aria-hidden='true')
										li
											i.fa.fa-star-half(aria-hidden='true')
								.trip
									.rate(data-rate='4.54')
										img.rate-image(src='./images/icons/rate/4.5.svg', alt='rate')
								.reviews 142 Reviews
								.address
									i.fa.fa-search(aria-hidden='true')
									span 19 Leinster Gardens, London, W2 3AN  -
									|
									|
									a(href='javascript:void(0)') View on map
							.right-block.middle-block
								- if ( page.name == 'landing' ) {
									a.book-btn(href='./details-item.html') Book Now
								- } else {
									a.book-btn.book-now(href='./payment.html') Book Now
								- }
								span.price
									| $468
									span.regular-text /Day
								span.red-price $520
								span.best-price
									span.icon-label
									span.text Best Price Guaranteed
