.container-fluid.white.pl-xs-0.pr-xs-0.pos-rel.hotel-info-wrapper
	.container.pl-xs-0.pr-xs-0
		.row
			.col-md-12.pl-xs-0.pr-xs-0.pl-md-0.pr-md-0.pl-0.pr-0
				.hotel-info
					.loading-title-cover
						.loading-title
					.block-wrapper
						.top-wrapper.clearfix
							.left-block.top-block
								h2.title.long
									a(href='javascript:void(0)') Holiday Inn Express Hotel Suites Las Vegas I-215 S. Beltway
								ul.stars.stars-hotel(data-stars='4.47')
									li
										i.fa.orange-text.fa-star(aria-hidden='true')
									li
										i.fa.orange-text.fa-star(aria-hidden='true')
									li
										i.fa.orange-text.fa-star(aria-hidden='true')
									li
										i.fa.orange-text.fa-star(aria-hidden='true')
									li.hidden
										i.fa.orange-text.fa-star(aria-hidden='true')
									li
										i.fa.orange-text.fa-star-half(aria-hidden='true')
								.trip
									.rate(data-rate='4.54')
										img.rate-image(src='./images/icons/rate/4.5.svg')
								a.reviews(href='javascript:void(0)') 142 Reviews
							.left-block.bottom-block
								.address
									span 6220 S. Rainbow Boulevard, Las Vegas Nevada, Nv , United States
								.show-street-view
									i.fa.fa-search(aria-hidden='true')
									a(href='javascript:void(0)') Show street view
								.labels
									span.info-label.green Best Price Guaranteed
									span.info-label.red Only 3 rooms left!
							.right-block.middle-block
								span.price
									| $468
									span.regular-text /Day
								span.red-price $520
								a.book-btn(href='javascript:void(0)') Book Offsite