.container-fluid.pl-xs-0.pr-xs-0.pos-rel.information-block(style=page.name === 'landing' ? 'background-image: url("../images/hotel-background.png")' : 'background-image: url("../images/hotel-background2.png")')
	.information-map
		.container.pl-xs-0.pr-xs-0
			.row
				.col-md-5
					a.close-map(href='javascript:void(0)')
						img(src='./images/icons/left-arrow.svg', alt='arrow left')
						span.text Back
		#map
	.container.pl-xs-0.pr-xs-0
		.row
			.col-md-5.same-height
				.items-wrapper
					.map-block
						.favorites
							a.add-favorites(href='javascript:void(0)')
								span.wrapper
									img(src='./images/icons/heart.svg', alt='heart')
									span.text Favorites
						.map
							a.open-map(href='javascript:void(0)')
								i.fa.fa-search(aria-hidden='true')
								span.text Enlarge map
					.title-block
						- if ( page.name === 'landing' ) {
							h2.title Park Grand London Lancaster Gate
						- } else {
							h2.title Radisson Blu Resort
						- }

			.col-md-7.same-height
				.stat-block
					.row
						.col-md-7
							.circle
								.c100.p86
									- if ( page.name === 'landing' ) {
										span 8.6
									- } else {
										span 7.3
									- }
									.slice
										.bar
										.fill
								.stats
									.rating
										- if ( page.name === 'landing' ) {
										span Excellent
										- } else {
										span Good
										- }
									.reviews
										span Based on 191 reviews
						.col-md-5
							ul.rating-bars
								- if ( page.name === 'landing' ) {
									li.bar-line Cleanliness
										span.line
										span.bar(style='width: 90%')
									li.bar-line Facilities
										span.line
										span.bar(style='width: 77%')
									li.bar-line Service
										span.line
										span.bar(style='width: 94%')
									li.bar-line Room comfort and quality
										span.line
										span.bar(style='width: 75%')
								- } else {
									li.bar-line Cleanliness
										span.line
										span.bar(style='width: 24%')
									li.bar-line Facilities
										span.line
										span.bar(style='width: 67%')
									li.bar-line Service
										span.line
										span.bar(style='width: 94%')
									li.bar-line Room comfort and quality
										span.line
										span.bar(style='width: 85%')
								- }
				.slider-block
					.owl-carousel.owl-carousel-gallery.photoswipe-block(itemscope, itemtype="http://schema.org/ImageGallery")
						- for(var i = 1; i < 6; i++)
							figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
								a(href='images/hotel-image' + i + '.jpg', itemprop='contentUrl', data-size='1086x908')
									img(src='images/hotel-image' + i + '.jpg', alt='Alt ' + i)

					.all-photos
						a(href='javascript:void(0)') All Photos (250)