.panel.panel-default.panel-second.placeholder-room-info
   .panel-body.payment-booking-details
      .placeholder-item
      .placeholder-item
      br
      .placeholder-item
      .placeholder-item
      br
      .placeholder-item
      .placeholder-item
      .placeholder-item.w-30.pull-right