
<div class="grid mt-10">
  <div class="grid-item"><span class="ribbon top">Top Deal</span>
    <div class="preview">
      <div class="image" style="background-image: url('images/room1.png');"></div>
    </div>
    <div class="warning orange">Only 3 rooms left!</div>
    <div class="block-wrapper">
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title">Joint Base</h2>
          <ul class="stars stars-hotel" data-stars="4.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="price">$311<span class="regular-text">/day</span></p>
          <p class="red-price">$520</p>
          <p class="warning-list">Only<span class="orange-text"> 3</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block">
          <div class="number"><img src="images/icons/5.svg" width="25"></div>
          <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="javascript:void(0)"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>5</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
          <li><i class="fa fa-car" aria-hidden="true"></i></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li>
          <li><i class="fa fa-television" aria-hidden="true"></i></li>
          <li><i class="fa fa-shower" aria-hidden="true"></i></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>5</div>
        <p class="booked pull-right visible-xs">Booked<span> 30</span> Times Today</p>
      </div>
    </div>
  </div>
  <div class="grid-item"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview">
      <div class="image" style="background-image: url('images/room2.png');"></div>
    </div>
    <div class="warning red hidden">Only 3 rooms left!</div>
    <div class="block-wrapper">
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title">London Hilton Hotel</h2>
          <ul class="stars stars-hotel" data-stars="4.23">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.1"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="price">$200<span class="regular-text">/day</span></p>
          <p class="red-price hidden">$520</p>
          <p class="warning-list hidden">Only<span class="orange-text"> 3</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block">
          <div class="number"><img src="images/icons/5.svg" width="25"></div>
          <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div>
          <div class="trip">
            <div class="rate" data-rate="4.1"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="javascript:void(0)"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>255</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
          <li><i class="fa fa-car" aria-hidden="true"></i></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li>
          <li><i class="fa fa-television" aria-hidden="true"></i></li>
          <li><i class="fa fa-shower" aria-hidden="true"></i></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>255</div>
        <p class="booked pull-right">Booked<span> 17</span> Times Today</p>
      </div>
    </div>
  </div>
  <div class="grid-item"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview">
      <div class="image" style="background-image: url('images/room3.png');"></div>
    </div>
    <div class="warning green">Only 6 rooms left!</div>
    <div class="block-wrapper">
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title">Radisson Blu Resort</h2>
          <ul class="stars stars-hotel" data-stars="3.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="3.48"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="price">$177<span class="regular-text">/day</span></p>
          <p class="red-price hidden">$520</p>
          <p class="warning-list">Only<span class="green-text"> 6</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block">
          <div class="number"><img src="images/icons/5.svg" width="25"></div>
          <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div>
          <div class="trip">
            <div class="rate" data-rate="3.48"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="javascript:void(0)"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>8</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
          <li><i class="fa fa-car" aria-hidden="true"></i></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li>
          <li><i class="fa fa-television" aria-hidden="true"></i></li>
          <li><i class="fa fa-shower" aria-hidden="true"></i></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>8</div>
        <p class="booked pull-right">Booked<span> 24</span> Times Today</p>
      </div>
    </div>
  </div>
  <div class="grid-item"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview">
      <div class="image" style="background-image: url('images/room4.png');"></div>
    </div>
    <div class="warning red">Only 1 room left!</div>
    <div class="block-wrapper">
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title">Soho, Soma-Bay Resort</h2>
          <ul class="stars">
            <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.9"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="price">$500<span class="regular-text">/day</span></p>
          <p class="red-price">$520</p>
          <p class="warning-list">Only<span class="red-text"> 1</span> room left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block">
          <div class="number"><img src="images/icons/5.svg" width="25"></div>
          <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div>
          <div class="trip">
            <div class="rate" data-rate="4.9"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="javascript:void(0)"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>25 688</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
          <li><i class="fa fa-car" aria-hidden="true"></i></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li>
          <li><i class="fa fa-television" aria-hidden="true"></i></li>
          <li><i class="fa fa-shower" aria-hidden="true"></i></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>25 688</div>
        <p class="booked pull-right">Booked<span> 41</span> Times Today</p>
      </div>
    </div>
  </div>
</div>
<div class="row exclusive pl-5 pr-5">
  <h3>UP TO 80%</h3>
  <h4 class="pl-xs-15 pr-xs-15">Exclusive Cancelon deals around these dates</h4>
  <div class="col-md-6 btrans pl-0 pr-0 white">
    <div class="col-md-12 pl-0 pr-0 mt-15 mb-15">
      <div class="trip">
        <div class="rate" data-rate="4.91"></div>
      </div><a class="reviews" href="javascript:void(0)">142 Reviews</a><span class="top">Top Deal</span>
      <p class="small-text font-weight-600 pull-right ml-10 font-roboto mb-0 top-2 mr-25 date">Apr 04 - 07</p>
    </div><img class="img-responsive" src="images/room4.png" alt="" srcset="images/room4.png 1x, images/room4@2x.png 2x, images/room4@3x.png 3x">
    <div class="col-md-9 col-sm-9 col-xs-9 mt-10 left-block">
      <h5>St Martins Lane London</h5>
      <ul class="stars stars-hotel mb-5" data-stars="4.91">
        <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
      </ul>
      <p class="small-text font-weight-500 font-roboto mb-5">Amsterdam Schiphol, Netherlands</p>
      <p class="small-text font-weight-400 font-roboto mb-5"><i class="fa fa-map-pin" aria-hidden="true"></i> 485 Clawson St, Staten Island, NY 10306</p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 mt-10 pl-0 pr-15 right-block"><img class="pull-right heart" src="images/icons/heart.svg" width="50" alt="">
      <p class="price">$500/<span class="regular-text">Day</span></p>
      <p class="price-red">$780/<span class="regular-text">Day</span></p>
    </div>
    <div class="col-md-12 col-sm-12 mt-30 mt-sm-10">
      <p class="cancelon"><i class="fa fa-star" aria-hidden="true"></i> Cancelon Exclusive</p><a class="orange-view" href="javascript:void(0)">VIEW</a>
    </div>
  </div>
  <div class="col-md-6 btrans pl-0 pr-0 white">
    <div class="col-md-12 pl-0 pr-0 mt-15 mb-15">
      <div class="trip">
        <div class="rate" data-rate="4.93"></div>
      </div><a class="reviews" href="javascript:void(0)">142 Reviews</a><span class="top">Top Deal</span>
      <p class="small-text font-weight-600 pull-right ml-10 font-roboto mb-0 top-2 mr-25 date">Apr 04 - 07</p>
    </div><img class="img-responsive" src="images/room4.png" alt="" srcset="images/room4.png 1x, images/room4@2x.png 2x, images/room4@3x.png 3x">
    <div class="col-md-9 col-sm-9 col-xs-9 mt-10 left-block">
      <h5>Soho, Soma-Bay Resort</h5>
      <ul class="stars stars-hotel mb-5" data-stars="4.87">
        <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
      </ul>
      <p class="small-text font-weight-500 font-roboto mb-5">Amsterdam Schiphol, Netherlands</p>
      <p class="small-text font-weight-400 font-roboto mb-5"><i class="fa fa-map-pin" aria-hidden="true"></i> 485 Clawson St, Staten Island, NY 10306</p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 mt-10 pl-0 pr-15 right-block"><img class="pull-right heart" src="images/icons/heart.svg" width="50" alt="">
      <p class="price">$500/<span class="regular-text">Day</span></p>
      <p class="price-red">$780/<span class="regular-text">Day</span></p>
    </div>
    <div class="col-md-12 col-sm-12 mt-30 mt-sm-10">
      <p class="cancelon"><i class="fa fa-star" aria-hidden="true"></i> Cancelon Exclusive</p><a class="orange-view" href="javascript:void(0)">VIEW</a>
    </div>
  </div>
</div>