
<div class="grid mt-10">
  <div class="grid-item"><span class="top">Top Deal</span><img class="img-responsive" src="images/room1.png" alt="" srcset="images/room1.png 1x, images/room1@2x.png 2x, images/room1@3x.png 3x">
    <div class="warning red">Only 3 rooms left!</div>
    <div class="col-md-9 mt-10">
      <h2>Joint Base</h2>
      <ul class="stars">
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="col-md-3 pl-0 mt-10">
      <p class="price">$311<span class="regular-text">/day</span></p>
      <p class="red-price">$520</p>
    </div>
    <div class="col-md-12">
      <p class="small-text font-weight-500">485 Clawson St, Staten Island, NY 10306</p>
    </div>
    <div class="divider col-md-12 mb-10"></div>
    <div class="pl-15 pull-left number"><img src="images/icons/5.svg"></div>
    <div class="col-md-10 pr-0">
      <p class="small-text font-weight-500"><span class="distance-blue">1.98 km.</span> to the centre of Central Park</p>
    </div>
    <div class="pull-left w-100">
      <div class="grid-rate">
        <div class="trip"><img src="images/icons/tripavisor.svg"></div>
        <ul class="reviews">
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        </ul><a class="extra-small" href="javascript:void(0)">142 Reviews</a>
      </div>
      <div class="views-wrapper pr-15 mt-10"><a class="views" href="javascript:void(0)">View</a><span class="count"><i class="fa fa-eye" aria-hidden="true"></i>5</span></div>
    </div>
    <div class="divider col-md-12 mb-10 mt-10"></div>
    <div class="col-md-12">
      <ul class="features">
        <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
        <li><i class="fa fa-car" aria-hidden="true"></i></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
        <li><i class="fa fa-television" aria-hidden="true"></i></li>
        <li><i class="fa fa-shower" aria-hidden="true"></i></li>
      </ul>
      <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
    </div>
  </div>
  <div class="grid-item"><img class="img-responsive" src="images/room2.png" alt="" srcset="images/room2.png 1x, images/room2@2x.png 2x, images/room2@3x.png 3x">
    <div class="col-md-9 mt-10">
      <h2>London Hilton Hotel</h2>
      <ul class="stars">
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="col-md-3 pl-0 mt-10">
      <p class="price">$200<span class="regular-text">/day</span></p>
    </div>
    <div class="col-md-12">
      <p class="small-text font-weight-500">485 Clawson St, Staten Island, NY 10306</p>
    </div>
    <div class="divider col-md-12 mb-10"></div>
    <div class="pl-15 pull-left number"><img src="images/icons/5.svg"></div>
    <div class="col-md-10 pr-0">
      <p class="small-text font-weight-500"><span class="distance-blue">1.98 km.</span> to the centre of Central Park</p>
    </div>
    <div class="pull-left w-100">
      <div class="grid-rate">
        <div class="trip"><img src="images/icons/tripavisor.svg"></div>
        <ul class="reviews">
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        </ul><a class="extra-small" href="javascript:void(0)">142 Reviews</a>
      </div>
      <div class="views-wrapper pr-15 mt-10"><a class="views" href="javascript:void(0)">View</a><span class="count"><i class="fa fa-eye" aria-hidden="true"></i>255</span></div>
    </div>
    <div class="divider col-md-12 mb-10 mt-10"></div>
    <div class="col-md-12">
      <ul class="features">
        <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
        <li><i class="fa fa-car" aria-hidden="true"></i></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
        <li><i class="fa fa-television" aria-hidden="true"></i></li>
        <li><i class="fa fa-shower" aria-hidden="true"></i></li>
      </ul>
      <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
    </div>
  </div>
  <div class="grid-item"><img class="img-responsive" src="images/room3.png" alt="" srcset="images/room3.png 1x, images/room3@2x.png 2x, images/room3@3x.png 3x">
    <div class="warning orange">Only 5 rooms left!</div>
    <div class="col-md-9 mt-10">
      <h2>Radisson Blu Resort</h2>
      <ul class="stars">
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="col-md-3 pl-0 mt-10">
      <p class="price">$177<span class="regular-text">/day</span></p>
    </div>
    <div class="col-md-12">
      <p class="small-text font-weight-500">485 Clawson St, Staten Island, NY 10306</p>
    </div>
    <div class="divider col-md-12 mb-10"></div>
    <div class="pl-15 pull-left number"><img src="images/icons/5.svg"></div>
    <div class="col-md-10 pr-0">
      <p class="small-text font-weight-500"><span class="distance-blue">1.98 km.</span> to the centre of Central Park</p>
    </div>
    <div class="pull-left w-100">
      <div class="grid-rate">
        <div class="trip"><img src="images/icons/tripavisor.svg"></div>
        <ul class="reviews">
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        </ul><a class="extra-small" href="javascript:void(0)">142 Reviews</a>
      </div>
      <div class="views-wrapper pr-15 mt-10"><a class="views" href="javascript:void(0)">View</a><span class="count"><i class="fa fa-eye" aria-hidden="true"></i>8</span></div>
    </div>
    <div class="divider col-md-12 mb-10 mt-10"></div>
    <div class="col-md-12">
      <ul class="features">
        <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
        <li><i class="fa fa-car" aria-hidden="true"></i></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
        <li><i class="fa fa-television" aria-hidden="true"></i></li>
        <li><i class="fa fa-shower" aria-hidden="true"></i></li>
      </ul>
      <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
    </div>
  </div>
  <div class="grid-item"><img class="img-responsive" src="images/room4.png" alt="" srcset="images/room4.png 1x, images/room4@2x.png 2x, images/room4@3x.png 3x">
    <div class="warning green">Only 6 rooms left!</div>
    <div class="col-md-9 mt-10">
      <h2>Soho, Soma-Bay Resort</h2>
      <ul class="stars">
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="col-md-3 pl-0 mt-10">
      <p class="price">$500<span class="regular-text">/day</span></p>
      <p class="red-price">$520</p>
    </div>
    <div class="col-md-12">
      <p class="small-text font-weight-500">485 Clawson St, Staten Island, NY 10306</p>
    </div>
    <div class="divider col-md-12 mb-10"></div>
    <div class="pl-15 pull-left number"><img src="images/icons/5.svg"></div>
    <div class="col-md-10 pr-0">
      <p class="small-text font-weight-500"><span class="distance-blue">1.98 km.</span> to the centre of Central Park</p>
    </div>
    <div class="pull-left w-100">
      <div class="grid-rate">
        <div class="trip"><img src="images/icons/tripavisor.svg"></div>
        <ul class="reviews">
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
          <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        </ul><a class="extra-small" href="javascript:void(0)">142 Reviews</a>
      </div>
      <div class="views-wrapper pr-15 mt-10"><a class="views" href="javascript:void(0)">View</a><span class="count"><i class="fa fa-eye" aria-hidden="true"></i>127</span></div>
    </div>
    <div class="divider col-md-12 mb-10 mt-10"></div>
    <div class="col-md-12">
      <ul class="features">
        <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
        <li><i class="fa fa-car" aria-hidden="true"></i></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
        <li><i class="fa fa-television" aria-hidden="true"></i></li>
        <li><i class="fa fa-shower" aria-hidden="true"></i></li>
      </ul>
      <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
    </div>
  </div>
</div>
<div class="list mt-10">
  <div class="list-item"><img class="img-responsive col-md-3 pl-0 pr-0" src="images/room-list.png" alt="" srcset="images/room-list.png 1x, images/room-list@2x.png 2x, images/room-list@3x.png 3x">
    <div class="col-md-6 mt-10">
      <h1>Joint Base</h1>
      <ul class="stars">
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><img class="ml-10 mr-10" width="25" src="images/icons/tripavisor.svg"></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><a class="extra-small ml-5 text-underline" href="javascript:void(0)">142 Reviews</a></li>
      </ul>
      <p class="font-weight-500">485 Clawson St, Staten Island, NY 10306</p>
      <div class="pull-left pl-0 pr-0"><img class="img-responsive" width="25" src="images/icons/5.svg"></div>
      <div class="col-md-10 pl-5 pr-0 top-3">
        <p class="regular-text font-weight-500"><span class="distance-blue">1.98 km.</span> to the centre of Central Park</p>
      </div>
      <ul class="features">
        <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
        <li><i class="fa fa-car" aria-hidden="true"></i></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
        <li><i class="fa fa-television" aria-hidden="true"></i></li>
        <li><i class="fa fa-shower" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="col-md-3 mt-10 pl-0 pr-10">
      <p class="price pull-right">$468<span class="regular-text">/day</span></p>
      <p class="red-price pull-right">$520</p>
      <p class="pull-right w-100 text-right font-weight-600 mb-5">Only<span class="orange-text"> 3</span> rooms left!</p>
      <div class="clearfix"></div><a class="views" href="javascript:void(0)">View</a>
      <p class="small-text font-weight-400 pull-right mt-5 w-100 text-right mb-0">Booked<span class="font-weight-600"> 30</span> Times Today</p>
      <p class="small-text font-weight-400 pull-right mt-5 text-right mb-0"><span class="font-weight-600">5</span> People Looking Right Now</p>
    </div>
  </div>
  <div class="list-item"><img class="img-responsive col-md-3 pl-0 pr-0" src="images/room-list.png" alt="" srcset="images/room-list.png 1x, images/room-list@2x.png 2x, images/room-list@3x.png 3x">
    <div class="col-md-6 mt-10">
      <h1>London Hilton Hotel</h1>
      <ul class="stars">
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><img class="ml-10 mr-10" width="25" src="images/icons/tripavisor.svg"></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><a class="extra-small ml-5 text-underline" href="javascript:void(0)">142 Reviews</a></li>
      </ul>
      <p class="font-weight-500">485 Clawson St, Staten Island, NY 10306</p>
      <div class="pull-left pl-0 pr-0"><img class="img-responsive" width="25" src="images/icons/5.svg"></div>
      <div class="col-md-10 pl-5 pr-0 top-3">
        <p class="regular-text font-weight-500"><span class="distance-blue">1.98 km.</span> to the centre of Central Park</p>
      </div>
      <ul class="features">
        <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
        <li><i class="fa fa-car" aria-hidden="true"></i></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
        <li><i class="fa fa-television" aria-hidden="true"></i></li>
        <li><i class="fa fa-shower" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="col-md-3 mt-10 pl-0 pr-10">
      <p class="price pull-right">$300<span class="regular-text">/day</span></p>
      <div class="clearfix"></div><a class="views" href="javascript:void(0)">View</a>
      <p class="small-text font-weight-400 pull-right mt-5 w-100 text-right mb-0">Booked<span class="font-weight-600"> 30</span> Times Today</p>
      <p class="small-text font-weight-400 pull-right mt-5 text-right mb-0"><span class="font-weight-600">5</span> People Looking Right Now</p>
    </div>
  </div>
  <div class="list-item"><img class="img-responsive col-md-3 pl-0 pr-0" src="images/room-list.png" alt="" srcset="images/room-list.png 1x, images/room-list@2x.png 2x, images/room-list@3x.png 3x">
    <div class="col-md-6 mt-10">
      <h1>Joint Base</h1>
      <ul class="stars">
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><img class="ml-10 mr-10" width="25" src="images/icons/tripavisor.svg"></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><a class="extra-small ml-5 text-underline" href="javascript:void(0)">142 Reviews</a></li>
      </ul>
      <p class="font-weight-500">485 Clawson St, Staten Island, NY 10306</p>
      <div class="pull-left pl-0 pr-0"><img class="img-responsive" width="25" src="images/icons/5.svg"></div>
      <div class="col-md-10 pl-5 pr-0 top-3">
        <p class="regular-text font-weight-500"><span class="distance-blue">1.98 km.</span> to the centre of Central Park</p>
      </div>
      <ul class="features">
        <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
        <li><i class="fa fa-car" aria-hidden="true"></i></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
        <li><i class="fa fa-television" aria-hidden="true"></i></li>
        <li><i class="fa fa-shower" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="col-md-3 mt-10 pl-0 pr-10">
      <p class="price pull-right">$211<span class="regular-text">/day</span></p>
      <div class="clearfix"></div><a class="views" href="javascript:void(0)">View</a>
      <p class="small-text font-weight-400 pull-right mt-5 w-100 text-right mb-0">Booked<span class="font-weight-600"> 30</span> Times Today</p>
      <p class="small-text font-weight-400 pull-right mt-5 text-right mb-0"><span class="font-weight-600">5</span> People Looking Right Now</p>
    </div>
  </div>
  <div class="list-item"><img class="img-responsive col-md-3 pl-0 pr-0" src="images/room-list.png" alt="" srcset="images/room-list.png 1x, images/room-list@2x.png 2x, images/room-list@3x.png 3x">
    <div class="col-md-6 mt-10">
      <h1>Joint Base</h1>
      <ul class="stars">
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><img class="ml-10 mr-10" width="25" src="images/icons/tripavisor.svg"></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><a class="extra-small ml-5 text-underline" href="javascript:void(0)">142 Reviews</a></li>
      </ul>
      <p class="font-weight-500">485 Clawson St, Staten Island, NY 10306</p>
      <div class="pull-left pl-0 pr-0"><img class="img-responsive" width="25" src="images/icons/5.svg"></div>
      <div class="col-md-10 pl-5 pr-0 top-3">
        <p class="regular-text font-weight-500"><span class="distance-blue">1.98 km.</span> to the centre of Central Park</p>
      </div>
      <ul class="features">
        <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
        <li><i class="fa fa-car" aria-hidden="true"></i></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i></li>
        <li><i class="fa fa-television" aria-hidden="true"></i></li>
        <li><i class="fa fa-shower" aria-hidden="true"></i></li>
      </ul>
    </div>
    <div class="col-md-3 mt-10 pl-0 pr-10">
      <p class="price pull-right">$90<span class="regular-text">/day</span></p>
      <p class="red-price pull-right">$120</p>
      <p class="pull-right w-100 text-right font-weight-600 mb-5">Only<span class="red-text"> 1</span> room left!</p>
      <div class="clearfix"></div><a class="views" href="javascript:void(0)">View</a>
      <p class="small-text font-weight-400 pull-right mt-5 w-100 text-right mb-0">Booked<span class="font-weight-600"> 30</span> Times Today</p>
      <p class="small-text font-weight-400 pull-right mt-5 text-right mb-0"><span class="font-weight-600">5</span> People Looking Right Now</p>
    </div>
  </div>
</div>
<div class="row exclusive pl-5 pr-5">
  <h3>UP TO 80%</h3>
  <h4>Exclusive Cancelon deals around these dates</h4>
  <div class="col-md-6 btrans pl-0 pr-0 white">
    <div class="col-md-1 pl-5 pr-0 mt-15 mb-15"><img width="30" src="images/icons/tripavisor.svg"></div>
    <div class="col-md-11 pl-0 pr-0 mt-15">
      <ul class="reviews ml-10">
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
      </ul><a class="extra-small reviews-number font-roboto text-underline mt-5" href="javascript:void(0)">142 Reviews</a><span class="top">Top Deal</span>
      <p class="small-text font-weight-600 pull-right ml-10 font-roboto mb-0 top-2 mr-25 date">Apr 04 - 07</p>
    </div><img class="img-responsive" src="images/room4.png" alt="" srcset="images/room4.png 1x, images/room4@2x.png 2x, images/room4@3x.png 3x">
    <div class="col-md-9 mt-10">
      <h5>St Martins Lane London</h5>
      <ul class="stars mb-5">
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      </ul>
      <p class="small-text font-weight-500 font-roboto mb-5">Amsterdam Schiphol, Netherlands</p>
      <p class="small-text font-weight-400 font-roboto mb-5"><i class="fa fa-map-pin" aria-hidden="true"></i> 485 Clawson St, Staten Island, NY 10306</p>
    </div>
    <div class="col-md-3 mt-10 pl-0 pr-15"><img class="pull-right" src="images/icons/heart.svg" width="50" alt="">
      <p class="price">$500/<span class="regular-text">Day</span></p>
      <p class="price-red">$780/<span class="regular-text">Day</span></p>
    </div>
    <div class="col-md-12 mt-30">
      <p class="cancelon"><i class="fa fa-star" aria-hidden="true"></i> Cancelon Exclusive</p><a class="orange-view" href="javascript:void(0)">VIEW</a>
    </div>
  </div>
  <div class="col-md-6 btrans pl-0 pr-0 white">
    <div class="col-md-1 pl-5 pr-0 mt-15 mb-15"><img width="30" src="images/icons/tripavisor.svg"></div>
    <div class="col-md-11 pl-0 pr-0 mt-15">
      <ul class="reviews ml-10">
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
        <li><i class="fa green-text fa-dot-circle-o" aria-hidden="true"></i></li>
      </ul><a class="extra-small reviews-number font-roboto text-underline mt-5" href="javascript:void(0)">142 Reviews</a><span class="top">Top Deal</span>
      <p class="small-text font-weight-600 pull-right ml-10 font-roboto mb-0 top-2 mr-25 date">Apr 04 - 07</p>
    </div><img class="img-responsive" src="images/room4.png" alt="" srcset="images/room4.png 1x, images/room4@2x.png 2x, images/room4@3x.png 3x">
    <div class="col-md-9 mt-10">
      <h5>Soho, Soma-Bay Resort</h5>
      <ul class="stars mb-5">
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
        <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      </ul>
      <p class="small-text font-weight-500 font-roboto mb-5">Amsterdam Schiphol, Netherlands</p>
      <p class="small-text font-weight-400 font-roboto mb-5"><i class="fa fa-map-pin" aria-hidden="true"></i> 485 Clawson St, Staten Island, NY 10306</p>
    </div>
    <div class="col-md-3 mt-10 pl-0 pr-15"><img class="pull-right" src="images/icons/heart.svg" width="50" alt="">
      <p class="price">$500/<span class="regular-text">Day</span></p>
      <p class="price-red">$780/<span class="regular-text">Day</span></p>
    </div>
    <div class="col-md-12 mt-30">
      <p class="cancelon"><i class="fa fa-star" aria-hidden="true"></i> Cancelon Exclusive</p><a class="orange-view" href="javascript:void(0)">VIEW</a>
    </div>
  </div>
</div>