
<div class="grid mt-10 list-view">
  <div class="grid-item" data-aos="fade-up"><span class="ribbon top">Top Deal</span>
    <div class="preview"><a href="javascript:void(0)">
        <div class="image" style="background-image: url('images/room1.png');"></div></a></div>
    <div class="warning orange">Only 3 rooms left!</div>
    <div class="block-wrapper">
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="javascript:void(0)">Joint Base</a></h2>
          <ul class="stars stars-hotel" data-stars="4.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="price">$311<span class="regular-text">/day</span></p>
          <p class="red-price">$520</p>
          <p class="warning-list">Only<span class="orange-text"> 3</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block">
          <div class="number"><span>5</span></div>
          <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="javascript:void(0)"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>5</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>5</div>
        <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
        <p class="watching-now pull-right"><span>5</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
  <div class="grid-item" data-aos="fade-up"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview"><a href="javascript:void(0)">
        <div class="image" style="background-image: url('images/room2.png');"></div></a></div>
    <div class="warning red hidden">Only 3 rooms left!</div>
    <div class="block-wrapper">
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="javascript:void(0)">London Hilton Hotel</a></h2>
          <ul class="stars stars-hotel" data-stars="4.23">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.1"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="price">$200<span class="regular-text">/day</span></p>
          <p class="red-price hidden">$520</p>
          <p class="warning-list hidden">Only<span class="orange-text"> 3</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block">
          <div class="number"><span>5</span></div>
          <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div>
          <div class="trip">
            <div class="rate" data-rate="4.1"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="javascript:void(0)"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>255</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>255</div>
        <p class="booked pull-right">Booked<span> 17</span> Times Today</p>
        <p class="watching-now pull-right"><span>8</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
  <div class="grid-item" data-aos="fade-up"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview"><a href="javascript:void(0)">
        <div class="image" style="background-image: url('images/room3.png');"></div></a></div>
    <div class="warning green">Only 6 rooms left!</div>
    <div class="block-wrapper">
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="javascript:void(0)">Radisson Blu Resort</a></h2>
          <ul class="stars stars-hotel" data-stars="3.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="3.48"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="price">$177<span class="regular-text">/day</span></p>
          <p class="red-price hidden">$520</p>
          <p class="warning-list">Only<span class="green-text"> 6</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block">
          <div class="number"><span>5</span></div>
          <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div>
          <div class="trip">
            <div class="rate" data-rate="3.48"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="javascript:void(0)"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>8</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>8</div>
        <p class="booked pull-right">Booked<span> 24</span> Times Today</p>
        <p class="watching-now pull-right"><span>3</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
  <div class="grid-item show1200-1280" data-aos="fade-up"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview"><a href="javascript:void(0)">
        <div class="image" style="background-image: url('images/room4.png');"></div></a></div>
    <div class="warning red">Only 1 room left!</div>
    <div class="block-wrapper">
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="javascript:void(0)">Soho, Soma-Bay Resort</a></h2>
          <ul class="stars">
            <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.9"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="price">$500<span class="regular-text">/day</span></p>
          <p class="red-price">$520</p>
          <p class="warning-list">Only<span class="red-text"> 1</span> room left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block">
          <div class="number"><span>5</span></div>
          <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div>
          <div class="trip">
            <div class="rate" data-rate="4.9"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="javascript:void(0)"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>25 688</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>25 688</div>
        <p class="booked pull-right">Booked<span> 41</span> Times Today</p>
        <p class="watching-now pull-right"><span>9</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
  <div class="grid-item show1200-1280" data-aos="fade-up"><span class="ribbon top">Top Deal</span>
    <div class="preview"><a href="javascript:void(0)">
        <div class="image" style="background-image: url('images/room1.png');"></div></a></div>
    <div class="warning orange">Only 3 rooms left!</div>
    <div class="block-wrapper">
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="javascript:void(0)">Joint Base</a></h2>
          <ul class="stars stars-hotel" data-stars="4.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="price">$311<span class="regular-text">/day</span></p>
          <p class="red-price">$520</p>
          <p class="warning-list">Only<span class="orange-text"> 3</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block">
          <div class="number"><span>5</span></div>
          <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="javascript:void(0)"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>5</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>5</div>
        <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
        <p class="watching-now pull-right"><span>5</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
  <div class="grid-item" data-aos="fade-up"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview"><a href="javascript:void(0)">
        <div class="image" style="background-image: url('images/room2.png');"></div></a></div>
    <div class="warning red hidden">Only 3 rooms left!</div>
    <div class="block-wrapper">
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="javascript:void(0)">London Hilton Hotel</a></h2>
          <ul class="stars stars-hotel" data-stars="4.23">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.1"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="price">$200<span class="regular-text">/day</span></p>
          <p class="red-price hidden">$520</p>
          <p class="warning-list hidden">Only<span class="orange-text"> 3</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block">
          <div class="number"><span>5</span></div>
          <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div>
          <div class="trip">
            <div class="rate" data-rate="4.1"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="javascript:void(0)"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>255</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>255</div>
        <p class="booked pull-right">Booked<span> 17</span> Times Today</p>
        <p class="watching-now pull-right"><span>8</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
</div>