
<div class="grid list-view noplaceholder placeholder-show">
  <div class="grid-item" data-aos="fade-up"><span class="ribbon top">Top Deal</span>
    <div class="preview"><a href="/landing.html">
        <div class="image" style="background-image: url('images/room1.png');"></div></a></div>
    <div class="warning orange">Only 3 rooms left!</div>
    <div class="block-wrapper">
      <div class="price-line line clearfix"><span class="info-label green">Best Price Guaranteed</span><span class="price"><span class="red-price">$520</span>$468<span class="regular-text">/Day</span></span></div>
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title long"><a href="/landing.html">Mandapa, A Ritz-Carlton Resort</a></h2>
          <ul class="stars stars-hotel" data-stars="4.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="warning-list">Only<span class="orange-text"> 3</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block"><span class="colored-line">
            <div class="number"><span>5</span></div>
            <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div></span>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="/landing.html"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>5</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
          <li><a class="open-map-item more-items" href="javascript:void(0)">+10 items</a></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>5</div>
        <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
        <p class="watching-now pull-right"><span>5</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
  <div class="grid-item" data-aos="fade-up"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview"><a href="/landing.html">
        <div class="image" style="background-image: url('images/room2.png');"></div></a></div>
    <div class="warning green">Only 5 rooms left!</div>
    <div class="block-wrapper">
      <div class="price-line line clearfix"><span class="info-label hidden">Best Price Guaranteed</span><span class="price"><span class="red-price">$479</span>$412<span class="regular-text">/Day</span></span></div>
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="/landing.html">Radisson Blu Resort</a></h2>
          <ul class="stars stars-hotel" data-stars="4.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="warning-list">Only<span class="green-text"> 5</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block"><span class="colored-line">
            <div class="number"><span>5</span></div>
            <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div></span>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="/landing.html"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>5</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
          <li><a class="open-map-item more-items" href="/landing.html">+10 items</a></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>5</div>
        <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
        <p class="watching-now pull-right"><span>5</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
  <div class="grid-item" data-aos="fade-up"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview"><a href="/landing.html">
        <div class="image" style="background-image: url('images/room3.png');"></div></a></div>
    <div class="warning orange hidden">Only 3 rooms left!</div>
    <div class="block-wrapper">
      <div class="price-line line clearfix"><span class="info-label hidden">Best Price Guaranteed</span><span class="price"><span class="red-price">$480</span>$458<span class="regular-text">/Day</span></span></div>
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="/landing.html">Soho, Soma-Bay Resort</a></h2>
          <ul class="stars stars-hotel" data-stars="4.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="warning-list hidden">Only<span class="orange-text"> 3</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block"><span class="colored-line">
            <div class="number"><span>5</span></div>
            <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div></span>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="/landing.html"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>5</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
          <li><a class="open-map-item more-items" href="/landing.html">+10 items</a></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>5</div>
        <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
        <p class="watching-now pull-right"><span>5</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
  <div class="grid-item" data-aos="fade-up"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview"><a href="/landing.html">
        <div class="image" style="background-image: url('images/room4.png');"></div></a></div>
    <div class="warning red">Only 1 rooms left!</div>
    <div class="block-wrapper">
      <div class="price-line line clearfix"><span class="info-label hidden">Best Price Guaranteed</span><span class="price"><span class="red-price">$410</span>$360<span class="regular-text">/Day</span></span></div>
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="/landing.html">Hotel The Serras</a></h2>
          <ul class="stars stars-hotel" data-stars="4.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="warning-list">Only<span class="red-text"> 1</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block"><span class="colored-line">
            <div class="number"><span>5</span></div>
            <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div></span>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="/landing.html"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>5</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
          <li><a class="open-map-item more-items" href="/landing.html">+10 items</a></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>5</div>
        <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
        <p class="watching-now pull-right"><span>5</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
  <div class="grid-item" data-aos="fade-up"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview"><a href="/landing.html">
        <div class="image" style="background-image: url('images/room5.png');"></div></a></div>
    <div class="warning green">Only 6 rooms left!</div>
    <div class="block-wrapper">
      <div class="price-line line clearfix"><span class="info-label hidden">Best Price Guaranteed</span><span class="price"><span class="red-price">$545</span>$500<span class="regular-text">/Day</span></span></div>
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="/landing.html">Aria Hotel Budapest</a></h2>
          <ul class="stars stars-hotel" data-stars="4.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="warning-list">Only<span class="green-text"> 6</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block"><span class="colored-line">
            <div class="number"><span>5</span></div>
            <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div></span>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="/landing.html"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>5</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
          <li><a class="open-map-item more-items" href="/landing.html">+10 items</a></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>5</div>
        <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
        <p class="watching-now pull-right"><span>5</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
  <div class="grid-item" data-aos="fade-up"><span class="ribbon top hidden">Top Deal</span>
    <div class="preview"><a href="/landing.html">
        <div class="image" style="background-image: url('images/room6.png');"></div></a></div>
    <div class="warning red">Only 2 rooms left!</div>
    <div class="block-wrapper">
      <div class="price-line line clearfix"><span class="info-label hidden">Best Price Guaranteed</span><span class="price"><span class="red-price">$510</span>$460<span class="regular-text">/Day</span></span></div>
      <div class="top-wrapper clearfix">
        <div class="left-block top-block">
          <h2 class="title"><a href="/landing.html">Herods Vitalis Spa Hotel Eilat</a></h2>
          <ul class="stars stars-hotel" data-stars="4.47">
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
            <li class="hidden"><i class="fa orange-text fa-star-half" aria-hidden="true"></i></li>
          </ul>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
          <p class="address">485 Clawson St, Staten Island, NY 10306</p>
        </div>
        <div class="right-block top-block">
          <p class="warning-list">Only<span class="red-text"> 2</span> rooms left!</p>
        </div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <div class="left-block center-block"><span class="colored-line">
            <div class="number"><span>5</span></div>
            <div class="distance"><span class="distance-color">1.98 km.</span> to the centre of Central Park</div></span>
          <div class="trip">
            <div class="rate" data-rate="4.54"></div>
          </div><a class="reviews" href="javascript:void(0)">142 Reviews</a>
        </div>
        <div class="right-block center-block"><a class="views" href="/landing.html"><span class="right">View</span><span class="left"><i class="fa fa-eye" aria-hidden="true"></i>5</span></a></div>
        <div class="clearfix"></div>
        <div class="divider"></div>
        <ul class="features">
          <li><i class="icon-wifi"></i></li>
          <li><i class="icon-parking"></i></li>
          <li><i class="icon-old-typical-phone"></i></li>
          <li><i class="icon-television"></i></li>
          <li><i class="icon-shower-head"></i></li>
          <li><a class="open-map-item more-items" href="/landing.html">+10 items</a></li>
        </ul>
        <div class="views-bottom visible-xs"><i class="fa fa-eye" aria-hidden="true"></i>5</div>
        <p class="booked pull-right">Booked<span> 30</span> Times Today</p>
        <p class="watching-now pull-right"><span>5</span> People Looking Right Now</p>
      </div>
    </div>
  </div>
</div>