
<div class="review-block_comments-block">
  <div class="name"><span>Adam</span></div>
  <div class="country"><span class="flag"><img src="/images/icons/usa.png" alt="usa" srcset="/images/icons/usa.png 1x, /images/icons/usa@2x.png 2x, /images/icons/usa@3x.png 3x"></span><span>USA</span></div>
  <div class="date"><span>May 5th, 2017</span></div>
  <div class="comment clearfix">
    <ul class="stars stars-hotel">
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
    </ul>
    <p class="comment-rating">Perfect</p>
    <p class="comment-text">Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell.</p>
  </div>
</div>
<div class="review-block_comments-block">
  <div class="name"><span>Geralt</span></div>
  <div class="country"><span class="flag"><img src="/images/icons/usa.png" alt="usa" srcset="/images/icons/usa.png 1x, /images/icons/usa@2x.png 2x, /images/icons/usa@3x.png 3x"></span><span>USA</span></div>
  <div class="date"><span>June 25th, 2017</span></div>
  <div class="comment clearfix">
    <ul class="stars stars-hotel">
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
    </ul>
    <p class="comment-rating">Good</p>
    <p class="comment-text">Am terminated it excellence invitation projection as.</p>
  </div>
</div>
<div class="review-block_comments-block">
  <div class="name"><span>Anna Maria</span></div>
  <div class="country"><span class="flag"><img src="/images/icons/usa.png" alt="usa" srcset="/images/icons/usa.png 1x, /images/icons/usa@2x.png 2x, /images/icons/usa@3x.png 3x"></span><span>USA</span></div>
  <div class="date"><span>June 27th, 2017</span></div>
  <div class="comment clearfix">
    <ul class="stars stars-hotel">
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
    </ul>
    <p class="comment-rating">Perfect</p>
    <p class="comment-text">Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell.</p>
  </div>
</div>
<div class="review-block_comments-block">
  <div class="name"><span>Adam</span></div>
  <div class="country"><span class="flag"><img src="/images/icons/usa.png" alt="usa" srcset="/images/icons/usa.png 1x, /images/icons/usa@2x.png 2x, /images/icons/usa@3x.png 3x"></span><span>USA</span></div>
  <div class="date"><span>May 5th, 2017</span></div>
  <div class="comment clearfix">
    <ul class="stars stars-hotel">
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
    </ul>
    <p class="comment-rating">Perfect</p>
    <p class="comment-text">Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell.</p>
  </div>
</div>
<div class="review-block_comments-block">
  <div class="name"><span>Geralt</span></div>
  <div class="country"><span class="flag"><img src="/images/icons/usa.png" alt="usa" srcset="/images/icons/usa.png 1x, /images/icons/usa@2x.png 2x, /images/icons/usa@3x.png 3x"></span><span>USA</span></div>
  <div class="date"><span>June 25th, 2017</span></div>
  <div class="comment clearfix">
    <ul class="stars stars-hotel">
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
    </ul>
    <p class="comment-rating">Good</p>
    <p class="comment-text">Am terminated it excellence invitation projection as.</p>
  </div>
</div>
<div class="review-block_comments-block">
  <div class="name"><span>Anna Maria</span></div>
  <div class="country"><span class="flag"><img src="/images/icons/usa.png" alt="usa" srcset="/images/icons/usa.png 1x, /images/icons/usa@2x.png 2x, /images/icons/usa@3x.png 3x"></span><span>USA</span></div>
  <div class="date"><span>June 27th, 2017</span></div>
  <div class="comment clearfix">
    <ul class="stars stars-hotel">
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
      <li><i class="fa orange-text fa-star" aria-hidden="true"></i></li>
    </ul>
    <p class="comment-rating">Perfect</p>
    <p class="comment-text">Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell.</p>
  </div>
</div>