.container-fluid.white.pl-xs-0.pr-xs-0.pos-rel.payment-timer
	.loading-title-cover
		.loading-title
	.container.pl-xs-0.pr-xs-0
		.row
			.col-md-12.pl-xs-15.pr-xs-15.pl-md-0.pr-md-0.pl-0.pr-0
				.time
					span.text This Deal Expires In:
					span.timer#timer(data-time='25')
						span 25:
						span 00