.payment-details.clearfix
   .sidebar-block-wrapper.draggable-container
      .sidebar-block.ui.sticky.hidden-xs
         include ../details-item/placeholder/panel-placeholder
         .panel.panel-default.panel-first.placeholder-show
            .panel-heading
               h4.panel-title Your Price Summary
            .panel-body
               p Room
               p 20% VAT
            .panel-body.payment-details-full
               .label-block.text-right
                  span.info-label.green Best Price Guaranteed
               .price
                  span.text Price
                  span.number $2,688.86
               .old-price
                  span Old price $4,872.00
               .room-details
                  span For 2 Guests, 0 Child and 2 Nights
               //.change-details.change-dates-button.clearfix
               //   a.change(href='javascript:void(0)') Change your selection
         include ../details-item/placeholder/panel-placeholder
         .panel.panel-default.slider-panel.placeholder-show
            .panel-body.payment-details-info
               .block-slider.clearfix
                  .owl-carousel.owl-carousel-info-payment.photoswipe-block(data-slider-id='1', itemscope, itemtype="http://schema.org/ImageGallery")
                     - for(var i = 1; i < 4; i++)
                        figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
                           a(href='images/hotel-image' + i + '.jpg', itemprop='contentUrl', data-size='1086x908')
                              img(src='images/hotel-image' + i + '.jpg', alt='Alt ' + i)
                  .owl-thumbs.owl-thumbs-info-payment(data-slider-id='1')
                     - for(var i = 1; i < 4; i++)
                        button.owl-thumb-item
                           img(src='images/hotel-slider/' + i + '.png', alt='full slider image')
               span.info-label.green Best Price Guaranteed
               h2.title
                  a(href='javascript:void(0)') Holiday Inn Express Hotel Suites Las Vegas I-215 S. Beltway
               ul.stars.stars-hotel(data-stars='4.47')
                  li
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li.hidden
                     i.fa.orange-text.fa-star(aria-hidden='true')
                  li
                     i.fa.orange-text.fa-star-half(aria-hidden='true')
               .trip
                  .rate(data-rate='4.54')
                     img.rate-image(src='./images/icons/rate/4.5.svg', alt='rate')
               a.reviews(href='javascript:void(0)') 142 Reviews
               .address
                  span 6220 S. Rainbow Boulevard, Las Vegas Nevada, Nv , United States
            .panel-body.change-room
               .change-room-button.change-dates-button
                  span.type Room: Superior Room
                  //a.change(href='javascript:void(0)') Change
         include ../details-item/placeholder/panel-placeholder
         .panel.panel-default.panel-second.placeholder-show
            .panel-heading
               h4.panel-title Your Booking Details
            .panel-body.payment-booking-details
               .days-details
                  p Check-in:
                  p.start
                     span.dayName Friday
                     span.day  21
                     span.month  July
                     span.year  2017
                     span  form 14:00
                  br
                  p Check-out:
                  p.end
                     span.dayName Friday
                     span.day  27
                     span.month  July
                     span.year  2017
                     span  form 14:00
                  br
                  p Total length of stay:
                  p.total
                     span.nights 2
                     span  nights
               //.change-dates-button.clearfix
               //   a.change(href='javascript:void(0)') Change Dates
   .payment-block#sticky-wrap
      include payment-block