extends parts/_layout
block vars
   - page = {name: '404-search', classes: 'wide-container placeholder', title: 'Sorry, No Hotels Found'}
block main
   include parts/navigation
   include parts/search
   include parts/search-top-options
   .container.pl-0.pr-0.pos-rel
      aside.sidebar-filter.same-height
         .mobile-filter-line.visible-xs
            i.fa.fa-filter(aria-hidden='true')
            | Search filter
         .panel-group.mb-0.mt-xs-50.ui.sticky
            include parts/aside
      .main-wrapper.same-height#sticky-wrap
         include parts/content-404-search
         .black-bg-search
         .black-bg-map
         include parts/map-item