doctype html
html(lang='en')
   include parts/head
   body
      include parts/navigation
      include parts/search
      include parts/search-top-options
      .container.pl-0.pr-0
         include parts/aside
         include parts/content
      include parts/footer
      include parts/scripts
