extends parts/_layout
block vars
   - page = {name: 'index', classes: 'wide-container placeholder', title: 'Booking Service'}
block main
   include parts/navigation
   include parts/search
   include parts/search-top-options
   .container.pl-0.pr-0.pos-rel
      include parts/aside
      .main-wrapper#sticky-wrap
         include parts/content
         .black-bg-search
         .black-bg-map
         include parts/map-item