doctype html
html(lang='en')
   include parts/head
   body
      include parts/navigation
      include parts/search
      include parts/search-top-options
      .container.pl-0.pr-0.pos-rel
         include parts/aside
         .main-wrapper#sticky-wrap
            include parts/content
            include parts/map-item
      include parts/footer
      include parts/scripts