extends parts/_layout
block vars
   - page = {name: 'index', classes: 'wide-container placeholder', title: 'Booking Service'}
block main
   include parts/navigation
   include parts/search
   .container.pl-0.pr-0.pos-rel
      aside.sidebar-filter.same-height.to-left
         .mobile-filter-line.visible-xs
            i.fa.fa-chevron-up(aria-hidden='true')
            | Search filter
         .panel-group.mb-0.mt-xs-50.ui.sticky
            include parts/aside
      .main-wrapper.hidden-sidebar-filter#sticky-wrap
         include parts/content
         .black-bg-search
         include parts/full-filter-search
   .black-bg-map
   include parts/map-item