extends parts/_layout
block vars
   - page = {name: 'landing', classes: 'landing placeholder', title: 'Express Hotel Suites Las Vegas'}
block main
   include parts/navigation
   include parts/search
   include parts/landing/hotel-title
   include parts/landing/information-block
   .container.pos-rel.booking-wrapper
      .row
         include parts/landing/booking-table
         .popup.green
            .popup_title
               span Hurry, if you don't book our amazing deals could be gone! Book now.
            a.popup_close(href='javascript:void(0)')
               i.fa.fa-close
         include parts/landing/hotel-facilities
         .popup.green
            .popup_title
               span.fs-m Tip: Stay Flexible
            .popup_text
               span Since your dates are a while from now, pick free cancelation to stay flexible.  A change of plans is a breeze when you have free cancellation!
            a.popup_close(href='javascript:void(0)')
               i.fa.fa-close
         include parts/landing/hotel-information
   .landing-popup
      .black-bg-map
      include parts/map-item
   .visible-xs
      aside.sidebar-filter.same-height
         .mobile-filter-line.visible-xs
            i.fa.fa-chevron-up(aria-hidden='true')
            | Settings
         .mobile-filter-landing.panel-group.mb-0.mt-xs-50.pt-xs-30
            .onoffswitch-mobile-wrapper.clearfix
               .onoffswitch-mobile.onoffswitch-mobile-gallery
                  span Gallery
                  input#myonoffswitch-mobile-gallery.myonoffswitch.onoffswitch-checkbox(type='checkbox', name='myonoffswitch-mobile-gallery', checked='checked')
                  label.onoffswitch-label(for='myonoffswitch-mobile-gallery')
                     span.onoffswitch-inner
                     span.onoffswitch-switch
               .onoffswitch-mobile.onoffswitch-mobile-map
                  span Map
                  input#myonoffswitch-mobile-map.myonoffswitch.onoffswitch-checkbox(type='checkbox', name='myonoffswitch-mobile-map')
                  label.onoffswitch-label(for='myonoffswitch-mobile-map')
                     span.onoffswitch-inner
                     span.onoffswitch-switch
            .tripadvisor-logo
               img(src='images/tripadvisor-logo.svg', alt='tripadvisor logo')