extends parts/_layout
block vars
   - page = {name: 'landing', classes: 'landing placeholder', title: 'Express Hotel Suites Las Vegas'}
block main
   include parts/navigation
   include parts/landing/hotel-title
   .container.information-block-wrapper
      .row
         include parts/landing/information-block
   .container.pos-rel.booking-wrapper
      .row
         include parts/landing/booking-table
         .popup.green
            .popup_title
               span Hurry, if you don't book our amazing deals could be gone! Book now.
            a.popup_close(href='javascript:void(0)')
               i.fa.fa-close
         include parts/landing/hotel-facilities
         .popup.green
            .popup_title
               span.fs-m Tip: Stay Flexible
            .popup_text
               span Since your dates are a while from now, pick free cancelation to stay flexible.  A change of plans is a breeze when you have free cancellation!
            a.popup_close(href='javascript:void(0)')
               i.fa.fa-close
         include parts/landing/hotel-information
   .landing-popup
      .black-bg-map
      include parts/map-item
   .visible-xs
      aside.sidebar-filter.same-height
         .mobile-filter-line.visible-xs
            i.fa.fa-filter(aria-hidden='true')
            | Search filter
         .panel-group.mb-0.mt-xs-50
            include parts/aside