extends parts/_layout
block vars
   - page = {name: 'payment', classes: 'payment placeholder', title: 'Payment'}
block main
   include parts/navigation
   include parts/payment/payment-timer
   .container.payment-details-wrapper
      .row
         include parts/payment/payment-details